.background {
    margin-top: 1%;
    background: #fff;
    width: 100%;
}

td,
th {
    border-bottom: 1px solid #ECECEC;
    text-align: left;
    padding: 7px;
}

tr:hover {
    box-shadow: 1px 2px 5px 1px #ccc;
}

.top {
    position: absolute;
    top: 72px;
    right: 1%;
}