<div *ngIf="type === 'Document'">
    <app-folder-view [subDocumentList]="searchOutputResult" [searchParams]="searchParams" [typeSearch]="genericSearch">
    </app-folder-view>
</div>
<div class="ui-g dashboard" *ngIf="type === 'Correspondence'">
    <div class="ui-g-12 global-sales">
        <p-tabView (onChange)="onTabChange($event)" [activeIndex]="activeIndexNumber">
            <p-tabPanel header="Work type" leftIcon="ui-icon-filter-list">
                <div class="ui-g-12">
                    <!-- <i tooltipPosition="top" pTooltip="{{'Download As Excel' | translate}}" [class]=" (folderActions.length> 0 || tieredItemsActions.length > 0) ? 'topAdd material-icons': 'topRemove material-icons'">vertical_align_bottom</i> -->
                    <button type="button" pButton icon="ui-icon-file-download" tooltipPosition="top" pTooltip="{{'Download As Excel' | translate}}" (click)="downloadAdExcelworkFlowSearched()" class="top"> </button>

                </div>
                <table>
                    <thead>
                        <tr>
                            <th width="20%">
                                Ref no.
                            </th>
                            <th width="30%">
                                Subject
                            </th>
                            <th width="10%">
                                Status
                            </th>
                            <th width="20%">
                                Created By
                            </th>
                            <th width="10%">
                                Created on
                            </th>
                            <th width="5%"></th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let work of listOfTaskActivities" class="showRemove">
                        <tr>
                            <td class=" pointer" (click)="history(work)">
                                {{work.refNo}}
                            </td>
                            <td class=" pointer" (click)="history(work)">
                                {{work.subject}}
                            </td>
                            <td class=" pointer" (click)="history(work)">
                                {{work.status}}
                            </td>
                            <td class=" pointer" (click)="history(work)">
                                {{work.createdUserName}}
                            </td>
                            <td class=" pointer" (click)="history(work)">
                                {{work.createdOn}}
                            </td>
                            <td>
                                <button pButton class="ui-g-nopad removeClass" *ngIf="work.primaryDoc" (click)="download(work.primaryDoc)" type="button" icon="ui-icon-file-download" tooltipPosition="top" pTooltip="{{'Download' | translate}}">
                                                    </button>
                            </td>
                            <td>
                                <button pButton class="ui-g-nopad removeClass" *ngIf="work.primaryDoc" (click)="attachment(work)" type="button" icon="ui-icon-attach-file" tooltipPosition="top" pTooltip="{{'Attachments' | translate}}">
                                                      </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </p-tabPanel>
            <p-tabPanel header="Activity Type" leftIcon="ui-icon-local-activity" *ngIf="activityShow">
                <app-activity [typeId]="selectedTypeId" [readworkitem]="'readonly'"></app-activity>
            </p-tabPanel>
        </p-tabView>

    </div>
</div>

<ngx-smart-modal #attachmentsModel identifier="attachmentsModel">
    <h3>{{'Attachments' | translate }}</h3>
    <div class="attachmentClass">
        <table class="table background">
            <thead>
                <th width="35%">
                    {{'Document Title' | translate }}
                </th>
                <th width="30%">
                    {{'DocType Name' | translate }}
                </th>
                <th width="15%">
                    {{'Type' | translate }}
                </th>
                <th width="15%">
                    {{'Format' | translate }}
                </th>
                <th width="5%">

                </th>
            </thead>
            <tbody>
                <tr *ngFor="let history of attachmentres">
                    <td>
                        {{history.docTitle}}
                    </td>
                    <td>
                        {{history.docType.name}}
                    </td>
                    <td>
                        {{history.docType.type}}
                    </td>
                    <td>
                        {{history.format}}
                    </td>
                    <td>
                        <button pButton type="button" *ngIf="history.docType.type != 'FORM'" icon="ui-icon-file-download" class="pointer" (click)="download(history.docId)" tooltipPosition="top" pTooltip="{{'Download' | translate}}"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ngx-smart-modal>