<div class="card">
    <div [class]="selectedLanguage === 'ar' ? 'urlPosRight': 'utlPosLeft'">
        {{'Reports' | translate}}
    </div>
    <p-tabView (onChange)="onTabChange($event)" [activeIndex]="activeIndexNumber">
        <p-tabPanel header="{{'List of reports' | translate }}" leftIcon="ui-icon-check">
            <div class=" ui-g" *ngIf="showResports">
                <table class="table table-hover table-responsive background">
                    <thead>
                        <th>{{'Name' | translate }}</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let value of reportResults" class="pointer" (click)="executeReports(value)">
                            <td>{{value.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class=" ui-g" *ngIf="!showResports">
                <label>{{'No Reports are available' | translate }}</label>
            </div>
        </p-tabPanel>
        <!-- <p-tabPanel class="ui-g-nopad global-sales " header="{{'Report View' | translate }} " *ngIf="reportPdf" leftIcon="ui-icon-pageview">
            <iframe width="100%" height="580" [src]="pdfUrl" type="application/pdf"></iframe>
            <pdf-viewer [src]="pdfUrl" [render-text]="true" style="display: block;"></pdf-viewer>
        </p-tabPanel> -->
        <p-tabPanel class="ui-g-nopad global-sales " header="{{'Report View' | translate }} " *ngIf="reportHTML" leftIcon="ui-icon-pageview">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-g-11"></div>
                    <div class="ui-g-1">
                        <button pButton icon="ui-icon-file-download" (click)="printDocument()" tooltipPosition="top" pTooltip="{{'Print preview' | translate}}"></button>
                    </div>
                </div>
            </div>
            <iframe [src]="htmlData" allowfullscreen webkitallowfullscreen mozallowfullscreen height="700" width="100%" frameborder="0" marginheight="0" marginwidth="0"></iframe>
            <!-- <iframe width="100%" height="580" [src]="pdfUrl" type="application/pdf"></iframe> -->
            <!-- <pdf-viewer [src]="pdfUrl" [render-text]="true" style="display: block;"></pdf-viewer> -->
        </p-tabPanel>
    </p-tabView>

</div>

<ngx-smart-modal #reportFilterModel identifier="reportFilterModel">
    <h3>{{ reportName | translate }}</h3>
    <form [formGroup]="tempelateRender" (ngSubmit)="formFilterSubmit($event)">
        <div class="global-sales ">
            <div class="ui-g ui-lg-12 ui-sm-12">
                <div class="ui-g-12 ui-lg-12 ui-sm-12" *ngFor="let prop of formFilterproperties;let k = index">
                    <div class="ui-lg-2 ui-sm-2 ui-g-2">
                        <label>{{prop.label | translate}} <sup class="redstar" *ngIf="prop.req === 'TRUE' ? true : false">*</sup></label>
                    </div>
                    <div class="ui-lg-8 ui-sm-8 ui-md-8 ui-g-8">
                        <input type="text" *ngIf="prop.type === 'TEXT' " [formControlName]="prop.name" [id]="prop.name" [name]="prop.name" placeholder="{{'Enter' | translate}} {{prop.label | translate}} " class="md-inputfield" [attr.maxlength]="prop.length" pInputText>
                        <input type="text" pKeyFilter="int" [name]="prop.name" [id]="prop.name" [formControlName]="prop.name" *ngIf="prop.type === 'NUMBER' " placeholder="{{'Enter' | translate}} {{prop.label | translate}}" class="form-control" [attr.maxlength]="prop.length"
                            pInputText>
                        <div *ngIf="prop.type === 'TEXTAREA'">
                            <textarea pInputTextarea type="text" [id]="prop.name" placeholder="{{'Enter' | translate}} {{prop.label | translate}}" [formControlName]="prop.name" rows="8">
                                    </textarea>
                            <!-- <textarea [rows]="3" [cols]="30" pInputTextarea [id]="prop.name" [innerHTML]="prop.value[0].value" disabled autoResize="autoResize"></textarea> -->
                            <!-- <quill-editor [id]="prop.name" [formControlName]="prop.name"></quill-editor> -->
                            <!-- <p-editor [style]="{'height':'250px'}" [id]="prop.name" [formControlName]="prop.name"></p-editor> -->
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.type === 'TIME'">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-calendar [id]="prop.name" showTime="true" [timeOnly]="true" [formControlName]="prop.name" placeholder="{{'Select' | translate}} {{prop.label | translate}}"></p-calendar>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.type === 'TIME'">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-calendar [id]="prop.name" showTime="true" [timeOnly]="true" [formControlName]="prop.name" placeholder="{{'Select' | translate}} {{prop.label | translate}}"></p-calendar>
                                </div>
                            </div>
                        </div>
                        <!-- <my-date-picker class="col-12" [id]="prop.name" *ngIf="prop.type === 'DATE' " [options]="myDatePickerOptions" [formControlName]="prop.name" [attr.required]="prop.rOnly === 'TRUE' ? true : false"></my-date-picker> -->
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.type === 'DATE' && selectedLanguage !== 'ar' ">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-calendar [showIcon]="true" placeholder="Select date" [formControlName]="prop.name" *ngIf="ddmmyy" dateFormat="dd/mm/yy" [name]="prop.name" [id]="prop.name"></p-calendar>
                                    <p-calendar [showIcon]="true" placeholder="Select date" [formControlName]="prop.name" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [name]="prop.name" [id]="prop.name"></p-calendar>

                                </div>
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.type === 'DATE' && selectedLanguage === 'ar' ">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-calendar [showIcon]="false" placeholder="Select date" [formControlName]="prop.name" *ngIf="ddmmyy" dateFormat="dd/mm/yy" [name]="prop.name" [id]="prop.name"></p-calendar>
                                    <p-calendar [showIcon]="false" placeholder="Select date" [formControlName]="prop.name" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [name]="prop.name" [id]="prop.name"></p-calendar>

                                </div>
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.type ===  'LOOKUP'">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-dropdown [options]="prop.lookupOptions" [formControlName]="prop.name" [autoWidth]="false" [id]="prop.name" (onChange)="dbLookupDropdown($event, k )"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.type === 'DBLOOKUP'">
                            <div class=" ui-grid-row ">
                                <!-- <div class="ui-grid-col-12 ">
                                            <p-dropdown [options]="prop.lookupOptions" [formControlName]="prop.name" [autoWidth]="false" [id]="prop.name" filter="true" placeholder="{{'Select' | translate}}" (onChange)="dbLookupDropdown($event,ind, i , j , k )"></p-dropdown>
                                        </div> -->
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.type ===  'STEXTTA'">
                            <div class=" ui-grid-row ">
                                <!-- <div class="ui-grid-col-12 ">
                                            <p-autoComplete [formControlName]="prop.name" [(ngModel)]="prop.dbDummyValue" field="name" [suggestions]="prop.dbValue" searchtext (completeMethod)="onSearchAuto($event , prop.dblookup , i , j , k)" [multiple]="false" [id]="prop.name" [dropdown]="true"
                                                [minLength]="3" placeholder="{{'Single Search' | translate}}" (onSelect)="selectSingle($event, ind, i , j, k)"></p-autoComplete>
                                        </div> -->
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.type ===  'MTEXTTA'">
                            <div class=" ui-grid-row ">
                                <!-- <div class="ui-grid-col-12 ">
                                            <p-autoComplete [formControlName]="prop.name" [(ngModel)]="prop.dbDummyValue" field="name" [suggestions]="prop.dbValue" (completeMethod)="onSearchAuto($event , prop.dblookup , i , j , k)" [multiple]="true" [id]="prop.name" [dropdown]="true" [minLength]="3"
                                                placeholder="{{'Multiple Search' | translate }}" (onSelect)="selctedMultiple($event, ind, i , j , k);" (onUnselect)="unselectMultiple($event, ind, i , j , k)" immediate="true"></p-autoComplete>
                                        </div> -->
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.type === 'CHECKBOX'">
                            <div class=" ui-grid-row ">
                                <div class="ui-grid-col-12 ">
                                    <!-- <p-checkbox [name]="prop.name" [id]="prop.name" binary="true" [(ngModel)]="true" [ngModelOptions]="{standalone: true}"></p-checkbox> -->
                                    <p-checkbox [name]="prop.name" [id]="prop.name" binary="true" [(ngModel)]="prop.value[0].value" [ngModelOptions]="{standalone: true}"></p-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-lg-2 ui-g-2"></div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix float-right ">
                <button type="Submit" pButton [disabled]="!tempelateRender.valid" icon="ui-icon-send" label="{{'Submit' | translate }}"></button>
                <!-- <button type="button" pButton (click)="reportFilterModel.close()" icon="ui-icon-cancel" label="{{'Close' | translate }}"></button> -->
            </div>
        </p-footer>
    </form>
</ngx-smart-modal>

<ngx-smart-modal #printDocumentModel identifier="printDocumentModel">
    <h3>{{ 'Print Preview' | translate }}</h3>
    <div style="max-height: 580px;overflow-y: auto">
        <iframe width="100%" height="500px" [src]="pdfUrl" type="application/pdf"></iframe>
    </div>
</ngx-smart-modal>