.ui-inputtext {
    width: 100% !important;
}

.listSearchWidth {
    width: 300px;
}

.toggleWidth {
    margin-top: 7px;
}

.pointer {
    cursor: pointer !important;
}

.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu>li.profile-item>a .profile-image-wrapper img {
    width: 30px !important;
    height: 30px !important;
}

.searchCss {
    background: linear-gradient(to right, #ffffff, #e2e2e2);
}

.searchIcon {
    color: black
}

.toppadd {
    margin-top: -7px !important;
}

.notify-container {
    position: relative;
    display: inline-block;
}

.notify-bubble {
    position: absolute;
    top: -8px;
    right: -7px;
    padding: 2px 5px 2px 6px;
    background-color: #e20f0f;
    color: white;
    font-size: 0.85em;
    z-index: 999;
    border-radius: 50%;
    box-shadow: 1px 1px 1px gray;
}

.taskCount {
    background-color: #f21a1a !important;
    padding: 3px !important;
}

.blueBack {
    background: #eef1f3;
    padding: 10px;
}

.pinkBack {
    background: #ece1eb;
    ;
    padding: 10px;
}

.cardShadow {
    box-shadow: 1px 1px 4px 1px #ccc;
    cursor: pointer;
}

.cardShadow:hover {
    box-shadow: 7px 4px 4px 1px #ccc;
    cursor: pointer;
}