<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-toolbar>
            <div class="ui-toolbar-group-left" *ngIf="type === 'inbox' || type === 'document'">
                <button pButton type="button" *ngIf="!docisReserved && documentActionsList.includes('MODIFY')" (click)="checkOut()" icon="ui-icon-call-missed-outgoing" tooltipPosition="top" pTooltip="{{'Check out document' | translate}}"></button>
                <button pButton type="button" *ngIf="docisReserved && documentActionsList.includes('MODIFY')" (click)="checkIn(); checkInModel.open();" icon="ui-icon-update" tooltipPosition="top" pTooltip="{{'Check in document' | translate}}"></button>
            </div>
            <!-- <div class="ui-toolbar-group-left">
                <button pButton type="button" icon="ui-icon-share" *ngIf="documentActionsList.includes('VIEW')" (click)="op2.toggle($event)" tooltipPosition="top" pTooltip="{{'Shareable link' | translate}}"></button>
            </div> -->
            <div class="ui-toolbar-group-right">
                <button pButton type="button" icon="ui-icon-delete" *ngIf="documentActionsList.includes('DELETE')" (click)="deleteDocumentGeneric.open()" tooltipPosition="top" pTooltip="{{'Delete document' | translate}}"></button>
                <button pButton type="button" icon="ui-icon-book" *ngIf="documentActionsList.includes('INDEX')" (click)="reindexDocument()" tooltipPosition="top" pTooltip="{{'Reindex document' | translate}}"></button>
                <!-- (click)="openWindow()" -->
                <button pButton type="button" (click)="openWindow()" icon="ui-icon-share" tooltipPosition="top" pTooltip="{{'Mail' | translate}}"><a href="mailto:?cc=''&bcc=''
                &amp;subject={{subject}}
                &amp;body=The%20body%20of%20the%20email"></a></button>
                <button pButton type="button" icon="ui-icon-queue-play-next" (click)="workFlowDocumentGeneric.open()" tooltipPosition="top" pTooltip="{{'Document Workflow' | translate}}"></button>
                <!-- <button pButton type="button" icon="ui-icon-file-download" (click)="downloadDocument()" *ngIf="documentActionsList.includes('DOWNLOAD')" tooltipPosition="top" pTooltip="{{'Download' | translate}}"></button> -->
                <!-- <button pButton type="button" icon="ui-icon-share" (click)="copyTextToclipboard()" <i class="fa fa-indent"></i> class="orange-btn"></button> -->
            </div>
        </p-toolbar>
        <p-overlayPanel #op2 [showCloseIcon]="true" [dismissable]="true">
            <span class="blackText"> {{sharedDownloadlink}}</span>
        </p-overlayPanel>
        <br>
        <p-accordion>
            <p-accordionTab header="{{ 'Properties' | translate}}" [selected]="true">
                <div class="ui-g ui-g-nopad">
                    <div class="ui-g-12 ui-md-12">
                        <button class="ui-toolbar-group-right" pButton type="button" icon="ui-icon-edit" (click)="propertyEditClick();"></button>
                    </div>
                </div>
                <div>
                    <div class="ui-g ">
                        <div class="ui-g-12 ui-md-12 ui-g-nopad">
                            <div class="ui-g-12 ui-md-4">
                                <label for="input">{{ 'DocClass' | translate}}</label>
                            </div>
                            <div class="ui-g-12 ui-md-8">
                                <span class="md-inputfield">
                                  <label for="input">{{docPropertyName}}</label>
                              </span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!propertyEdit">
                        <div class="ui-g ui-g-nopad" *ngFor="let prop of docPropertyprops">
                            <div class="ui-g-12 ui-md-12 ui-g-nopad" *ngIf="prop.dtype !== 'OBJECT'">
                                <div class="ui-g-12 ui-md-4">
                                    <label for="input">{{ prop.name | translate}}</label>
                                </div>
                                <div class="ui-g-12 ui-md-8">
                                    <span class="md-inputfield">
                                          <label for="input">{{prop.mvalues}}</label>
                                      </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="form-group" [formGroup]="editProp" *ngIf="propertyEdit" (ngSubmit)="submitedit($event, docPropertyName)">
                    <div class="ui-g" *ngFor="let prop of docPropertyprops">
                        <div class="ui-g-12 ui-md-4">
                            <label for="input">{{prop.name | translate}}</label>
                        </div>
                        <div class="ui-g-12 ui-md-8" *ngIf="prop.dtype !== 'OBJECT'">
                            <div class="col-12 col-md-12 left" *ngIf="prop.dtype === 'DATE'">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <p-calendar [showIcon]="true" [id]="prop.name" placeholder="Date" [formControlName]="prop.symName" *ngIf="ddmmyy" dateFormat="dd/mm/yy" id="{{prop.symName}}"></p-calendar>
                                            <p-calendar [showIcon]="true" [id]="prop.name" placeholder="Date" [formControlName]="prop.symName" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" id="{{prop.symName}}"></p-calendar>
                                        </div>
                                    </div>
                                </div>
                                <!-- <my-date-picker class="col-12" [id]="prop.name" [options]="myDatePickerOptions" [formControlName]="prop.symName" [attr.required]="prop.rOnly === 'TRUE' ? true : false"></my-date-picker> -->
                            </div>
                            <div class="ui-g-12 ui-md-12" *ngIf="prop.dtype === 'STRING'">
                                <span class="md-inputfield" *ngIf="prop.symName !== 'documenttitle' && prop.lookups === undefined">
                                              <input class="ui-g-12 ui-md-12" id="{{prop.symName}}" type="text"  pInputText  [name]="prop.symName" [value]="prop.mvalues" [formControlName]="prop.symName" [readonly]="!prop.rOnly"/>
                                          </span>
                                <span class="md-inputfield" *ngIf="prop.symName === 'documenttitle' && prop.lookups === undefined">
                                            <input class="ui-g-12 ui-md-12" id="{{prop.symName}}" type="text"  pInputText  [name]="prop.symName" [value]="prop.mvalues" [formControlName]="prop.symName" [readonly]="!prop.rOnly"/>
                                        </span>

                                <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.symName !== 'documenttitle' && prop.lookups !== undefined">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <select class="ui-g ui-g-12" id="{{prop.symName}}" [formControlName]="prop.symName" style="background: #fff">
                                                        <option *ngFor="let document of prop.lookups" [value]="document.value">{{document.label}}</option>
                                                    </select>
                                            <!-- <p-dropdown class="ui-g-12" id="{{prop.symName}}" [formControlName]="prop.symName" [options]="prop.lookups" [autoWidth]="false" placeholder="Select {{prop.symName}}"></p-dropdown> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-12" *ngIf="prop.dtype === 'LONG'">
                                <span class="md-inputfield">
                                              <input class="ui-g-12 ui-md-12" id="{{prop.symName}}" type="number"  pInputText  [name]="prop.symName" [value]="prop.mvalues" [formControlName]="prop.symName" [readonly]="!prop.rOnly"/>
                                          </span>
                            </div>

                        </div>


                    </div>
                    <div class="ui-g ui-g-nopad">
                        <div class="ui-g-4 ui-md-4">

                        </div>
                        <div class="ui-g-4 ui-md-4">
                            <button pButton type="submit" label="{{'Save' | translate}}" icon="ui-icon-save"></button>
                        </div>
                        <div class="ui-g-4 ui-md-4">

                        </div>
                    </div>
                </form>
            </p-accordionTab>
            <p-accordionTab header="{{ 'Versions' | translate}}">
                <div>
                    <div class="ui-g ui-g-nopad">
                        <div class="ui-g-12 ui-md-12 ui-sm-12 ui-g-nopad global-sales">
                            <table class="ui-g-12 ui-md-12 ui-sm-12" style="max-height: 300px; overflow-y: auto">
                                <thead>
                                    <td>

                                    </td>
                                    <td>
                                        {{'Created By' |translate}}
                                    </td>

                                    <td>
                                        {{'Added on' | translate}}
                                    </td>

                                    <td>
                                        {{'Size' | translate}}
                                    </td>
                                    <td>
                                        {{'Version' | translate}}
                                    </td>
                                    <td>

                                    </td>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let version of versionsList; let i = index" class="showRemove">
                                        <td class="pointer" *ngIf="version.format === 'application/pdf'"><img src='assets\images\pdf-icon.png' alt="folder" style="width:20px; height: 20px">
                                        </td>
                                        <td class="pointer" *ngIf="version.format === 'image/png'"><img src='assets\images\png-icon.png' alt="folder" style="width:20px; height:20px">
                                        </td>
                                        <td class="pointer" *ngIf="version.format !== 'application/pdf' && version.format !== 'image/png'"><img src='assets\images\Docs-icon.png' alt="folder" style="width:20px; height: 20px">
                                        </td>
                                        <td>
                                            {{version.creator}}
                                        </td>

                                        <td>
                                            {{version.addOn}}
                                        </td>

                                        <td>
                                            <span *ngIf="((version.size / 1024).toFixed(0)) > '1'">{{(version.size / 1024).toFixed(0)}} KB</span>
                                            <span *ngIf="((version.size / 1024).toFixed(0)) === '0' || ((version.size / 1024).toFixed(0)) === '1'"> 1 KB</span>
                                        </td>

                                        <td>
                                            {{version.verNo}}
                                        </td>
                                        <td>
                                            <button class="ui-toolbar-group-right removeClass" pButton type="button" icon="ui-icon-file-download" (click)="downloadThisDocument(version.id)"></button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </p-accordionTab>
            <p-accordionTab header="{{ 'System Properties' | translate}}">
                <div class="ui-g">
                    <div class="ui-g-1 ui-md-1"></div>
                    <div class="ui-g-10 ui-md-10">
                        <div *ngIf="docProperty !== undefined">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-12  ui-g-nopad">
                                    <div class="ui-g-12 ui-md-4">
                                        <label for="input"> {{'Document Class' |translate}}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <span class="md-inputfield">
                                      <label for="input"> {{docProperty.docclass}}</label>
                                  </span>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-12  ui-g-nopad">
                                    <div class="ui-g-12 ui-md-4">
                                        <label for="input"> {{'Created By' | translate}}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <span class="md-inputfield">
                                      <label for="input"> {{docProperty.creator}}</label>
                                  </span>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g ui-g-nopad">
                                <div class="ui-g-12 ui-md-12  ui-g-nopad">
                                    <div class="ui-g-12 ui-md-4">
                                        <label for="input">{{'Modifier' | translate}}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <span class="md-inputfield">
                                      <label for="input">{{docProperty.modifier}}</label>
                                  </span>
                                    </div>
                                </div>
                            </div>

                            <div class="ui-g ui-g-nopad">
                                <div class="ui-g-12 ui-md-12  ui-g-nopad">
                                    <div class="ui-g-12 ui-md-4">
                                        <label for="input">{{'Created On' | translate }}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <span class="md-inputfield">
                                              <label for="input">{{docProperty.addOn}}</label>
                                          </span>
                                    </div>
                                </div>
                            </div>

                            <div class="ui-g ui-g-nopad">
                                <div class="ui-g-12 ui-md-12  ui-g-nopad">
                                    <div class="ui-g-12 ui-md-4">
                                        <label for="input"> {{'Modified On' | translate}} </label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <span class="md-inputfield">
                                              <label for="input"> {{docProperty.modOn}}</label>
                                          </span>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g ui-g-nopad">
                                <div class="ui-g-12 ui-md-12  ui-g-nopad">
                                    <div class="ui-g-12 ui-md-4">
                                        <label for="input">{{'Size'| translate}}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <span class="md-inputfield">
                                              <label for="input">{{docProperty.size}}</label>
                                          </span>
                                    </div>
                                </div>
                            </div>

                            <div class="ui-g ui-g-nopad">
                                <div class="ui-g-12 ui-md-12  ui-g-nopad">
                                    <div class="ui-g-12 ui-md-4">
                                        <label for="input">{{'Format' | translate}}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <span class="md-inputfield">
                                              <label for="input"> {{docProperty.format}}</label>
                                          </span>
                                    </div>
                                </div>
                            </div>

                            <div class="ui-g ui-g-nopad">
                                <div class="ui-g-12 ui-md-12  ui-g-nopad">
                                    <div class="ui-g-12 ui-md-4">
                                        <label for="input">{{'Document Id' | translate}}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <span class="md-inputfield">
                                              <label for="input"> {{docProperty.id}}</label>
                                          </span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="ui-g-1 ui-md-1"></div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="{{ 'Permission' | translate}}">
                <div class="ui-g ui-g-nopad">
                    <div class="ui-g-12 ui-md-12">
                        <button class="ui-toolbar-group-right" pButton type="button" icon="ui-icon-person-add" *ngIf="documentActionsList.includes('PERMISSION')" (click)="documentpermissionModel.open()" label="{{'Add Permission' | translate}}"></button>
                    </div>
                </div>
                <div class="ui-g global-sales">
                    <table class="ui-g-12 ui-md-12">
                        <thead>
                            <tr>
                                <th>
                                    {{'Grantee Name' | translate}}
                                </th>
                                <th>
                                    {{'Access Level' | translate}}
                                </th>
                                <th>
                                    {{'Permission Source' | translate}}
                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let permission of documentPermission" class="showRemove">
                                <td>
                                    <span> {{permission.granteeName}}</span>
                                    <!-- <input type="text" class="form-control col-md-12" name="permission" id="" value="{{permission.granteeName}}" disabled> -->
                                </td>
                                <td>
                                    {{permission.accessLevel}}
                                    <!-- <input type="text" class="form-control col-md-12" name="permission" id="" value="{{permission.accessLevel}}" disabled> -->
                                </td>
                                <td>
                                    {{permission.permissionSource}}
                                </td>

                                <td>
                                    <!-- <i class="fa fa-cog" aria-hidden="true" (click)="editPermissions(permission , permissionModel)"></i> -->
                                    <!-- *ngIf=" permission.permissionSource === 'Direct' && documentActionsList.includes('PERMISSION')" -->
                                    <button pButton type="button" class="removeClass" icon="ui-icon-edit" (click)="editPermissions(permission);documentpermissionEditModel.open()" *ngIf=" permission.permissionSource === 'Direct' && documentActionsList.includes('PERMISSION')"></button>

                                    <button pButton type="button" class="removeClass" icon="ui-icon-delete" (click)="permissionConformationModel.open(); deletePermissionsDetail = permission;" *ngIf="documentActionsList.includes('PERMISSION')"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </p-accordionTab>
            <p-accordionTab header="{{'Path' | translate}}">
                <div class="ui-g ui-g-nopad">
                    <div class="ui-g-12 ui-md-12">
                        <button class="ui-toolbar-group-right" pButton type="button" label="Add to folder" icon="fa-plus" (click)="addToFolder();moveFolderModelGeneric.open()"></button>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-2 ui-md-2"></div>
                    <div class="ui-g-8 ui-md-8">
                        <div class="ui-g-12 ui-md-12  ui-g-nopad">
                            <table class="ui-g-12 ui-md-12">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            Path:
                                        </th>
                                        <th width="4%">
                                            Action
                                        </th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let foldername of folderFileName; let i = index" class="showRemove">
                                        <td>
                                            {{foldername.path}}
                                        </td>
                                        <td width="4%" class="removeClass">
                                            <!-- <button class="ui-toolbar-group-right" pButton type="button" icon="ui-icon-person-add" (click)="goTotheCurentPath()"></button>
                                            <button class="ui-toolbar-group-right" pButton type="button" lablel="Remove from folder" icon="ui-icon-person-add" (click)="goTotheCurentPath()"></button> -->
                                            <button pButton type="button" icon="ui-icon-delete" tooltipPosition="top" pTooltip="{{'Remove from this folder' | translate}}" (click)="unfileTheCurrentDocument(foldername);unfileDocumentGeneric.open()"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab class="dashboard" header="{{'Annotations' | translate}}">
                <div class="ui-g global-sales" *ngIf="listOfDcumentAnnotation.length > 0">
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    {{'User Name' | translate}}
                                </td>
                                <td>
                                    {{'Status' | translate}}
                                </td>
                                <td>
                                    {{'Type' | translate }}
                                </td>
                                <td>
                                    {{'Page Number' | translate}}
                                </td>
                                <td>

                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pointer showRemove" *ngFor="let annotation of listOfDcumentAnnotation" (click)="documnetAnnoation(annotation)">
                                <td>
                                    {{annotation.userName}}
                                </td>
                                <td>
                                    {{annotation.status}}
                                </td>
                                <td>
                                    {{annotation.type}}
                                </td>
                                <td>
                                    {{annotation.pageNo}}
                                </td>
                                <td>
                                    <button pButton type="button" class="removeClass" icon="ui-icon-edit" (click)="documnetAnnoation(annotation)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="listOfDcumentAnnotation.length === 0">
                    <label for="">No annotations on this document</label>
                </div>
            </p-accordionTab>
            <p-accordionTab class="dashboard" header="{{'Document History' | translate}}">
                <div class="ui-g global-sales" *ngIf="showDocumentHistory.length > 0" style="max-height: 400px;overflow: auto">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    {{'User' | translate}}
                                </th>
                                <th>
                                    {{'Action' | translate }}
                                </th>
                                <th>
                                    {{'Timestamp' | translate }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pointer" *ngFor="let docHistory of showDocumentHistory">
                                <!-- <td>
                                    {{docHistory.desc}}
                                </td> -->
                                <td>
                                    {{docHistory.user}}
                                </td>
                                <td>
                                    {{docHistory.eventdesc}}
                                </td>
                                <td>
                                    {{docHistory.timestamp}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="showDocumentHistory.length === 0">
                    <label for="">No document history found</label>
                </div>
            </p-accordionTab>
            <p-accordionTab class="dashboard" header="{{'Document Links' | translate}}">
                <div class="ui-g global-sales" *ngIf="documentLinkList.length > 0" style="max-height: 400px;overflow: auto">
                    <table>
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    {{'Title' | translate}}
                                </th>
                                <!-- <th>
                                    {{'Format' | translate }}
                                </th>
                                <th>
                                    {{'Modifier' | translate }}
                                </th>
                                <th>
                                    {{'Added on' | translate }}
                                </th> -->
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pointer showRemove" *ngFor="let docLink of documentLinkList">

                                <td class="pointer" (click)="docLinkClicked(docLink)" *ngIf="docLink.format === 'application/pdf'"><img src='assets\images\pdf-icon.png' alt="folder" style="width:20px; height: 20px">
                                </td>
                                <td class="pointer" (click)="docLinkClicked(docLink)" *ngIf="docLink.format === 'image/png'"><img src='assets\images\png-icon.png' alt="folder" style="width:20px; height:20px">
                                </td>
                                <td class="pointer" (click)="docLinkClicked(docLink)" *ngIf="docLink.format !== 'application/pdf' && docLink.format !== 'image/png'"><img src='assets\images\Docs-icon.png' alt="folder" style="width:20px; height: 20px">
                                </td>

                                <td (click)="docLinkClicked(docLink)" class="pointer">
                                    {{docLink.docTitle}}
                                </td>
                                <!-- <td>
                                    {{docLink.format}}
                                </td> -->
                                <!-- <td>
                                    {{docLink.modifier}}
                                </td>
                                <td>
                                    {{docLink.addOn}}
                                </td> -->
                                <td>
                                    <button pButton type="button" class="removeClass" icon="ui-icon-close" (click)="ngxSmartModalService.getModal('unlinkModel').open(); selectedUnlink = docLink"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="documentLinkList.length === 0">
                    <label for="">Document has no links</label>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-6">

        <!-- <app-doc-viewer [type]="'correspondence'" [docId]="activityinfo.primaryDoc" [pageNumber]="1" [timestamp]="reloadDocComp" (documentClicked)="documentAnnotationClicked($event)" [changePage]="changePage"></app-doc-viewer> -->

        <app-doc-viewer [type]="type" [docId]='documentId' [primaryType]="primaryType" [documentPermission]="documentActionsList" [timestamp]="timestamp" [pageNumber]='1' (documentClicked)="documentClicked($event)" [changePage]="changePage" (printTrue)="showPrint($event)"
            (annotionValue)="annotaionEmmitted($event)"></app-doc-viewer>
    </div>

    <ngx-smart-modal #permissionConformationModel identifier="permissionConformationModel">
        <h3>{{ 'Delete Permission' | translate }}</h3>
        <div class="modal-body ">
            {{'This permission is going to delete, are you sure?' | translate }}
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                <button type="button" pButton icon="fa-close " (click)="permissionConformationModel.close();" label="{{'No' | translate}} "></button>
                <button type="button" pButton icon="fa-check " (click)="deletePermissions(deletePermissionsDetail)" label="{{'Yes' | translate}}"></button>
            </div>
        </p-footer>
    </ngx-smart-modal>

    <ngx-smart-modal #documentpermissionModel identifier="documentpermissionModel">
        <h3>{{ 'Permission' | translate }}</h3>
        <form [formGroup]="permissionModelForm" (ngSubmit)="permissionFormSubmit(); ">
            <div class="ui-g" height="500">
                <div class="ui-g-12 ui-md-12 ui-sm-12">
                    <div class="ui-g-4 ui-md-4 ui-sm-12">
                        {{ 'Access Level' | translate}}:
                    </div>
                    <div class="ui-g-8 ui-md-8 ui-sm-12">
                        <!-- <input type="text" class="ui-g-12" pInputText> -->
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-dropdown class="ui-g-12" [options]="permissionModelDropdown" formControlName="accessMask" [autoWidth]="false" placeholder="{{'Select' | translate}}"></p-dropdown>
                                    <!-- <p-dropdown [options]="languageOptions" [(ngModel)]="selectedLangauage" [autoWidth]="false" (onChange)="languageChanged($event)"></p-dropdown> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 ui-md-12 ui-sm-12">
                    <div class="ui-g-4 ui-md-4 ui-sm-12">
                        {{ 'Role Name' | translate}}:
                    </div>
                    <div class="ui-g-8 ui-md-8 ui-sm-12">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-autoComplete class="ui-g-12" formControlName="granteeName" field="name" [suggestions]="getroleList" searchtext (completeMethod)="autoCompleteKeyUp($event)" [multiple]="false" [dropdown]="true" [minLength]="3" placeholder="{{'Single Search' | translate}}"
                                        (onSelect)="roleSingleSelect($event)"></p-autoComplete>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                    <button type="button" pButton icon="fa-close" (click)="documentpermissionModel.close();" label="{{'Cancel' | translate}}"></button>
                    <button type="submit" [disabled]="!(permissionRoleSelected !== undefined && permissionModelForm.controls.accessMask.value !== null)" pButton icon="fa-check " label="{{'Update' | translate}}"></button>
                </div>
            </p-footer>
        </form>
    </ngx-smart-modal>

    <ngx-smart-modal #checkInModel identifier="checkInModel">
        <h3>{{ 'Check-in Document' | translate }}</h3>
        <form [formGroup]="checkOutProp" (ngSubmit)="checkInSubmit($event); ">
            <div class="ui-g">
                <div class="ui-g-1"></div>
                <div id="docClass" class="ui-g-3 ui-md-3 ui-sm-12">{{ 'DocClass' | translate}} </div>
                <div id="docclass" class="ui-g-8 ui-md-8 ui-sm-12">
                    {{docPropertyName}}</div>
            </div>
            <br>
            <div class="ui-g-12">
                <div class="ui-g-1 ui-sm-12"></div>
                <div class="ui-g-3 ui-sm-12">
                    <button pButton type="button" icon="ui-icon-attach-file" class="pointer" tooltipPosition="top" pTooltip="{{'Local Repository' | translate}}">
                                <input type="file"  id="checkInFileUploder" class="upload pointer" name="fileupload"  (change)="fileChanegd($event)" />
                                </button>
                    <!-- <input id="checkInFileUploder" type="file" name="fileupload" (change)="fileChanegd($event)"> -->
                </div>
                <div class="ui-g-8 ui-sm-12">
                    <div class="ui-g-12 ui-g-nopad" *ngIf="attachmentfileName">
                        {{attachmentfileName}}
                    </div>
                </div>
            </div>
            <br>
            <div class="ui-g-12" *ngFor="let classProp of  checkOutdocPropertyprops">
                <div class="ui-g-12 ui-md-12 ui-sm-12 ui-g-nopad">
                    <div class="ui-g-12" *ngIf="classProp.dtype !== 'OBJECT'">
                        <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                        <div class="ui-g-3 ui-md-3 ui-sm-12">
                            {{classProp.name}} <label class="redStar" *ngIf="classProp.req ==='true' || classProp.req === 'TRUE'">*</label>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'STRING'">
                            <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups === undefined" type="text" placeholder="Enter {{classProp.desc}}">
                            <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName === 'documenttitle' && classProp.lookups === undefined" type="text" placeholder="Enter {{classProp.desc}}">
                            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups !== undefined">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <select class="ui-g ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" style="background: #fff">
                                                    <option *ngFor="let document of classProp.lookups" [value]="document.value">{{document.label}}</option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'DATE'">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-calendar [showIcon]="true" id="{{classProp.symName}}" placeholder="Date" [formControlName]="classProp.symName" *ngIf="ddmmyy" dateFormat="dd/mm/yy"></p-calendar>
                                        <p-calendar [showIcon]="true" id="{{classProp.symName}}" placeholder="Date" [formControlName]="classProp.symName" *ngIf="!ddmmyy" dateFormat="mm/dd/yy"></p-calendar>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'LONG'">
                            <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === ''">
                            <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                        </div>
                    </div>
                    <br *ngIf="classProp.dtype !=='OBJECT' ">
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                    <button type="button" pButton icon="fa-close " (click)="checkInModel.close()" label="{{'Cancel' | translate}}"></button>
                    <button type="Submit " [disabled]="!checkOutProp.valid" pButton icon="fa-check " label="{{'Add' | translate}}"></button>
                </div>
            </p-footer>
        </form>
    </ngx-smart-modal>

    <ngx-smart-modal #documentpermissionEditModel identifier="documentpermissionEditModel">
        <h3>{{ 'Edit Permission' | translate }}</h3>
        <form [formGroup]="permissionModelEditForm" (ngSubmit)="permissionEditFormSubmit();">
            <div class="ui-g" height="500">
                <div class="ui-g-12 ui-md-12 ui-sm-12">
                    <div class="ui-g-4 ui-md-4 ui-sm-12">
                        {{ 'Access Level' | translate}}:
                    </div>
                    <div class="ui-g-8 ui-md-8 ui-sm-12">
                        <!-- <input type="text" class="ui-g-12" pInputText> -->
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-dropdown class="ui-g-12" [options]="permissionModelDropdown" formControlName="accessMask" [autoWidth]="false" placeholder="{{'Select' | translate}}"></p-dropdown>
                                    <!-- <p-dropdown [options]="languageOptions" [(ngModel)]="selectedLangauage" [autoWidth]="false" (onChange)="languageChanged($event)"></p-dropdown> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 ui-md-12 ui-sm-12">
                    <div class="ui-g-4 ui-md-4 ui-sm-12">
                        {{ 'Role Name' | translate}}:
                    </div>
                    <div class="ui-g-8 ui-md-8 ui-sm-12">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-autoComplete class="ui-g-12" formControlName="granteeName" field="name" [suggestions]="getroleList" [(ngModel)]="setroleList" searchtext (completeMethod)="autoCompleteKeyUp($event)" [multiple]="false" [dropdown]="true" [minLength]="3" placeholder="{{'Single Search' | translate}}"
                                        (onSelect)="roleSingleSelect($event)"></p-autoComplete>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                    <button type="button" pButton icon="fa-close " (click)="documentpermissionEditModel.close()" label="{{'Cancel' | translate}}"></button>
                    <button type="submit" pButton icon="fa-check " label="{{'Update' | translate}}"></button>
                </div>
            </p-footer>
        </form>
    </ngx-smart-modal>

    <ngx-smart-modal #moveFolderModelGeneric identifier="moveFolderModelGeneric">
        <h3>{{'Select the folder' | translate }}</h3>
        <div class="modal-body " style="min-height: 400px;overflow: auto">
            <app-folder-tree [timestamp]="timestamp" [selectedFolderId]="selectedFolderId" [type]="'DOCUMENT'" (emitSelectedFolder)="eventEmitterFolder($event)"></app-folder-tree>
        </div>
        <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
            <button type="button" pButton icon="fa-close " (click)="moveFolderModelGeneric.close();userSelectedNode = null" label="{{'Cancel' | translate}}"></button>
            <button type="submit" pButton icon="fa-check " *ngIf="userSelectedNode !== null" (click)="moveFolderModelClick()" label="{{'Update' | translate}}"></button>
        </div>
    </ngx-smart-modal>

    <ngx-smart-modal #unfileDocumentGeneric identifier="unfileDocumentGeneric">
        <h3>{{'Confirmation' | translate }}</h3>
        <div class="modal-body ">
            Are you sure to unfile this document?
            <!-- <app-folder-tree [timestamp]="timestamp" [selectedFolderId]="selectedFolderId" [type]="'DOCUMENT'" (emitSelectedFolder)="eventEmitterFolder($event)"></app-folder-tree> -->
        </div>
        <br><br>
        <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
            <button type="button" pButton icon="fa-close " (click)="unfileDocumentGeneric.close()" label="{{'No' | translate}}"></button>
            <button type="button" pButton icon="fa-check " (click)="unfileDocumentConformed()" label="{{'Yes' | translate}}"></button>
        </div>
    </ngx-smart-modal>

    <ngx-smart-modal #deleteDocumentGeneric identifier="deleteDocumentGeneric">
        <h3>{{'Confirmation' | translate }}</h3>
        <div class="modal-body ">
            This document will be deleting, are you sure?
            <!-- <app-folder-tree [timestamp]="timestamp" [selectedFolderId]="selectedFolderId" [type]="'DOCUMENT'" (emitSelectedFolder)="eventEmitterFolder($event)"></app-folder-tree> -->
        </div>
        <br><br>
        <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
            <button type="button" pButton icon="fa-close " (click)="deleteDocumentGeneric.close()" label="{{'No' | translate}}"></button>
            <button type="button" pButton icon="fa-check " (click)="deleteDocumentconfirmed();deleteDocumentGeneric.close()" label="{{'Yes' | translate}}"></button>
        </div>
    </ngx-smart-modal>

    <ngx-smart-modal #workFlowDocumentGeneric identifier="workFlowDocumentGeneric">
        <h3>{{'Confirmation' | translate }}</h3>
        <div class="modal-body ">
            This will initate new task do you want to continue?
            <!-- <app-folder-tree [timestamp]="timestamp" [selectedFolderId]="selectedFolderId" [type]="'DOCUMENT'" (emitSelectedFolder)="eventEmitterFolder($event)"></app-folder-tree> -->
        </div>
        <br><br>
        <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
            <button type="button" pButton icon="fa-close " (click)="workFlowDocumentGeneric.close()" label="{{'No' | translate}}"></button>
            <button type="button" pButton icon="fa-check " (click)="docWorkflow()" label="{{'Yes' | translate}}"></button>
        </div>
    </ngx-smart-modal>

    <ngx-smart-modal #unlinkModel identifier="unlinkModel">
        <h3>{{'Confirmation' | translate }}</h3>
        <div class="modal-body ">
            Are you sure to unlink this document?
        </div>
        <br><br>
        <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
            <button type="button" pButton icon="fa-close " (click)="unlinkModel.close()" label="{{'No' | translate}}"></button>
            <button type="button" pButton icon="fa-check " (click)="unlinkDocument()" label="{{'Yes' | translate}}"></button>
        </div>
    </ngx-smart-modal>
</div>

<ngx-smart-modal #annotationListModel identifier="annotationListModel">
    <h3>{{ 'Annotation list' | translate }}</h3>
    <div class="dashboard">
        <div class="global-sales">
            <table class="ui-g-12">
                <thead>
                    <tr>
                        <td></td>
                        <td>
                            {{ 'User Name' | translate }}
                        </td>
                        <td>
                            {{ 'Comment' | translate }}
                        </td>
                        <td>
                            {{ 'Type' | translate }}
                        </td>
                        <td>
                            {{ 'Page Number' | translate }}
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer showRemove" *ngFor="let annotation of listOfDcumentAnnotation;let i = index;">
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListModel.close()">
                            {{ i+ 1 }}
                        </td>
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListModel.close()">
                            {{annotation.userName}}
                        </td>
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListModel.close()">
                            {{annotation.comment}}
                        </td>
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListModel.close()">
                            {{annotation.type}}
                        </td>
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListModel.close()">
                            {{annotation.pageNo}}
                        </td>
                        <td>
                            <button type="button" class="removeClass" pButton="pButton" icon="ui-icon-visibility" (click)="documnetAnnoation(annotation.pageNo , annotation.type , $event); annotationListModel.close()"></button>
                            <button type="button" class="removeClass" pButton="pButton" icon="ui-icon-delete" (click)="deleteAnnoation(annotation.id)" *ngIf="annotation.userName === us.getCurrentUser().fulName || us.getCurrentUser().isAdmin === 'Y'"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ngx-smart-modal>