.redStar {
    color: red;
}

.global-sales table tbody tr td {
    padding: 7px 3px !important;
}

.nsm-content-small {
    width: 550px
}

.notify-container {
    position: relative;
    display: inline-block;
}

.notify-bubble {
    position: absolute;
    top: -8px;
    right: -7px;
    padding: 2px 5px 2px 6px;
    background-color: red;
    color: white;
    font-size: 0.85em;
    z-index: 999;
    border-radius: 50%;
    box-shadow: 1px 1px 1px gray;
}


/*
model
 */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 130px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-height: 480px;
    overflow: auto;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input.upload {
    position: absolute;
    z-index: 9999999999999;
    margin-left: -43%;
    margin-top: 10%;
    opacity: 0;
    cursor: pointer;
}