<div class="card">
    <div class=" ui-g-12 ui-lg ui-sm ui-g-nopad">
        <div class=" ui-g-12 ui-lg-1 ui-sm-2 ui-g-nopad">
            <button pButton type="button" icon="ui-icon-refresh" class="pointer" tootltipPosition="top" pTooltip="{{'Refresh' | translate}}" (click)="refreshEvent()"></button>&nbsp;
        </div>
        <div class=" ui-g-12 ui-lg-8 ui-sm-7"></div>
        <div class=" ui-g-12 ui-lg-3 ui-sm-3">
            <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <p-dropdown [options]="showDropDown" [autoWidth]="false" [(ngModel)]="optionselect" (onChange)="registerSelectfunction($event)"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- <div class="attachmentClass"> -->
    <table class="table background">
        <thead>
            <th class="text-center" width="20%">
                {{'Ref no.' | translate}}
            </th>
            <th class="text-center" width="30%">
                {{'Subject' | translate }}
            </th>
            <th class="text-center" width="10%">
                {{'Status' | translate }}
            </th>
            <th class="text-center" width="20%">
                {{'Created By' | translate }}
            </th>
            <th class="text-center" width="10%">
                {{'Created On' | translate }}
            </th>
            <th class="text-center" width="5%"></th>
            <th class="text-center" width="5%"></th>
        </thead>
        <tbody *ngFor="let work of registeredData" class="pointer">
            <tr>
                <td class=" text-center  pointer" (click)="history(work)">
                    {{work.refNo}}
                </td>
                <td class="text-center  pointer" (click)="history(work)">
                    {{work.subject}}
                </td>
                <td class="text-center pointer" (click)="history(work)">
                    {{work.status}}
                </td>
                <td class="text-center pointer" (click)="history(work)">
                    {{work.createdUserName}}
                </td>
                <td class="text-center pointer" (click)="history(work)">
                    {{work.createdOn}}
                </td>
                <td class="text-center">
                    <button pButton type="button" *ngIf="work.primaryDoc" icon="ui-icon-file-download" class="pointer" (click)="download(work.primaryDoc)" tooltipPosition="top" pTooltip="{{'Download' | translate}}"></button>
                </td>
                <td class="text-center">
                    <button pButton type="button" *ngIf="work.primaryDoc" icon="ui-icon-attach-file" class="pointer" (click)="attachment(work)" tooltipPosition="top" pTooltip="{{'Attachments' | translate}}"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ngx-smart-modal #attachmentsModel identifier="attachmentsModel">
    <h3>{{'Attachments' | translate }}</h3>
    <div class="attachmentClass">
        <table class="table background">
            <thead>
                <th width="35%">
                    {{'Document Title' | translate }}
                </th>
                <th width="30%">
                    {{'DocType Name' | translate }}
                </th>
                <th width="15%">
                    {{'Type' | translate }}
                </th>
                <th width="15%">
                    {{'Format' | translate }}
                </th>
                <th width="5%">

                </th>
            </thead>
            <tbody>
                <tr *ngFor="let history of attachmentres">
                    <td>
                        {{history.docTitle}}
                    </td>
                    <td>
                        {{history.docType.name}}
                    </td>
                    <td>
                        {{history.docType.type}}
                    </td>
                    <td>
                        {{history.format}}
                    </td>
                    <td>
                        <button pButton type="button" icon="ui-icon-file-download" class="pointer" (click)="download(history.docId)" tooltipPosition="top" pTooltip="{{'Download' | translate}}"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
            <button type="button" pButton icon="fa-close" (click)="attachmentsModel.close()" label="{{'Close' | translate }}"></button>
        </div>
    </p-footer>
</ngx-smart-modal>