.background {
    margin-top: 1%;
    background: #fff;
    width: 100%;
}

td,
th {
    border-bottom: 1px solid #ECECEC;
    text-align: left;
    padding: 7px;
}

tr:hover {
    box-shadow: 1px 2px 5px 1px #ccc;
}

.ui-button.ui-button-icon-only,
body .ui-datepicker-buttonpane>button.ui-button-icon-only {
    width: 2.0em !important;
    height: 2.0em !important;
}

.pointer {
    cursor: pointer;
}

.attachmentClass {
    max-height: 500px;
    overflow-y: auto;
}


/* .alignmenttrl {
    text-align: left;
} */