<app-item-list [workitem]="draftList" [typeFormat]="'Draft'" (checkedvalues)="checked($event)" (checkedreferences)="checkedreference($event)" [refresh]="refreshdata"></app-item-list>
<!-- <app-menu-items [draftsCount]="draftsUnread" [type]="Drafts"></app-menu-items> -->