.backgroundWhite {
    background: white;
}

.cardHeight {
    height: 193.9px;
    width: 98.5%
}

.text-center {
    text-align: center;
}

.ui-inputtext {
    width: 100% !important;
    color: #fff !important;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    /* opacity:  1; */
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 0.7;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: #fff;
    opacity: 0.7;
}

.compelete-row {
    background-color: #b31616 !important;
}

.active-row {
    background: #fffafa !important;
}

.paddingLeft {
    padding-left: 0 !important;
}

.paddingRight {
    padding-right: 0 !important;
}

.myTable.ui-datatable table {
    width: auto;
}

.utlPosLeft {
    position: absolute;
    z-index: 1000;
    right: 1%;
    font-weight: bold;
    margin-top: 10px;
}

.urlPosRight {
    position: absolute;
    z-index: 1000;
    right: 16%;
    font-weight: bold;
    margin-top: 10px;
}