<div class="ui-g-12 ui-g-nopad" style="min-height: 700px">
    <div [class]="selectedLanguage === 'ar' ? 'urlPosRight': 'utlPosLeft'">
        {{'Dashboard' | translate}}
    </div>
    <p-tabView (onChange)="onTabChange($event)">
        <p-tabPanel header="{{ 'Individual' | translate }}" leftIcon="ui-icon-person">
            <div class="ui-g">
                <div [class]="selectedLanguage === 'ar' ? 'ui-g-12 ui-lg-6 paddingRight' : 'ui-g-12 ui-lg-6 paddingLeft'">
                    <p-panel>
                        <p-header>
                            <div class="ui-g">
                                <div class="ui-g-6">
                                    <span class="ui-panel-title">{{ 'Work' | translate }}</span>
                                </div>
                                <div class="ui-g-3">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="workDatePickerDropdown" id="dropdownTranslations" (onChange)="workdatetypeChanged()" [(ngModel)]="workDatePickerSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-3">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="workTypeDropdown" #indChart (onChange)="worktypeChanged()" [(ngModel)]="workTypeSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-header>
                        <div *ngIf="individualWorkGraph">
                            <p-chart type="pie" height="100" [data]="work" (onDataSelect)="individualworkclicked($event)" [options]="work.options"></p-chart>
                        </div>
                        <div *ngIf="!individualWorkGraph">
                            <div class="card cardHeight">
                                <span>  {{'No data avaliable' | translate}} </span>
                            </div>
                        </div>
                    </p-panel>
                </div>
                <div [class]="selectedLanguage === 'ar' ? 'ui-g-12 ui-lg-6 paddingLeft' : 'ui-g-12 ui-lg-6 paddingRight'">
                    <p-panel>
                        <p-header>
                            <div class="ui-g">
                                <div class="ui-g-6">
                                    <span class="ui-panel-title">{{ 'Activity' | translate }}</span>
                                </div>
                                <div class="ui-g-3">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="activityDatePickerDropdown" (onChange)="activitydatetypeChanged()" [(ngModel)]="activityDatePickerSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-3">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="activitytypeDropdown" (onChange)="activitytypeChnaged()" [(ngModel)]="activitytypeSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-header>
                        <div *ngIf="individualActivityGraph">
                            <p-chart type="pie" height="100" #myChart [data]="activity" (onDataSelect)="userActivityClicked($event)" (click)="work.onClick"></p-chart>
                        </div>
                        <div *ngIf="!individualActivityGraph">
                            <!-- <p-chart type="pie" [data]="activity"></p-chart> -->
                            <div class="card cardHeight">
                                <span>  {{'No data avaliable' | translate}} </span>
                            </div>
                        </div>
                    </p-panel>
                </div>
            </div>
            <p-tabView>
                <p-tabPanel header="{{ 'Work' | translate }}" leftIcon="ui-icon-person" [selected]="selectedUSerTab === 0">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                            <p-panel>
                                <p-header>
                                    <div class="ui-g">
                                        <div class="ui-g-6">
                                            <span class="ui-panel-title">{{ 'Work' | translate }}</span>
                                        </div>
                                        <div class="ui-lg-3">
                                        </div>
                                        <div class=" ui-g-3">
                                            <input type="text" #uw class="color" placeholder="{{ 'Filter...' | translate }}" pInputText icon="ui-icon-refresh">
                                        </div>
                                        <!-- <div class="ui-g-3 backgroundWhite"> -->
                                        <!-- <span class="md-inputfield">
                                                <input id="name" type="text" class="ui-g-12" pInputText  placeholder="{{ 'Filter...' | translate }}'" [(ngModel)]="orgworkFilter"/>
                                            </span> -->
                                        <!-- </div> -->
                                    </div>
                                </p-header>
                                <!-- [style]="{'width': '100' + 'px'}" -->
                                <p-dataTable [value]="userworkItems" [rowStyleClass]="lookupRowStyleClass" (onRowClick)="individualWorkClicked($event)" selectionMode="single" [paginator]="true" [rows]="8" [responsive]="true" [globalFilter]="uw" emptyMessage="{{'No records found' | translate}}">

                                    <p-column field="status" header="{{'Status' | translate}}" [sortable]="true" [style]="{'width': '100' + 'px'}"></p-column>
                                    <p-column field="refNo" header="{{'Ref no.' | translate}}" [sortable]="true"></p-column>
                                    <p-column field="subject" header="{{'Subject' | translate}}" [sortable]="true" [style]="{'width': '300' + 'px'}"></p-column>
                                    <p-column field="typeName" header="{{'Type' | translate}}" [sortable]="true"></p-column>
                                    <p-column field="createdUserName" header="{{'Created by' | translate}}" [sortable]="true"></p-column>
                                    <p-column field="createdOn" header="{{'Created on' | translate}}" [sortable]="true"></p-column>
                                    <p-column field="pendingWith" header="{{'Pending with' | translate}}" [sortable]="true"></p-column>
                                    <!-- <p-column field="lastActionBy" header="Last action by" [sortable]="true"></p-column> -->
                                    <!-- <p-column field="finishedOn" header="{{'Finished on' | translate}}" [sortable]="true"></p-column> -->
                                    <!-- </div>
                                    <div class="ui-g-12 ui-g-nopad" *ngIf="userworkItems.length === 0">
                                        {{'No records found' | translate}}
                                    </div> -->
                                </p-dataTable>
                            </p-panel>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="{{ 'Activity' | translate }}" leftIcon="ui-icon-person" [selected]="selectedUSerTab === 1">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                            <p-panel>
                                <p-header>
                                    <div class="ui-g">
                                        <div class="ui-g-6">
                                            <span class="ui-panel-title">{{ 'Activity' | translate }}</span>
                                        </div>
                                        <div class="ui-g-3">
                                        </div>
                                        <div class=" ui-g-3">
                                            <input type="text" #ua class="color" placeholder="{{ 'Filter...' | translate }}" pInputText icon="ui-icon-refresh">
                                        </div>
                                        <!-- <div class="ui-g-3 backgroundWhite">
                                                <!-- <span class="md-inputfield">
                                                        <input id="name" type="text" class="ui-g-12" pInputText  placeholder="{{ 'Filter...' | translate }}'" [(ngModel)]="orgworkFilter"/>
                                                    </span> --
                                            </div> -->
                                    </div>
                                </p-header>
                                <p-dataTable [value]="IndividualactivityItems" [rowStyleClass]="lookupRowStyleClass" (onRowClick)="individualActivityClicked($event)" selectionMode="single" [paginator]="true" [rows]="8" [responsive]="true" [globalFilter]="ua" emptyMessage="{{'No records found' | translate}}">
                                    <p-column field="status" header="{{'Status' | translate}}" [sortable]="true" [style]="{'width': '100' + 'px'}"></p-column>
                                    <p-column field="refNo" header="{{'Ref no.' | translate}}" [sortable]="true"></p-column>
                                    <p-column field="subject" header="{{'Subject' | translate}}" [sortable]="true" [style]="{'width': '300' + 'px'}"></p-column>
                                    <p-column field="typeName" header="{{'Type' | translate}}" [sortable]="true"></p-column>
                                    <p-column field="createdByName" header="{{'Created by' | translate}}" [sortable]="true"></p-column>
                                    <p-column field="createdOn" header="{{'Created on' | translate}}" [sortable]="true"></p-column>
                                    <p-column field="workTypeName" header="{{'Work type' | translate}}" [sortable]="true"></p-column>
                                    <!-- <p-column field="finishedOn" header="{{'Finished on' | translate}}" [sortable]="true"></p-column> -->
                                </p-dataTable>
                            </p-panel>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>

        </p-tabPanel>
        <p-tabPanel header="{{ 'Organization' | translate }}" leftIcon="ui-icon-nature-people" *ngIf="showorgDiv">
            <div class="ui-g">
                <div [class]="selectedLanguage === 'ar' ? 'ui-g-12 ui-lg-6 paddingRight' : 'ui-g-12 ui-lg-6 paddingLeft'">
                    <p-panel>
                        <p-header>
                            <div class="ui-g">
                                <div class="ui-g-3 ui-md-3 ui-lg-3">
                                    <span class="ui-panel-title">{{ 'Work' | translate }}</span>
                                </div>
                                <div class="ui-g-3 ui-md-3 ui-lg-3" *ngIf="orgWorkDatePickerDropdown.length > 0">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="orgWorkDatePickerDropdown" (onChange)="orgWorkChanged()" [(ngModel)]="orgWorkDatePickerSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-md-3 ui-lg-2">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="orgWOrkTypeDropdown" (onChange)="orgWorkChanged()" [(ngModel)]="orgWorkTypeSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-md-3 ui-lg-4">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="belowOrg" (onChange)="orgWorkChanged()" [(ngModel)]="orgWorkBelowOrgSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </p-header>
                        <div *ngIf="orgWorkShow">
                            <!-- <p-chart type="pie" height="100" [data]="work"></p-chart> -->
                            <p-chart type="pie" [data]="orgWrk" height="100" (onDataSelect)="orgworkclick($event)"></p-chart>
                        </div>
                        <div *ngIf="!orgWorkShow">
                            <div class="card cardHeight">
                                <span>  {{'No data avaliable' | translate}} </span>
                            </div>
                        </div>
                    </p-panel>
                </div>
                <div [class]="selectedLanguage === 'ar' ? 'ui-g-12 ui-lg-6 paddingLeft' : 'ui-g-12 ui-lg-6 PaddingRight'">
                    <p-panel>
                        <p-header>
                            <div class="ui-g">
                                <div class="ui-g-3 ui-md-3 ui-lg-3">
                                    <span class="ui-panel-title">{{ 'Activity' | translate }}</span>
                                </div>
                                <div class="ui-g-3 ui-md-3 ui-lg-3">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="orgActivityDatePickerDropdown" (onChange)="orgActivityChanged()" [(ngModel)]="orgactivityDatePickerSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-md-3 ui-lg-2">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="orgActivitytypeDropdown" (onChange)="orgActivityChanged()" [(ngModel)]="orgactivitytypeSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-md-3 ui-lg-4">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="belowOrg" (onChange)="orgActivityChanged()" [(ngModel)]="orgActivityBelowSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-header>
                        <div *ngIf="orgActivityShow">
                            <p-chart type="pie" [data]="orgActivit" height="100" (onDataSelect)="orgactivityclick($event)"></p-chart>
                        </div>
                        <div *ngIf="!orgActivityShow">
                            <div class="card cardHeight">
                                <span>  {{'No data avaliable' | translate}} </span>
                            </div>
                        </div>
                    </p-panel>
                </div>
            </div>
            <div class="ui-g">
                <p-tabView>
                    <p-tabPanel header="{{ 'Work' | translate }}" leftIcon="ui-icon-person" [selected]="selectedTableTab === 0">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                                <p-panel>
                                    <p-header>
                                        <div class="ui-g">
                                            <div class="ui-g-6">
                                                <span class="ui-panel-title">{{ 'Work' | translate }}</span>
                                            </div>
                                            <div class="ui-g-3">
                                            </div>
                                            <div class=" ui-g-3">
                                                <input type="text" #ow class="color" placeholder="{{ 'Filter...' | translate }}" pInputText icon="ui-icon-refresh">
                                            </div>
                                            <!-- <div class="ui-g-3 backgroundWhite"> -->
                                            <!-- <span class="md-inputfield">
                                                <input id="name" type="text" class="ui-g-12" pInputText  placeholder="{{ 'Filter...' | translate }}'" [(ngModel)]="orgworkFilter"/>
                                            </span> -->
                                            <!-- </div> -->
                                        </div>
                                    </p-header>
                                    <p-dataTable [value]="dropdownforworktype" [rowStyleClass]="lookupRowStyleClass" selectionMode="single" (onRowClick)="individualWorkClicked($event)" [paginator]="true" [rows]="8" [responsive]="true" [globalFilter]="ow" emptyMessage="{{'No records found' | translate}}">
                                        <p-column field="status" header="{{'Status' | translate}}" [sortable]="true" [style]="{'width': '100' + 'px'}"></p-column>
                                        <p-column field="refNo" header="{{'Ref no.' | translate}}" [sortable]="true"></p-column>
                                        <p-column field="subject" header="{{'Subject' | translate}}" [sortable]="true" [style]="{'width': '300' + 'px'}"></p-column>
                                        <p-column field="typeName" header="{{'Type' | translate}}" [sortable]="true"></p-column>
                                        <p-column field="createdUserName" header="{{'Created by' | translate}}" [sortable]="true"></p-column>
                                        <p-column field="createdOn" header="{{'Created on' | translate}}" [sortable]="true"></p-column>
                                        <p-column field="pendingWith" header="{{'Pending with' | translate}}" [sortable]="true"></p-column>
                                        <!-- <p-column field="lastActionBy" header="Last action by" [sortable]="true"></p-column> -->
                                        <!-- <p-column field="finishedOn" header="{{'Finished on' | translate}}" [sortable]="true"></p-column> -->
                                    </p-dataTable>
                                </p-panel>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="{{ 'Activity' | translate }}" leftIcon="ui-icon-person" [selected]="selectedTableTab === 1">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                                <p-panel>
                                    <p-header>
                                        <div class="ui-g">
                                            <div class="ui-g-6">
                                                <span class="ui-panel-title">{{ 'Activity' | translate }}</span>
                                            </div>
                                            <div class="ui-g-3">
                                            </div>
                                            <div class=" ui-g-3">
                                                <input type="text" #oa class="color" placeholder="{{ 'Filter...' | translate }}" pInputText icon="ui-icon-refresh">
                                            </div>
                                            <!-- <div class="ui-g-3 backgroundWhite">
                                                <!-- <span class="md-inputfield">
                                                        <input id="name" type="text" class="ui-g-12" pInputText  placeholder="{{ 'Filter...' | translate }}'" [(ngModel)]="orgworkFilter"/>
                                                    </span> --
                                            </div> -->
                                        </div>
                                    </p-header>
                                    <p-dataTable [value]="orgactivetable" [rowStyleClass]="lookupRowStyleClass" selectionMode="single" (onRowClick)="individualActivityClicked($event)" [paginator]="true" [rows]="8" [responsive]="true" [globalFilter]="oa" emptyMessage="{{'No records found' | translate}}">
                                        <p-column field="status" header="{{'Status' | translate}}" [sortable]="true" [style]="{'width': '100' + 'px'}"></p-column>
                                        <p-column field="refNo" header="{{'Ref no.' | translate}}" [sortable]="true"></p-column>
                                        <p-column field="subject" header="{{'Subject' | translate}}" [sortable]="true" [style]="{'width': '300' + 'px'}"></p-column>
                                        <p-column field="typeName" header="{{'Type' | translate}}" [sortable]="true"></p-column>
                                        <p-column field="createdByName" header="{{'Created by' | translate}}" [sortable]="true"></p-column>
                                        <p-column field="createdOn" header="{{'Created on' | translate}}" [sortable]="true"></p-column>
                                        <p-column field="assignedToName" header="{{'Pending with' | translate}}" [sortable]="true"></p-column>
                                        <!-- <p-column field="lastActionBy" header="Last action by" [sortable]="true"></p-column> -->
                                        <!-- <p-column field="finishedOn" header="{{'Finished on' | translate}}" [sortable]="true"></p-column> -->
                                    </p-dataTable>
                                </p-panel>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>


<p-dialog header="{{ 'History' | translate }}" [(visible)]="orgHistroyModel" modal="modal" width="700" [responsive]="true" blockScroll="true" resizable="true" draggable="false">
    <div class="dashboard global-sales">
        <table class="ui-g-12">
            <thead>
                <tr>
                    <th>
                        {{ 'Activity Type' | translate }}
                    </th>
                    <th>
                        {{ 'Username' | translate }}
                    </th>
                    <th>
                        {{ 'Role Name' | translate }}
                    </th>
                    <th>
                        {{ 'Action' | translate }}
                    </th>

                    <th>
                        {{ 'Details' | translate }}
                    </th>
                    <th>
                        {{ 'Action On' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let history of historydata">
                    <td>
                        {{history.activityType}}
                    </td>
                    <td>
                        {{history.userName}}
                    </td>
                    <td>
                        {{history.roleName}}
                    </td>
                    <td>
                        {{history.action}}
                    </td>
                    <td>
                        {{history.details}}
                    </td>
                    <td>
                        {{history.actionOn}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="orgHistroyModel=false;" label="No"></button>
        </div>
    </p-footer>
</p-dialog>