<div class=" ui-g">
    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
        <p-tabView>
            <p-tabPanel header="{{'User Profile' | translate }}" leftIcon="ui-icon-person" *ngIf="us.getCurrentUser().userLogin !== 'Admin' || us.getCurrentUser().userLogin !== 'admin'">
                <form [formGroup]="passwordform" (ngSubmit)="passwordFormSubmit()">
                    <div class=" ui-g">
                        <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                            <div class=" ui-g-12 ui-lg-2 ui-sm-12">
                            </div>
                            <div class=" ui-g-2 ui-lg-2 ui-sm-3">
                                <label> {{'Old Password' | translate }} </label>
                            </div>
                            <div class=" ui-g-5 ui-lg-5 ui-sm-5">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <input type="password" formControlName="oldpassword" name="oldpassword" placeholder="{{'Enter your old password' | translate}}" class="md-inputfield" pInputText>
                                            <!-- <p-dropdown [options]="languageOptions" [(ngModel)]="selectedLangauage" [autoWidth]="false" (onChange)="languageChanged($event)"></p-dropdown> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" ui-g">
                        <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                            <div class=" ui-g-12 ui-lg-2 ui-sm-12">
                            </div>
                            <div class=" ui-g-2 ui-lg-2 ui-sm-3">
                                <label> {{'New Password' | translate }} </label>
                            </div>
                            <div class=" ui-g-5 ui-lg-5 ui-sm-5">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <input type="password" formControlName="newpassword" name="oldpassword" placeholder="{{'Enter your new password' | translate}}" class="md-inputfield" pInputText>
                                            <!-- <p-dropdown [options]="themeArray" [(ngModel)]="selectedColor" [autoWidth]="false" (onChange)="colorChanged($event)"></p-dropdown> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" ui-g">
                        <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                            <div class=" ui-g-12 ui-lg-2 ui-sm-12">
                            </div>
                            <div class=" ui-g-2 ui-lg-2 ui-sm-3">
                                <label> {{'Confirm Password' | translate }} </label>
                            </div>
                            <div class=" ui-g-5 ui-lg-5 ui-sm-5">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <input type="password" formControlName="confirmpassword" name="confirmpassword" placeholder="{{'Re-enter your new password' | translate}}" class="md-inputfield" pInputText>
                                            <!-- <p-dropdown [options]="themeArray" [(ngModel)]="selectedColor" [autoWidth]="false" (onChange)="colorChanged($event)"></p-dropdown> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" ui-g">
                        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                            <div class="ui-g-4 ui-lg-4 ui-md-4 ui-sm-12">

                            </div>
                            <div class="ui-g-4 ui-lg-4 ui-md-4 ui-sm-12">
                                <div class=" ui-g-4 ui-lg-4 ui-sm-4">
                                    <button pButton type="submit" icon="ui-icon-shuffle" class="pointer" label="{{'Change' | translate}}" [disabled]="!passwordform.valid"></button></div>
                            </div>
                            <div class="ui-g-4 ui-lg-4 ui-md-4 ui-sm-12">

                            </div>
                        </div>
                    </div>
                </form>
            </p-tabPanel>
            <p-tabPanel header="{{'General' | translate }}" leftIcon="ui-icon-language">
                <div class=" ui-g" *ngIf="selectedLangauage !== ''">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                        <div class=" ui-g-12 ui-lg-2 ui-sm-12">
                        </div>
                        <div class=" ui-g-2 ui-lg-2 ui-sm-3">
                            <label> {{'Language' | translate }} </label>
                        </div>
                        <div class=" ui-g-5 ui-lg-5 ui-sm-5">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-dropdown [options]="languageOptions" [(ngModel)]="selectedLangauage" [autoWidth]="false" (onChange)="languageChanged($event)"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-2 ui-lg-2 ui-sm-3">
                            <button pButton type="button" class="pointer" *ngIf="showLanguageChange" label="{{'Update' | translate}}" (click)="setLanguageChange()"></button>
                        </div>
                    </div>
                </div>
                <div class=" ui-g">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                        <div class=" ui-g-12 ui-lg-2 ui-sm-12">
                        </div>
                        <div class=" ui-g-2 ui-lg-2 ui-sm-3">
                            <label> {{'Theme' | translate }} </label>
                        </div>
                        <div class=" ui-g-5 ui-lg-5 ui-sm-5">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-dropdown [options]="themeArray" [(ngModel)]="selectedColor" [autoWidth]="false" (onChange)="colorChanged($event)"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-2 ui-lg-2 ui-sm-3">
                            <button pButton type="button" class="pointer" *ngIf="showColorChange" label="{{'Update' | translate}}" (click)="setColorChange()"></button>
                        </div>
                    </div>
                </div>
                <div class=" ui-g">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                        <div class=" ui-g-12 ui-lg-2 ui-sm-12">
                        </div>
                        <div class=" ui-g-2 ui-lg-2 ui-sm-3">
                            <label> {{'Default Annotation' | translate }} </label>
                        </div>
                        <div class=" ui-g-5 ui-lg-5 ui-sm-5">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-dropdown [options]="annotationList" [(ngModel)]="defaultAnnotation" [autoWidth]="false" (onChange)="annotationChanged($event)"></p-dropdown>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-2 ui-lg-2 ui-sm-3">
                            <button pButton type="button" class="pointer" *ngIf="showAnnotationChange" label="{{'Update' | translate}}" (click)="setAnnotationChange()"></button>
                        </div>
                    </div>
                </div>
                <div class=" ui-g">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                        <div class=" ui-g-12 ui-lg-2 ui-sm-12">
                        </div>
                        <div class=" ui-g-2 ui-lg-2 ui-sm-3">
                            <label> {{'Default Search' | translate }} </label>
                        </div>
                        <div class=" ui-g-5 ui-lg-5 ui-sm-5">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-dropdown [options]="searchList" [(ngModel)]="selectedSearch" [autoWidth]="false" (onChange)="searchChanged($event)"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-2 ui-lg-2 ui-sm-3">
                            <button pButton type="button" class="pointer" *ngIf="showSearchChange" label="{{'Update' | translate}}" (click)="setSearchChange()"></button>
                        </div>
                    </div>
                </div>
                <div class=" ui-g">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                        <div class=" ui-g-12 ui-lg-2 ui-sm-12">
                        </div>
                        <div class=" ui-g-2 ui-lg-2 ui-sm-3">
                            <label> {{'Default Document View' | translate }} </label>
                        </div>
                        <div class=" ui-g-5 ui-lg-5 ui-sm-5">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-dropdown [options]="documentView" [(ngModel)]="deafultDocumentView" [autoWidth]="false" (onChange)="documentViewChanged($event)"></p-dropdown>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-2 ui-lg-2 ui-sm-3">
                            <button pButton type="button" class="pointer" *ngIf="showDocumentViewChanged" label="{{'Update' | translate}}" (click)="setdocumentViewChanged()"></button>
                        </div>
                    </div>
                </div>
                <!-- <div class=" ui-g">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                        <div class=" ui-g-12 ui-lg-2 ui-sm-12">
                        </div>
                        <div class=" ui-g-2 ui-lg-2 ui-sm-3">
                            <label> {{'Date Format' | translate }} </label>
                        </div>
                        <div class=" ui-g-5 ui-lg-5 ui-sm-5">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <p-dropdown [options]="dateList" [(ngModel)]="selecteDate" [autoWidth]="false" (onChange)="dateChanged($event)"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-2 ui-lg-2 ui-sm-3">
                            <button pButton type="button" class="pointer" *ngIf="showDateChange" label= "{{'Update' | translate}}" (click)="setDateChange()"></button>
                        </div>
                    </div>
                </div> -->
            </p-tabPanel>
            <p-tabPanel header="{{'Out Of Office' | translate }}" leftIcon="ui-icon-all-out">
                <div class=" ui-g">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                        <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                            <div class=" ui-g-12 ui-lg-6 ui-sm-6 alignlabel">
                                <label *ngIf="isDelegate">{{'DELEGATE' | translate}}</label>
                                <label *ngIf="!isDelegate">{{'EDIT' | translate }}</label>
                            </div>
                        </div>
                        <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                            <div class=" ui-g-12 ui-lg-2 ui-sm-12"></div>
                            <div class=" ui-g-12 ui-lg-8 ui-sm-12">
                                <form [formGroup]="addDelegateForm" (ngSubmit)="delegationSubmit(addDelegateForm)">
                                    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                                        <div class=" ui-g-12 ui-lg-2 ui-sm-3">
                                            <label>{{'Select User' | translate }} </label>
                                        </div>
                                        <div class=" ui-g-12 ui-lg-10 ui-sm-9">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class=" ui-grid-row ">
                                                    <div class="ui-grid-col-12 ">
                                                        <p-dropdown [options]="userList" formControlName="delegateName" name="fulName" [autoWidth]="false" filter="true" placeholder="{{'Please Select User' | translate}}" (onChange)="valueChanged($event)"></p-dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" ui-g-12 ui-lg-12 ui-sm-12 ">
                                        <div class=" ui-g-12 ui-lg-2 ui-sm-3">
                                            <label>{{'Period' | translate }}</label>
                                        </div>
                                        <div class=" ui-g-12 ui-lg-5 ui-sm-4" *ngIf="selectedLangauage !== 'ar' ">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12">
                                                        <p-calendar [showIcon]="true" placeholder="{{'From' | translate}}" dateFormat="dd/mm/yy" [minDate]="disablePast" formControlName="fromDate" (onSelect)="fromdatechanged($event)"></p-calendar>
                                                        <!-- <p-calendar [showIcon]="true" placeholder="From" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [minDate]="disablePast" formControlName="fromDate" (onSelect)="fromdatechanged($event)"></p-calendar> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" ui-g-12 ui-lg-5 ui-sm-4" *ngIf="selectedLangauage === 'ar'">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12">
                                                        <p-calendar [showIcon]="false" placeholder="{{'From' | translate}}" dateFormat="dd/mm/yy" [minDate]="disablePast" formControlName="fromDate" (onSelect)="fromdatechanged($event)"></p-calendar>
                                                        <!-- <p-calendar [showIcon]="true" placeholder="From" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [minDate]="disablePast" formControlName="fromDate" (onSelect)="fromdatechanged($event)"></p-calendar> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" ui-g-12 ui-lg-5 ui-sm-4" *ngIf="selectedLangauage !== 'ar'">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12">
                                                        <p-calendar [showIcon]="true" placeholder="{{'To' | translate}}" dateFormat="dd/mm/yy" [minDate]="disablePastdateSelect" formControlName="toDate" (onSelect)="toDateChanged($event)"></p-calendar>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" ui-g-12 ui-lg-5 ui-sm-4" *ngIf="selectedLangauage === 'ar'">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12">
                                                        <p-calendar [showIcon]="false" placeholder="{{'To' | translate}}" dateFormat="dd/mm/yy" [minDate]="disablePastdateSelect" formControlName="toDate" (onSelect)="toDateChanged($event)"></p-calendar>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                                        <div class=" ui-g-12 ui-lg-4 ui-sm-3">
                                        </div>
                                        <div class=" ui-g-12 ui-lg-2 ui-sm-3">
                                            <button pButton *ngIf="isDelegate === true" type="submit" class="pointer" icon="ui-icon-save" label="{{'Delegate User' | translate }}" [disabled]="!addDelegateForm.valid"></button>
                                            <button pButton *ngIf="isDelegate === false" type="submit" pButton class="pointer" icon="ui-icon-save" label="{{'Save' | translate }}" [disabled]="!addDelegateForm.valid"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class=" ui-g-12 ui-lg-12 ui-sm-12" *ngIf="delegationList.length > 0">
                            <div class="attachmentClass">
                                <table class=" table">
                                    <thead>
                                        <th class="text-md-left text-sm-left">#</th>
                                        <th class="text-md-left text-sm-left">{{'Delegated On' | translate }}</th>
                                        <th class="text-md-left text-sm-left">{{'Delegated To' | translate }}</th>
                                        <th class="text-md-left text-sm-left">{{'From Date' | translate }}</th>
                                        <th class="text-md-left text-sm-left">{{'To Date' | translate }}</th>
                                        <th class="text-md-left text-sm-left">{{'Status' | translate }}</th>
                                        <th class="text-md-left text-sm-left"></th>
                                        <th class="text-md-left text-sm-left"></th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of delegationList; let i = index" class="pointer">
                                            <td class="text-md-left text-sm-left">
                                                {{i+1}}
                                            </td>
                                            <td class="text-md-left text-sm-left">
                                                {{item.delegatedOn}}
                                            </td>
                                            <td class="text-md-left text-sm-left">
                                                {{item.delName}}
                                            </td>
                                            <td class="text-md-left text-sm-left">
                                                {{item.fromDate}}
                                            </td>
                                            <td class="text-md-left text-sm-left">
                                                {{item.toDate}}
                                            </td>
                                            <td class="text-md-left text-sm-left">
                                                {{item.status}}
                                            </td>
                                            <td class="text-md-left text-sm-left" *ngIf="item.status === 'ACTIVE'">
                                                <button pButton type="button" class="pointer" icon="ui-icon-edit" (click)="editDeligation(item)"> </button>
                                            </td>
                                            <td class="text-md-left text-sm-left" *ngIf="item.status === 'ACTIVE'">
                                                <button pButton type="button" class="pointer" icon="ui-icon-delete" (click)="revokedelegation(item)"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'Signature' | translate }}" leftIcon="ui-icon-edit">
                <div class=" ui-g">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                        <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                            <div class=" ui-g-12 ui-lg-6 ui-sm-6 alignlabel">
                                <label>{{'ADD SIGNATURE' | translate}}</label>
                            </div>
                        </div>
                        <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                            <div class=" ui-g-12 ui-lg-6 ui-sm-12">
                                <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                                    <div class=" ui-g-12 ui-lg-6 ui-sm-6">
                                        <p-radioButton name="signature" (click)="optionforfile()" value="File" label="{{'Attach From File' | translate }}" [(ngModel)]="signatureChanged"></p-radioButton>
                                    </div>
                                    <div class=" ui-g-12 ui-lg-6 ui-sm-6">
                                        <p-radioButton name="signature" (click)="optionforsignature()" value="Signature" label="{{'Signature Pad' | translate}}" [(ngModel)]="signatureChanged"></p-radioButton>
                                    </div>
                                </div>
                                <div *ngIf="showfromfile">
                                    <div class=" ui-g-12 ui-lg-12 ui-sm-12 row col-md-12 col-12">
                                        <!-- <a></a><u>{{'Attach' | translate }}</u></a> -->
                                        <button pButton type="button" icon="ui-icon-attach-file" class="pointer">
                                                <input type="file"  ng2FileSelect [uploader]="enclosures" class="upload"  (change)="fileupload($event)" />
                                                </button>
                                    </div>
                                    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                                        <div class=" ui-g-12 ui-lg-12 ui-sm-12 row col-md-12 col-12" *ngFor="let file of enclosures.queue; let i = index">
                                            <div class=" ui-g-12 ui-lg-1 ui-sm-1 col-md-1 col-1">
                                                <img [src]="imageUrl" alt="folder" style="width:30px; height: 30px">
                                            </div>
                                            <div class=" ui-g-12 ui-lg-8 ui-sm-8">
                                                {{file.file.name}}
                                            </div>
                                            <div class=" ui-g-12 ui-lg-2 ui-sm-2 ">
                                                <button pButton type="button" class="pointer" pTooltip="{{'Save' | translate }}" icon="ui-icon-save" (click)="saveFileAttachments(filevalue)"></button>
                                            </div>
                                            <div class=" ui-g-12 ui-lg-1 ui-sm-1">
                                                <button pButton icon="ui-icon-delete" (click)="file.remove()" pTooltip="{{'Delete' | translate }}" class="pointer"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                                    <div class=" ui-g-12 ui-lg-4 ui-sm-2"></div>
                                    <div class=" ui-g-12 ui-lg-8 ui-sm-10">
                                        <button pButton type="button" label="{{'Generate Pin' | translate }}" icon="ui-icon-person-pin" class="pointer" (click)="generatepin()"></button>
                                    </div>
                                </div> -->
                                <br>

                                <div class=" ui-g-12 ui-lg-12 ui-sm-12" *ngIf="showpinui">
                                    <div class=" ui-g-12 ui-lg-4 ui-sm-2"></div>
                                    <div class=" ui-g-12 ui-lg-8 ui-sm-10">
                                        <label>{{'Generated PIN:' | translate}} </label> &nbsp;<label> {{showpinui}} </label>
                                    </div>
                                </div>

                            </div>
                            <div class=" ui-g-12 ui-lg-6 ui-sm-12" *ngIf="showsignature">
                                <div class=" ui-g-12 ui-lg-12 ui-sm-12">

                                    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                                        <label> {{'Signature:' | translate }} </label>
                                    </div>
                                    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                                        <app-signature-pad #signature [canvasWidth]="500" [canvasHeight]="300" (onEndEvent)="drawComplete($event)"></app-signature-pad>
                                        <!-- <signature-pad id="digitalsign" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" [canvasWidth]="100" (onEndEvent)="drawComplete($event)"></signature-pad> -->
                                    </div>
                                </div>
                                <!-- </div> -->
                                <br>
                                <div class=" ui-g  ui-g-12 ui-lg-12 ui-sm-12 ">
                                    <div class=" ui-g-12 ui-lg-3 ui-sm-1"></div>
                                    <div class=" ui-g-12 ui-lg-2 ui-sm-6 alignlabel">
                                        <button pButton type="button" label="{{'Clear' | translate }}" class="pointer" (click)="SignaturePad.clear()"></button>
                                    </div>
                                    <div class=" ui-g-12 ui-lg-2 ui-sm-6 alignlabel">
                                        <button pButton type="button" class="pointer" label="{{'Save' | translate }}" (click)="savesignature();"></button>
                                    </div>
                                </div>
                            </div>
                            <div class=" ui-g-12 ui-lg-6 ui-sm-12 " *ngIf="showfromfile && currentSignatureShow">
                                <div class=" ui-g-12 ui-lg-12 ui-sm-12 existedSignature">
                                    <div class=" ui-g-12 ui-lg-12 ui-sm-12 text-center">{{'Current Signature :' | translate }} </div>
                                    <div class=" ui-g-12 ui-lg-12 ui-sm-12" *ngIf="this.us.getCurrentUser().signature !== undefined">
                                        <img [src]="signatureUrl" height="100%" width="100%" />
                                    </div>
                                    <div class=" ui-g-12 ui-lg-12 ui-sm-12" *ngIf="this.us.getCurrentUser().signature === undefined">
                                        No signature found
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'Add Ons' | translate }}" leftIcon="fa-plus">
                <div class=" ui-g">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
                        <div class=" ui-g-12 ui-lg-1 ui-sm-12"></div>
                        <div class=" ui-g-12 ui-lg-10 ui-sm-12">
                            <table class="table table-sm pointer table-responsive">
                                <br>
                                <tr *ngFor="let value of responseAddOns">
                                    <td width="90%">
                                        {{value.name}}
                                    </td>
                                    <td width="10%">
                                        <button pButton class="pointer" type="button" icon="ui-icon-file-download" (click)="addOnDownload(value.link)">   </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>