.textLeft {
    text-align: left !important;
}

.textRight {
    text-align: right !important;
}

.properties {
    text-align: center !important;
    font-weight: bold;
    padding-top: 7px;
}

.textCenter {
    text-align: center !important;
}

.redStar {
    color: red;
}