<div class="ui-g ui-g-nopad">
    <div class="ui-g-12 " *ngIf="listOffilesInfolder.length === 0">
        <label>No any documents are available in this folder</label>
    </div>
    <div class="ui-g-12 ui-md-12 ui-g-nopad" *ngIf="listOffilesInfolder.length > 0">
        <div class="ui-g-6 ui-md-6 ui-lg-6 ui-sm-12">
            <form class="form-group" [formGroup]="editProp" (ngSubmit)="submitedit($event, docPropertyName)">
                <p-toolbar>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-2 textLeft ui-g-nopad">
                            <button pButton type="submit" icon="ui-icon-arrow-back" [disabled]="!editProp.valid || count === 0" tooltipPosition="top" pTooltip="{{'Previous' | translate}}" (click)="previousClicked('prev')"></button>
                        </div>
                        <div class="ui-g-8 ui-g-nopad properties">
                            <label class="font-weight-bold">Properties</label>
                        </div>
                        <div class="ui-g-2 textRight ui-g-nopad">
                            <button pButton type="submit" icon="ui-icon-arrow-forward" [disabled]="!editProp.valid  || count === listOffilesInfolder.length - 1" tooltipPosition="top" pTooltip="{{'Next' | translate}}" (click)="nextClicked('next')"></button>
                        </div>
                    </div>
                </p-toolbar>
                <div class="ui-g ">
                    <div class="ui-g-12 ui-md-12 ui-g-nopad">
                        <div class="ui-g-12 ui-md-4">
                            <label for="input">{{ 'DocClass' | translate}}</label>
                        </div>
                        <div class="ui-g-8 ui-md-8 ui-sm-12">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-dropdown class="ui-g-12" id="docClassDropDowned" formControlName="docclass" [options]="documentClassDropdown" [(ngModel)]="docClass" [autoWidth]="false" placeholder="{{'Select' | translate}}" (onChange)="documentClassChanged($event)"></p-dropdown>
                                        <!-- <select id="docClass" class="form-control dropdownwidth" formControlName="documentname"  (change)="documentClassChange($event)">
                                                    <option *ngFor="let document of documentClass" [value]="document.symName">{{document.name}}</option>
                                                </select> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g" *ngFor="let prop of docPropertyprops">
                    <div class="ui-g-12 ui-md-4">
                        <label for="input">{{prop.name | translate}}</label><label class="redStar" *ngIf="prop.req ==='true'">*</label>
                    </div>
                    <div class="ui-g-12 ui-md-8" *ngIf="prop.dtype !== 'OBJECT'">
                        <div class="col-12 col-md-12 left" *ngIf="prop.dtype === 'DATE'">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-calendar [showIcon]="true" [id]="prop.name" placeholder="Date" [formControlName]="prop.symName" *ngIf="ddmmyy" dateFormat="dd/mm/yy" id="{{prop.symName}}"></p-calendar>
                                        <p-calendar [showIcon]="true" [id]="prop.name" placeholder="Date" [formControlName]="prop.symName" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" id="{{prop.symName}}"></p-calendar>
                                    </div>
                                </div>
                            </div>
                            <!-- <my-date-picker class="col-12" [id]="prop.name" [options]="myDatePickerOptions" [formControlName]="prop.symName" [attr.required]="prop.rOnly === 'TRUE' ? true : false"></my-date-picker> -->
                        </div>
                        <div class="ui-g-12 ui-md-12" *ngIf="prop.dtype === 'STRING'">
                            <span class="md-inputfield" *ngIf="prop.symName !== 'documenttitle' && prop.lookups === undefined">
                                          <input class="ui-g-12 ui-md-12" id="{{prop.symName}}" type="text"  pInputText  [name]="prop.symName" [value]="prop.mvalues" [formControlName]="prop.symName" [readonly]="!prop.rOnly"/>
                                      </span>
                            <span class="md-inputfield" *ngIf="prop.symName === 'documenttitle' && prop.lookups === undefined">
                                        <input class="ui-g-12 ui-md-12" id="{{prop.symName}}" type="text"  pInputText  [name]="prop.symName" [value]="prop.mvalues" [formControlName]="prop.symName" [readonly]="!prop.rOnly"/>
                                    </span>

                            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.symName !== 'documenttitle' && prop.lookups !== undefined">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <select class="ui-g ui-g-12" id="{{prop.symName}}" [formControlName]="prop.symName" [(ngModel)]="prop.mvalues[0]" style="background: #fff; border: none; border-bottom: 1px solid #ccc">
                                                    <option *ngFor="let document of prop.lookups" [value]="document.value">{{document.label}}</option>
                                                </select>
                                        <!-- <p-dropdown class="ui-g-12" id="{{prop.symName}}" [formControlName]="prop.symName" [options]="prop.lookups" [autoWidth]="false" placeholder="Select {{prop.symName}}"></p-dropdown> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12" *ngIf="prop.dtype === 'LONG'">
                            <span class="md-inputfield">
                                          <input class="ui-g-12 ui-md-12" id="{{prop.symName}}" type="number"  pInputText  [name]="prop.symName" [value]="prop.mvalues" [formControlName]="prop.symName" [readonly]="!prop.rOnly"/>
                                      </span>
                        </div>

                    </div>


                </div>
                <div class="ui-g ui-g-nopad">
                    <div class="ui-g-4 ui-md-4">

                    </div>
                    <div class="ui-g-4 ui-md-4 textCenter">
                        <button pButton type="submit" label="{{'Save' | translate}}" icon="ui-icon-save" [disabled]="!editProp.valid "></button>
                    </div>
                    <div class="ui-g-4 ui-md-4">

                    </div>
                </div>
            </form>
        </div>
        <div class="ui-g-6 ui-md-6 ui-lg-6 ui-sm-12">
            <app-doc-viewer [type]="'document'" [docId]='listOffilesInfolder[count].id' [documentPermission]="documentActionsList" [timestamp]="timestamp" [pageNumber]='1' (documentClicked)="documentClicked($event)" [changePage]="changePage" (printTrue)="showPrint($event)"
                (annotionValue)="annotaionEmmitted($event)"></app-doc-viewer>
        </div>
    </div>
</div>