.width100 {
    width: 100% !important;
    text-align: left;
}

.cardHegt {
    min-height: 500px;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    font-weight: bold;
}

.padding {
    padding: 7px;
}

.textRight {
    text-align: right;
}

.ui-inputtext {
    width: 100% !important;
}

.utlDataPosLeft {
    position: absolute;
    z-index: 1000;
    right: 2%;
    font-weight: bold;
}

.urlDataPosRight {
    position: absolute;
    z-index: 1000;
    right: 16%;
    font-weight: bold;
}

.show {
    visibility: hidden;
}

.show:hover {
    visibility: visible;
}

.btnwidth {
    width: 100px;
}