<div class="card cardHegt">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad">
            <button pButton icon="ui-icon-add" type="button" tooltipPosition="top" pTooltip="{{'Add' | translate}}" (click)="addDataSetProps()"></button>
        </div>
        <div class="ui-g-11">

            <div [class]="selectedLanguage === 'ar' ? 'urlDataPosRight': 'utlDataPosLeft'">
                {{'Data' | translate}}
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad">
        <table class="table table-responsive width100" *ngIf="dataSetArray">
            <thead *ngIf="dataSetArray">
                <th *ngFor="let val of dataSetArray" class="padding">
                    {{val}}
                </th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let items of dataSetItems" class="showRemove pointer">
                    <td *ngFor="let value of items" class="padding" (click)="editDataFormProps(items)">
                        {{value.value[0].value}}
                    </td>
                    <td>
                        <button pButton type="button" class="removeClass" icon="ui-icon-delete" (click)="deleteDataFormProps(items)"></button>
                    </td>
                </tr>
                <br>
            </tbody>
        </table>
    </div>
</div>
<ngx-smart-modal #reportFilterModel identifier="reportFilterModel">
    <h3>{{ reportName | translate }}</h3>
    <form [formGroup]="tempelateRender" (ngSubmit)="formFilterSubmit($event)">
        <div class="global-sales ">
            <div class="ui-g ui-lg-12 ui-sm-12">
                <div class="ui-g-12 ui-lg-12 ui-sm-12" *ngFor="let prop of formFilterproperties;let k = index">
                    <div class="ui-g-1"></div>
                    <div class="ui-lg-2 ui-sm-2 ui-g-2" *ngIf="!isRtl && converToUppercase(prop.name) !== dataSchema.keyName">
                        <label>{{prop.label | translate}} <sup class="redstar" *ngIf="prop.req === 'TRUE' ? true : false">*</sup></label>
                    </div>
                    <div class="ui-lg-8 ui-sm-8 ui-md-8 ui-g-8" *ngIf="( converToUppercase(prop.name) !== converToUppercase(dataSchema.keyName))">
                        <input type="text" *ngIf="prop.uitype.uitype === 'TEXT'" [formControlName]="prop.name" [id]="prop.name" [name]="prop.name" placeholder="{{'Enter' | translate}} {{prop.label | translate}} " class="md-inputfield" [attr.maxlength]="prop.length" pInputText>
                        <input type="number" *ngIf="prop.uitype.uitype === 'NUMBER'" pKeyFilter="int" [name]="prop.name" [id]="prop.name" [formControlName]="prop.name" placeholder="{{'Enter' | translate}} {{prop.label | translate}}" class="form-control" [attr.maxlength]="prop.length"
                            pInputText>

                        <div *ngIf="prop.uitype.uitype === 'TEXTAREA'">
                            <textarea pInputTextarea type="text" [id]="prop.name" placeholder="{{'Enter' | translate}} {{prop.label | translate}}" [formControlName]="prop.name" rows="8">
                                    </textarea>
                            <!-- <textarea [rows]="3" [cols]="30" pInputTextarea [id]="prop.name" [innerHTML]="prop.value[0].value" disabled autoResize="autoResize"></textarea> -->
                            <!-- <quill-editor [id]="prop.name" [formControlName]="prop.name"></quill-editor> -->
                            <!-- <p-editor [style]="{'height':'250px'}" [id]="prop.name" [formControlName]="prop.name"></p-editor> -->
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'TIME'">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-calendar [id]="prop.name" showTime="true" [timeOnly]="true" [formControlName]="prop.name" placeholder="{{'Select' | translate}} {{prop.label | translate}}"></p-calendar>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'TIME'">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-calendar [id]="prop.name" showTime="true" [timeOnly]="true" [formControlName]="prop.name" placeholder="{{'Select' | translate}} {{prop.label | translate}}"></p-calendar>
                                </div>
                            </div>
                        </div>
                        <!-- <my-date-picker class="col-12" [id]="prop.name" *ngIf="prop.uitype.uitype === 'DATE' " [options]="myDatePickerOptions" [formControlName]="prop.name" [attr.required]="prop.rOnly === 'TRUE' ? true : false"></my-date-picker> -->
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DATE' && !isRtl ">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-calendar [showIcon]="true" placeholder="Select date" [formControlName]="prop.name" *ngIf="ddmmyy" dateFormat="dd/mm/yy" [name]="prop.name" [id]="prop.name"></p-calendar>
                                    <p-calendar [showIcon]="true" placeholder="Select date" [formControlName]="prop.name" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [name]="prop.name" [id]="prop.name"></p-calendar>

                                </div>
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DATE' && isRtl ">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-calendar [showIcon]="false" placeholder="Select date" [formControlName]="prop.name" *ngIf="ddmmyy" dateFormat="dd/mm/yy" [name]="prop.name" [id]="prop.name"></p-calendar>
                                    <p-calendar [showIcon]="false" placeholder="Select date" [formControlName]="prop.name" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [name]="prop.name" [id]="prop.name"></p-calendar>

                                </div>
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'LOOKUP'">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-dropdown [options]="prop.lookupOptions" [formControlName]="prop.name" [autoWidth]="false" [id]="prop.name" (onChange)="dbLookupDropdown($event, k )"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DBLOOKUP'">
                            <div class=" ui-grid-row ">
                                <!-- <div class="ui-grid-col-12 ">
                                            <p-dropdown [options]="prop.lookupOptions" [formControlName]="prop.name" [autoWidth]="false" [id]="prop.name" filter="true" placeholder="{{'Select' | translate}}" (onChange)="dbLookupDropdown($event,ind, i , j , k )"></p-dropdown>
                                        </div> -->
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'STEXTTA'">
                            <div class=" ui-grid-row ">
                                <!-- <div class="ui-grid-col-12 ">
                                            <p-autoComplete [formControlName]="prop.name" [(ngModel)]="prop.dbDummyValue" field="name" [suggestions]="prop.dbValue" searchtext (completeMethod)="onSearchAuto($event , prop.dblookup , i , j , k)" [multiple]="false" [id]="prop.name" [dropdown]="true"
                                                [minLength]="3" placeholder="{{'Single Search' | translate}}" (onSelect)="selectSingle($event, ind, i , j, k)"></p-autoComplete>
                                        </div> -->
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'MTEXTTA'">
                            <div class=" ui-grid-row ">
                                <!-- <div class="ui-grid-col-12 ">
                                            <p-autoComplete [formControlName]="prop.name" [(ngModel)]="prop.dbDummyValue" field="name" [suggestions]="prop.dbValue" (completeMethod)="onSearchAuto($event , prop.dblookup , i , j , k)" [multiple]="true" [id]="prop.name" [dropdown]="true" [minLength]="3"
                                                placeholder="{{'Multiple Search' | translate }}" (onSelect)="selctedMultiple($event, ind, i , j , k);" (onUnselect)="unselectMultiple($event, ind, i , j , k)" immediate="true"></p-autoComplete>
                                        </div> -->
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'CHECKBOX'">
                            <div class=" ui-grid-row ">
                                <div class="ui-grid-col-12 ">
                                    <!-- <p-checkbox [name]="prop.name" [id]="prop.name" binary="true" [(ngModel)]="true" [ngModelOptions]="{standalone: true}"></p-checkbox> -->
                                    <p-checkbox [name]="prop.name" [id]="prop.name" binary="true" [(ngModel)]="prop.value[0].value" [ngModelOptions]="{standalone: true}"></p-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-lg-2 ui-sm-2 ui-g-2" *ngIf="isRtl && converToUppercase(prop.name) !== dataSchema.keyName">
                        <label>{{prop.label | translate}} <sup class="redstar" *ngIf="prop.req === 'TRUE' ? true : false">*</sup></label>
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix float-right " *ngIf="isAdd">
                <button type="Submit" pButton [disabled]="!tempelateRender.valid" icon="ui-icon-send" label="{{'Submit' | translate }}"></button>
                <!-- <button type="button" pButton (click)="reportFilterModel.close()" icon="ui-icon-cancel" label="{{'Close' | translate }}"></button> -->
            </div>
            <div class="ui-dialog-buttonpane ui-helper-clearfix float-right " *ngIf="!isAdd">
                <button type="Submit" pButton [disabled]="!tempelateRender.valid" icon="ui-icon-send" label="{{'Update' | translate }}"></button>
                <!-- <button type="button" pButton (click)="" icon="ui-icon-cancel" label="{{'Delete' | translate }}"></button> -->
            </div>
        </p-footer>
    </form>
</ngx-smart-modal>
<ngx-smart-modal #deleteDataModel identifier="deleteDataModel">
    <h3>{{ 'Delete' | translate }}</h3>
    <div class="ui-g-12">
        <label>{{'Are you sure to delete?' | translate}}</label>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix float-right " *ngIf="!isAdd">
            <button type="button" pButton class="btnwidth" (click)="deleteDataModel.close()" icon="ui-icon-cancel" label="{{'Cancel' | translate }}"></button>
            <button type="button" pButton class="btnwidth" icon="ui-icon-send" label="{{'Ok' | translate }}" (click)="deleteData()"></button>
        </div>
    </p-footer>
</ngx-smart-modal>