<div class="card">
    <div class="ui-g-nopad top0">
        <span *ngIf="showActions"> <p-menu #menu popup="popup" [model]="items" [style]="{'width':'250px'}"></p-menu>
                        <button type="button" pButton icon="ui-icon-format-list-bulleted " tooltipPosition="top" pTooltip="{{'Actions' | translate}}" (click)="menu.toggle($event)" iconPos="right"></button>
        </span>
        <button pButton type="button" icon="ui-icon-refresh" tooltipPosition="top" pTooltip="{{'Refresh' | translate}}" (click)="refreshEvent()"></button>&nbsp;
        <button pButton type="button" icon="ui-icon-file-download" tooltipPosition="top" pTooltip="{{'Download As Excel' | translate}}" (click)="downloadEvent()"></button>&nbsp;
    </div>
    <div class="attachmentClass">
        <table class="table table-hover table-responsive background" *ngIf="typeFormat !== undefined">
            <thead>
                <th width="1%" *ngIf="typeFormat === 'Inbox'">
                    <p-checkbox id="slectallid" class="widt" name="selectall" [(ngModel)]="selectedAll" (onChange)="selectAll($event);" title="Select All"></p-checkbox>
                </th>
                <th width="1%" *ngIf="typeFormat === 'Inbox'">
                </th>
                <th class="text-center" [width]="typeFormat !== 'Inbox'? '16%' : '15%' ">
                    {{'Ref No.' | translate}}
                </th>
                <th class=" text-center " width="25% ">
                    {{ 'Subject' | translate}}
                </th>
                <th class="text-center " width="25% ">
                    {{ 'Type Name' | translate}}
                </th>
                <th class="text-center " width="12% " *ngIf="typeFormat === 'Sent'">
                    {{ 'Assigned To' | translate}}
                </th>
                <th class="text-center " width="13% " *ngIf="typeFormat === 'Inbox'  || typeFormat === 'Drafts'">
                    {{ 'Created By' | translate}}
                </th>
                <th class="text-center " width="10% ">
                    {{ 'Created On' | translate}}
                </th>
            </thead>
            <tbody class="pointer " *ngFor="let work of listOfTask ">
                <tr [class]="work.status !=='NEW' && typeFormat==='Inbox' ? 'backread': 'background' ">
                    <td width="1%" *ngIf="typeFormat ==='Inbox' ">
                        <p-checkbox class="width " [(ngModel)]="work.selected " (onChange)="checkIfAllSelected($event, work.id, work.typeId); "></p-checkbox>
                    </td>
                    <th width="1%" *ngIf="typeFormat === 'Inbox'">
                        <i class="material-icons" *ngIf="work.flag === 1">flag</i>
                    </th>
                    <td class=" text-center " (click)="readMail(work) ">
                        {{work.refNo}}
                    </td>
                    <td class="text-center " (click)="readMail(work) ">
                        {{work.subject}}
                    </td>
                    <td class="text-center " (click)="readMail(work) ">
                        {{work.typeName}}
                    </td>
                    <td class="text-center " (click)="readMail(work) " *ngIf="typeFormat === 'Sent'">
                        {{work.assignedToName}}
                    </td>
                    <td class="text-center " (click)="readMail(work) " *ngIf="typeFormat === 'Inbox' || typeFormat === 'Drafts'">
                        {{work.createdByName}}
                    </td>
                    <td class="text-center " (click)="readMail(work) ">
                        {{work.createdOn}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- {{pageSize}}{{totalPages}} -->
    <p-paginator [rows]="pageSize" [totalRecords]="totalPages" (onPageChange)="pagination($event)"></p-paginator>
</div>
<ngx-smart-modal #commentModel identifier="commentModel">
    <h3>{{ 'Comment' | translate }}<sup class="redstar">*</sup></h3>
    <!-- <app-doc-viewer [type]="'correspondence'" [docId]="formDocumentId"></app-doc-viewer> -->
    <div class="ui-g-12 ui-g-nopad">
        <!-- <input type="text" class="ui-g-12 md-inputfield" [(ngModel)]="activityComment" placeholder="Enter Comment"> -->
        <textarea pInputTextarea="pInputTextarea" class="ui-g-12" type="text" row="8" placeholder="Enter comment" [(ngModel)]="activityComment"></textarea>
    </div>
    <div class="footerTop ui-g-12">
        <div class="ui-g-8 ui-sm-2"></div>
        <div class="ui-g-2 ui-sm-5">
            <button pButton type="button" class="width" label="Cancel" (click)="closeComment()"></button>
        </div>
        <div class="ui-g-2 ui-sm-5">
            <button pButton type="button" class="width" label="Add" (click)="addComment()"></button>
        </div>
    </div>
</ngx-smart-modal>