<div class="ui-g-12">
    <p-tabView>
        <p-tabPanel header="{{ 'Documents' | translate }}" leftIcon="ui-icon-person" *ngIf="urlid === 'Document'" [selected]="selectedTab === 0">
            <p-accordion [activeIndex]="correspondenceindex">
                <p-accordionTab header="{{'Documents' | translate }}" (click)="paccordianLCicked()" [disabled]="tabIsDisabled" [selected]="isDocumentCollapse === true">
                    <div class="ui-g">
                        <div class=" ui-g-12 ui-md-12 ui-sm-12">
                            <form [formGroup]="documentsearch" (ngSubmit)="documentSubmit($event)">
                                <div class=" ui-g-12 ui-lg-12 ui-sm-12 ">
                                    <div class=" ui-g-12 ui-lg-2 ui-sm-12"></div>
                                    <div class=" ui-g-12 ui-lg-2 ui-sm-12 col-12">
                                        Document Class
                                    </div>
                                    <div class=" ui-g-12 ui-lg-6 ui-sm-12   ">
                                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <select id="docClass" class="ui-g-12" formControlName="documentname" style="background: #fff" (change)="documentClassChanged($event)">
                                                                <option *ngFor="let document of documentClass" [value]="document.id">{{document.name}}</option>
                                                            </select>
                                                    <!-- <p-dropdown [options]="documentClassToshow" optionLabel="label" formControlName="documentname" name="string" [autoWidth]="false" id="docClass" (onChange)="documentClassChanged($event)"></p-dropdown> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div *ngFor="let classProp of  documentClassProp; let i = index;">
                                    <div class=" ui-g-12 ui-lg-12 ui-sm-12" *ngIf="classProp.dtype !== 'OBJECT'">
                                        <div class=" ui-g-12 ui-lg-2 ui-sm-12"></div>
                                        <div class=" ui-g-12 ui-lg-2 ui-sm-12  ">
                                            {{classProp.name}}
                                        </div>
                                        <div class=" ui-g-12 ui-lg-2 ui-sm-12">
                                            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="classProp.dtype === 'STRING'">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12">
                                                        <p-dropdown [options]="stringDropdown" name="string" [autoWidth]="false" id="{{classProp.symName}}"></p-dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="classProp.dtype === 'DATE'">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12">
                                                        <p-dropdown [options]="dateDropdown" name="date" (onChange)="selectDropOptions($event, classProp)" [autoWidth]="false" id="{{classProp.symName}}"></p-dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="classProp.dtype === 'LONG'">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12">
                                                        <p-dropdown [options]="numberDropdown" name="id" [autoWidth]="false" id="{{classProp.symName}}"></p-dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" ui-g-12 ui-lg-4 ui-sm-12" *ngIf="classProp.dtype === 'STRING'">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12">
                                                        <input type="text" name="string" *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups === undefined" [id]="classProp.symName" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}}" pInputText>
                                                        <input type="text" name="string" *ngIf="classProp.symName == 'documenttitle' && classProp.lookups === undefined" [id]="classProp.symName" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}}" pInputText>

                                                        <div class="ui-grid ui-grid-responsive ui-fluid ui-g-nopad" *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups !== undefined" style="margin-top:-10px">
                                                            <div class="ui-grid-row">
                                                                <div class="ui-grid-col-12 ui-g-nopad">
                                                                    <select class="ui-g ui-g-12" id="{{classProp.symName}}" style="background: #fff; border: none; border-bottom: 1px solid #ccc">
                                                                        <option value="" selected>Select</option>
                                                                        <option *ngFor="let document of classProp.lookups" [value]="document.value">{{document.label}}</option>
                                                                    </select>
                                                                    <!-- [formControlName]="classProp.symName" -->
                                                                    <!-- <p-dropdown class="ui-g-12"  [options]="classProp.lookups" [autoWidth]="false" placeholder="Select {{classProp.name}}"></p-dropdown> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <input id="{{classProp.symName}}" type="text" class="form-control" placeholder="Enter {{classProp.name}}" pInputText> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" ui-g-12 ui-lg-4 ui-sm-12 " *ngIf="classProp.dtype === 'DATE' && classProp.between !== 'Between'">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12" *ngIf="ddmmyy">
                                                        <p-calendar [showIcon]="true" placeholder="Date" [formControlName]="classProp.symName" dateFormat="dd/mm/yy" id="{{classProp.symName}}" *ngIf="!dateValue"></p-calendar>
                                                    </div>
                                                    <div class="ui-grid-col-12" *ngIf="!ddmmyy">
                                                        <p-calendar [showIcon]="true" placeholder="Date" [formControlName]="classProp.symName" dateFormat="mm/dd/yy" id="{{classProp.symName}}" *ngIf="!dateValue"></p-calendar>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" ui-g-12 ui-lg-4 ui-sm-12 " *ngIf="classProp.dtype === 'DATE' && classProp.between === 'Between'">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12" *ngIf="ddmmyy">
                                                        <p-calendar [showIcon]="true" placeholder="Date" widgetVar="classProp.symName" selectionMode="range" [formControlName]="classProp.symName" dateFormat="dd/mm/yy" id="{{classProp.symName}}" *ngIf="!dateValue"></p-calendar>
                                                    </div>
                                                    <div class="ui-grid-col-12" *ngIf="!ddmmyy">
                                                        <p-calendar [showIcon]="true" placeholder="Date" widgetVar="classProp.symName" selectionMode="range" [formControlName]="classProp.symName" dateFormat="mm/dd/yy" id="{{classProp.symName}}" *ngIf="!dateValue"></p-calendar>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <app-datepicker-range *ngIf="dateValue" id="{{classProp.symName}}"></app-datepicker-range> -->
                                        </div>
                                        <div class=" ui-g-12 ui-lg-4 ui-sm-12   " *ngIf="classProp.dtype === 'LONG'">
                                            <input [id]="classProp.symName" type="number" class="form-control" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}}" pInputText>
                                        </div>
                                    </div>
                                    <span *ngIf="classProp.dtype !== 'OBJECT'"></span>
                                </div>
                                <div class="row text-center ui-md ui-sm buttonStrip">
                                    <div class=" ui-md-4 ui-sm-5  ui-g-12"></div>
                                    <div class=" ui-md-2 ui-sm-2  ui-g-12">
                                        <button pButton="pButton" icon="fa-close" type="button" label="{{'Clear' | translate }}" style="margin-bottom:10px" (click)="resetDocument()"></button>
                                        <!-- <button type="button" pButton="pButton" icon="fa-close" label="{{'Close' | translate }}"></button> -->
                                    </div>
                                    <div class=" ui-g-12 ui-lg-2 ui-sm-3">
                                        <button pButton="pButton" icon="ui-icon-search" type="submit" [disabled]="!documentsearch.valid" label="{{'Search' | translate }}" style="margin-bottom:10px"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="{{'Document Search Result' | translate }}" [disabled]="tabIsDisabled" [selected]="isDocumentResult === true" (click)="paccordianResultclicked()">
                    <div>
                        <div *ngIf="searchResultDiv" class="text-center">{{'No Results Are Found' | translate }}</div>
                        <div id="scrollId" class="container-fluid result" *ngIf="!searchResultDiv">
                            <app-folder-view [subDocumentList]="searchedDocument" [typeSearch]="advancedSearch" [searchParams]="search" (searchApi)="searchApiCalled($event)" (annotaionTabIsOpened)="closedAnnotation($event)"></app-folder-view>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </p-tabPanel>
        <p-tabPanel header="{{ 'Workflow' | translate }}" leftIcon="ui-icon-person" *ngIf="urlid === 'Correspondence'" [selected]="selectedTab === 1">
            <div class="ui-g-12" *ngIf="!workSearchResultDiv">
                <button type="button" pButton icon="ui-icon-file-download" tooltipPosition="top" pTooltip="{{'Download As Excel' | translate}}" style="position: absolute; top: 72px;right:1%" (click)="downloadAdExcelWorkflowSearched()"> </button>

            </div>
            <p-accordion [activeIndex]="correspondenceindex" *ngIf="workTypeDropdown.length > 0">
                <p-accordionTab header="{{ 'Search' | translate }}" (click)="paccordianLCicked()" [selected]="correspondenceindex === 0">

                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-12 ui-sm-12">
                            <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                            <div class="ui-g-10 ui-md-10 ui-sm-12" *ngIf="workTypeDropdown.length > 0">
                                <form [formGroup]="workTypeSearch" (ngSubmit)="workTypeSubmit($event)">
                                    <div class="ui-g">
                                        <div class="ui-g-2 ui-md-2 ui-sm-12"></div>
                                        <div class="ui-g-2 ui-md-2 ui-sm-12 ">
                                            {{'Work type' | translate }}
                                        </div>
                                        <div class="ui-g-6 ui-md-6 ui-sm-12">
                                            <select id="docClass" class="ui-g-12" formControlName="workTypeName" style="background: #fff" (change)="workTypeChange($event)">
                                                <option *ngFor="let document of workTypeDropdown" [value]="document.id">{{document.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="ui-g" *ngFor="let classProp of workTypeProps">
                                        <div class="ui-g-12" *ngIf="classProp.dtype !== 'OBJECT'">
                                            <div class="ui-g-2 ui-md-2 ui-sm-12"></div>
                                            <div class="ui-g-2 ui-md-2 ui-sm-12 form-group  ">
                                                {{ classProp.name }}
                                            </div>
                                            <div class="ui-g-6 ui-md-6 ui-sm-12 form-group  " *ngIf="classProp.dtype === 'STRING'">
                                                <input id="{{classProp.symName}}" [formControlName]="classProp.symName" class="ui-g-12" pInputText type="text" placeholder="Enter {{classProp.name}}" style="background: #fff">
                                            </div>
                                            <div class="ui-g-6 ui-md-6 ui-sm-12 form-group  " *ngIf="classProp.dtype === 'INTEGER' && classProp.symName === 'CREATEDBYROLE'">
                                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                                    <div class=" ui-grid-row ">
                                                        <div class="ui-grid-col-12 ">
                                                            <p-autoComplete id="{{classProp.symName}}" [formControlName]="classProp.symName" [multiple]="false" placeholder="{{'Please Select Single Role' | translate }}" field="name" [(ngModel)]="roleDropItems" [suggestions]="createdRole" searchtext="searchtext"
                                                                [dropdown]="true" (completeMethod)="onSearch($event)"></p-autoComplete>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui-g-6 ui-md-6 ui-sm-12 form-group  " *ngIf="classProp.dtype === 'DATE'">

                                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                                    <div class="ui-grid-row">
                                                        <div class="ui-grid-col-12" *ngIf="ddmmyy">
                                                            <p-calendar id="{{classProp.symName}}" [showIcon]="true" placeholder="Date" [formControlName]="classProp.symName" dateFormat="dd/mm/yy" *ngIf="!dateValue"></p-calendar>
                                                        </div>
                                                        <div class="ui-grid-col-12" *ngIf="!ddmmyy">
                                                            <p-calendar id="{{classProp.symName}}" [showIcon]="true" placeholder="Date" [formControlName]="classProp.symName" dateFormat="mm/dd/yy" *ngIf="!dateValue"></p-calendar>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui-g-6 ui-md-6 ui-sm-12 form-group  " *ngIf="classProp.dtype === 'LONG' || classProp.dtype === 'INTEGER' && classProp.symName !== 'CREATEDBYROLE'">
                                                <input id="{{classProp.symName}}" pInputText class="ui-g-12" [formControlName]="classProp.symName" type="number" placeholder="Enter {{classProp.name}}" style="background: #fff">
                                            </div>
                                        </div>
                                        <span *ngIf="classProp.dtype !== 'OBJECT'"></span>
                                    </div>
                                    <div class="ui-g">
                                        <div class="ui-g-4 ui-md-4 ui-sm-12"></div>
                                        <div class="ui-g-2 ui-md-2 ui-sm-12">
                                            <button pButton="pButton" icon="fa-close" type="button" label="{{'Clear' | translate}}" (click)="resetWorkType()"></button>
                                            <!-- <input type="button" value="CLEAR" (click)="resetDocument(documentsearch)"> -->
                                        </div>
                                        <div class="ui-g-3 ui-md-3 ui-sm-12">
                                            <button pButton="pButton" icon="ui-icon-search" type="submit" label="{{'Search' | translate}}"></button>

                                            <!-- <button type="submit">SEARCH</button> -->
                                        </div>
                                        <div class="ui-g-3 ui-md-3 ui-md-12"></div>
                                    </div>
                                </form>
                            </div>

                            <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab class="dashboard" header="{{ 'Search results' | translate }}">
                    <div *ngIf="workSearchResultDiv">{{'No Results Are Found' | translate }}</div>
                    <div *ngIf="!workSearchResultDiv">
                        <nav class="card global-sales">
                            <table>
                                <thead>
                                    <tr>
                                        <th width="20%">
                                            Ref no.
                                        </th>
                                        <th width="30%">
                                            Subject
                                        </th>
                                        <th width="10%">
                                            Status
                                        </th>
                                        <th width="20%">
                                            Created By
                                        </th>
                                        <th width="10%">
                                            Created on
                                        </th>
                                        <th width="5%"></th>
                                        <th width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let work of listOfTaskActivities">
                                    <tr>
                                        <td class="  pointer" (click)="history(work)">
                                            {{work.refNo}}
                                        </td>
                                        <td class=" pointer" (click)="history(work)">
                                            {{work.subject}}
                                        </td>
                                        <td class="pointer" (click)="history(work)">
                                            {{work.status}}
                                        </td>
                                        <td class="pointer" (click)="history(work)">
                                            {{work.createdUserName}}
                                        </td>
                                        <td class="pointer" (click)="history(work)">
                                            {{work.createdOn}}
                                        </td>
                                        <td>
                                            <button pButton class="ui-g-nopad" *ngIf="work.primaryDoc" (click)="download(work)" type="button" icon="ui-icon-file-download" tooltipPosition="top" pTooltip="{{'Download' | translate}}">
                                              </button>
                                        </td>
                                        <td>
                                            <button pButton class="ui-g-nopad" *ngIf="work.primaryDoc" (click)="attachment(work)" type="button" icon="ui-icon-attach-file" tooltipPosition="top" pTooltip="{{'Attachments' | translate}}">
                                              </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </nav>
                    </div>
                </p-accordionTab>
            </p-accordion>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12 ui-sm-12">
                    <div class="ui-g-10 ui-md-10 ui-sm-12" *ngIf="workTypeDropdown.length === 0">
                        You don't have access to any worktypes.
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>

<ngx-smart-modal #attachmentModel identifier="attachmentModel">
    <h3>{{'Attachment' | translate }}</h3>
    <div class="dashboard" style="max-height: 400px; overflow-y: auto">
        <div class="global-sales">
            <table>
                <thead>
                    <tr>
                        <th width="35%">
                            document Title
                        </th>
                        <th width="25%">
                            DocType Name
                        </th>
                        <th width="15%">
                            Type
                        </th>
                        <th width="15%">
                            Format
                        </th>
                        <th width="5%">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let history of attachmentres">
                        <td width="35%">
                            {{history.docTitle}}
                        </td>
                        <td width="25%">
                            {{history.docType.name}}
                        </td>
                        <td width="15%">
                            {{history.docType.type}}
                        </td>
                        <td width="15%">
                            {{history.format}}
                        </td>
                        <td width="5%">
                            <button type="button" pButton icon="ui-icon-file-download" (click)="download(history.docId)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</ngx-smart-modal>