.ui-inputtext {
    width: 100% !important;
}

.redstar {
    color: red;
}

.wrapperCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .global-sales table tbody tr {
    border-top: 0px solid #dbdbdb !important;
}