.footerValue {
    color: #fff !important;
    margin-left: 3.3%;
}

.buttonStrip {
    position: fixed;
    z-index: 1001;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 21px !important;
}

.app-name {
    font-size: 21px !important;
}

.pistaceoLogo {
    width: 266px !important;
    height: 84px !important;
    padding-left: 7px !important;
    margin-top: -25px !important;
}