        .imageBorder {
            border: 1px solid black;
        }
        /* Spinner CSS */
        
        .lds-roller {
            display: inline-block;
            height: 64px;
            left: 48%;
            top: 47%;
            margin-left: 50%;
            margin-right: 50%;
            position: inherit;
        }
        
        .lds-roller div {
            animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            transform-origin: 32px 32px;
        }
        
        .lds-roller div:after {
            content: " ";
            display: block;
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #455a64;
            margin: -3px 0 0 -3px;
        }
        
        .lds-roller div:nth-child(1) {
            animation-delay: -0.036s;
        }
        
        .lds-roller div:nth-child(1):after {
            top: 50px;
            left: 50px;
        }
        
        .lds-roller div:nth-child(2) {
            animation-delay: -0.072s;
        }
        
        .lds-roller div:nth-child(2):after {
            top: 54px;
            left: 45px;
        }
        
        .lds-roller div:nth-child(3) {
            animation-delay: -0.108s;
        }
        
        .lds-roller div:nth-child(3):after {
            top: 57px;
            left: 39px;
        }
        
        .lds-roller div:nth-child(4) {
            animation-delay: -0.144s;
        }
        
        .lds-roller div:nth-child(4):after {
            top: 58px;
            left: 32px;
        }
        
        .lds-roller div:nth-child(5) {
            animation-delay: -0.18s;
        }
        
        .lds-roller div:nth-child(5):after {
            top: 57px;
            left: 25px;
        }
        
        .lds-roller div:nth-child(6) {
            animation-delay: -0.216s;
        }
        
        .lds-roller div:nth-child(6):after {
            top: 54px;
            left: 19px;
        }
        
        .lds-roller div:nth-child(7) {
            animation-delay: -0.252s;
        }
        
        .lds-roller div:nth-child(7):after {
            top: 50px;
            left: 14px;
        }
        
        .lds-roller div:nth-child(8) {
            animation-delay: -0.288s;
        }
        
        .lds-roller div:nth-child(8):after {
            top: 45px;
            left: 10px;
        }
        
        @keyframes lds-roller {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        
        .ng-sticky-item h2,
        .ng-sticky-item p {
            overflow: hidden;
            text-overflow: ellipsis
        }
        
        .ng-sticky-item {
            position: relative;
            overflow: hidden;
            text-decoration: none;
            color: #000;
            background: #ffc;
            display: block;
            height: 10em;
            width: 10em;
            padding: 1em;
            box-shadow: 5px 5px 7px rgba(33, 33, 33, .7)
        }
        
        .ng-sticky-item .ng-sticky-item-header {
            position: absolute;
            right: 0;
            width: 100%;
            top: 0;
            text-align: right;
            opacity: .2
        }
        
        .ng-sticky-item .ng-sticky-item-header .ng-sticky-notes-button {
            margin-right: 5px
        }
        
        .ng-sticky-item .ng-sticky-item-footer {
            height: 1em;
            position: absolute;
            width: 100%;
            bottom: 0;
            text-align: right;
            left: 0
        }
        
        .ng-sticky-item .ng-sticky-item-footer p {
            margin: -5px;
            padding: 0;
            font-size: 1em;
            font-weight: 700;
            color: #979797
        }
        
        .ng-sticky-item .ng-sticky-item-content {
            width: 100%;
            height: 100%;
            overflow: hidden
        }
        
        .signatureStickyContent {
            width: 100%;
            height: 100%;
            overflow: hidden;
            word-break: break-all;
        }
        
        .ng-sticky-item:hover .ng-sticky-item-footer,
        .ng-sticky-item:hover .ng-sticky-item-header {
            opacity: 1
        }
        
        .ng-sticky-item .watermark {
            opacity: .2
        }
        
        .ng-sticky-item h2 {
            margin: 0;
            font-family: arial, sans-serif;
            font-size: 140%;
            padding: 0 0 10px;
            background: 0 0;
            border: 0;
            width: 100%;
            white-space: nowrap
        }
        
        .ng-sticky-item h2 input[type=text],
        .ng-sticky-item h2 textarea {
            font-weight: 700;
            background: 0 0;
            border: 0;
            width: 100%
        }
        
        .ng-sticky-item p,
        .ng-sticky-item p input[type=text],
        .ng-sticky-item p textarea {
            width: 100%;
            border: 0;
            background: 0 0
        }
        
        .ng-sticky-item p {
            min-height: 2em;
            white-space: normal
        }
        
        .ng-sticky-item p input[type=text],
        .ng-sticky-item p textarea {
            resize: none;
            font-size: 100%
        }
        
        .ng-sticky-notes li,
        .ng-sticky-notes ul {
            list-style: none
        }
        
        .ng-sticky-notes ul {
            padding-right: 10em;
            min-height: 14em
        }
        
        .ng-sticky-notes ul li {
            margin: 1em;
            float: left;
            width: 20px
        }
        
        .ng-sticky-notes ul li .ng-sticky-item {
            z-index: 1;
            -webkit-transform: rotate(-6deg);
            -ms-transform: rotate(-6deg);
            transform: rotate(-6deg);
            box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
            -webkit-transition: -webkit-transform .15s linear;
            transition: -webkit-transform .15s linear;
            transition: transform .15s linear;
            transition: transform .15s linear, -webkit-transform .15s linear
        }
        
        .ng-sticky-notes ul li:nth-child(even) .ng-sticky-item {
            -webkit-transform: rotate(4deg);
            -ms-transform: rotate(4deg);
            transform: rotate(4deg);
            position: relative;
            top: 5px
        }
        
        .ng-sticky-notes ul li:nth-child(3n) .ng-sticky-item {
            -webkit-transform: rotate(-3deg);
            -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
            position: relative;
            top: -5px
        }
        
        .ng-sticky-notes ul li:nth-child(5n) .ng-sticky-item {
            -webkit-transform: rotate(5deg);
            -ms-transform: rotate(5deg);
            transform: rotate(5deg);
            position: relative;
            top: -10px
        }
        
        .ng-sticky-notes ul li .ng-sticky-item:focus,
        .ng-sticky-notes ul li .ng-sticky-item:hover {
            box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
            -webkit-transform: scale(1.25);
            -ms-transform: scale(1.25);
            transform: scale(1.25);
            position: relative;
            z-index: 5
        }
        
        .notHover {
            position: relative;
            overflow: hidden;
            text-decoration: none;
            color: #000;
            background: #ffc;
            display: block;
            height: 10em;
            width: 10em;
            padding: 1em;
            box-shadow: 5px 5px 7px rgba(33, 33, 33, .7)
        }
        
        .ng-sticky-notes-button {
            outline: 0;
            border: 0;
            cursor: pointer
        }
        
        .ng-sticky-item:hover {
            box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
            -webkit-transform: scale(1.25);
            -ms-transform: scale(1.25);
            transform: scale(1.25);
            position: relative;
            z-index: 5;
        }
        
        .box {
            height: 100%;
            width: 100%;
            background-color: #e3e4c2;
            line-height: 140px;
            text-align: center;
            box-shadow: 6px 6px 15px 2px rgba(0, 0, 0, .3);
            display: inline-block;
            margin: 20px;
        }
        
        .drag-block {
            position: absolute;
            left: 0;
            top: 0;
            /* set these so Chrome doesn't return 'auto' from getComputedStyle */
            background: rgba(255, 255, 255, 0.66);
            border: 2px solid rgba(0, 0, 0, 0.5);
            border-radius: 4px;
        }
        
        .box.box-right {
            float: right;
            width: 240px;
        }
        
        .right {
            text-align: right !important;
        }
        
        .textGap {
            margin-top: 6px;
            padding-left: 31px;
            font-weight: bold;
        }
        
        .headBackground {
            color: #fff !important;
            background: #246275;
        }
        
        .top {
            margin-top: 10px !important;
        }
        
        .left {
            text-align: left !important;
        }
        
        .placeholder {
            background: rgb(244, 244, 14);
            height: 50px !important;
            padding: 6px !important;
            /* padding-left: 10px; */
            width: 120px !important;
            border: none;
            cursor: pointer;
        }
        
        .placeholderStamp {
            background: rgb(116, 140, 210);
            height: 50px !important;
            padding: 6px !important;
            /* padding-left: 10px; */
            width: 120px !important;
            border: none;
            cursor: pointer;
        }
        
        .placeholder:active {
            border: none !important;
        }
        
        .removeSignPlace {
            width: 10px !important;
            height: 23px !important;
            float: right !important;
        }
        
        .addBtnTop {
            margin-top: 36% !important;
        }
        /* floating top */
        /* .dropdown {
            /* position: relative;
            display: inline-block;
        } */
        
        .dropdown-content {
            visibility: visible;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            margin-top: 36px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            -webkit-transition: opacity 2s, visibility 2s;
            -moz-transition: opacity 2s, visibility 2s;
            -ms-transition: opacity 2s, visibility 2s;
            -o-transition: opacity 2s, visibility 2s;
            transition: opacity 2s, visibility 2s;
            opacity: 1;
            z-index: 1000000000000000000;
            max-width: 250px;
        }
        
        .dropdown-content a {
            color: #607D8B;
            padding: 6px 8px;
            text-decoration: none;
            display: block;
            height: 33px !important;
            /* font-family: 'Quicksand', sans-serif; */
        }
        
        .dropdown-content a:hover {
            background-color: #607D8B;
            color: #FFF;
        }
        
        .titleTopBar {
            color: #000;
            font-weight: bold;
            text-align: center;
            min-height: 30px;
            margin-bottom: 10px;
            background-color: none;
        }
        
        .titleTopBar:hover {
            background-color: #F9F9F9 !important;
            color: #607D8B!important;
        }
        
        .dropdown:hover .dropdown-content {
            visibility: visible;
            opacity: 1;
        }
        /* .dropdown:hover .dropbtn {
            /* background-color: #2c2c2c;
        } */
        /* floating top */