$primaryColor:#6136b3;
$primaryDarkColor:#512DA8;
$primaryLightColor:#AB81CD;
$primaryLightestColor:#E2ADF2;
$primaryTextColor:#F0FFF1;
$accentColor:#222A68;
$accentDarkColor: #222A68;
$accentLightColor: #E2ADF2;
$accentTextColor: #F0FFF1;

@import '../sass/theme/_theme';