/* .dashboard .global-sales table tbody tr td:nth-child(7) {
    text-align: left;
} */

.pointer {
    cursor: pointer;
}

.blackText {
    color: black;
}

.layout-breadcrumb {
    padding-top: 2px;
}

.dashboard .global-sales table tbody.recent tr {
    border-top: 0px solid #f1cbcb !important;
}

.dashboard .global-sales table tbody.recent tr:nth-child(2) {
    border-bottom: 1px solid #a5a5a5 !important;
}

.cardContent {
    background: #d6f1bb;
    box-shadow: 6px 8px 20px 0px #a3a7a0;
}

.cardMeta {
    background: #f1cbcb;
    box-shadow: 6px 8px 20px 0px #a3a7a0;
}

.cardTitle {
    background: #836ae0fc;
    box-shadow: 6px 8px 20px 0px #a3a7a0;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageCSS {
    overflow-y: auto;
    max-height: 500px;
}


/* Spinner CSS */

.lds-roller {
    display: inline-block;
    height: 64px;
    left: 48%;
    top: 47%;
    margin-left: 50%;
    margin-right: 50%;
    position: inherit;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #455a64;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.backgroundWhite {
    background: #fff;
}

.redStar {
    color: red;
}

input.upload {
    position: absolute;
    z-index: 9999999999999;
    margin-left: -43%;
    margin-top: 10%;
    opacity: 0;
    cursor: pointer;
}

.utlDocPosLeft {
    font-weight: bold;
    float: right !important;
    margin-top: 7px;
}

.urlDocPosRight {
    font-weight: bold;
    margin-top: 5px;
}

.topAdd {
    position: absolute;
    top: 114px;
    right: 1%;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background: #246275;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    padding-left: 5px;
    padding-top: 4px;
    box-shadow: 1px 1px 1px 1px #cccc;
}

.topRemove {
    position: absolute;
    top: 56px;
    right: 1%;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background: #246275;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    padding-left: 5px;
    padding-top: 4px;
    box-shadow: 1px 1px 1px 1px #cccc;
}