<div class="ui-g ui-g dashboard ui-g-nopad">
    <div class="ui-g-12 ui-lg-12 ui-g-nopad">
        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
                <div class="ui-g card " style="padding: 0 ; height: 43px;" *ngIf="repoId !== undefined || folderId !== undefined || folderActions.length > 0 || tieredItemsActions.length > 0">
                    <div class="ui-g-12 ui-md-12 ui-sm-12 ui-g-nopad ">
                        <div class="ui-g-9 ui-md-9 ui-sm-12 ui-g-nopad">
                            <div class="layout-breadcrumb" style="padding: 0px;  -webkit-box-shadow: 0 0 0;">
                                <ul *ngIf="repoId !== undefined">
                                    <button pButton type="button" style="width:2em; height: 2em" icon="ui-icon-keyboard-arrow-up" (click)="moveToTopFolder()"></button> &nbsp; &nbsp;
                                    <ng-template ngFor let-item let-last="last" [ngForOf]="breadcrumbItems">
                                        <li (click)="breadCrumbClicked(item)" style="font-size: 14px;" class="pointer">
                                            <ng-container>{{item.label | translate}}</ng-container>
                                        </li>
                                        <li *ngIf="!last">></li>
                                    </ng-template>
                                </ul>
                            </div>
                        </div>
                        <div class="ui-g-3 ui-md-3 ui-sm-12 ui-g-nopad">
                            <ul style="padding: 0;
                                margin: 5px;">
                                <button type="button" pButton icon="ui-icon-open-in-new" label="{{'Folder Actions'| translate }}" (click)="menufolderActions.toggle($event)" style="margin-left:5px" *ngIf="repoId !== undefined && folderId !== undefined && folderActions.length > 0 && tieredItemsActions.length === 0 "></button>
                                <p-menu #menufolderActions popup="popup" [model]="folderActions" [style]="{'width':'250px'}"></p-menu>
                                <button type="button" *ngIf="tieredItemsActions.length > 0 && folderActions.length === 0" pButton icon="ui-icon-open-in-new" label="{{'File Actions'| translate }}" (click)="menuActions.toggle($event)" style="margin-left:5px"></button>
                                <p-menu #menuActions popup="popup" [model]="tieredItemsActions" [style]="{'width':'250px'}"></p-menu>
                                <button type="button" pButton icon="ui-icon-add" label="{{'New' | translate }}" (click)="menu.toggle($event)" style="margin-left:5px" *ngIf="(repoId !== undefined) && (folderId !== undefined) && (tieredItems.length > 0)"> </button>
                                <button type="button" pButton icon="ui-icon-file-download" tooltipPosition="top" pTooltip="{{'Download As Excel' | translate}}" (click)="downloadAdExcel()" style="margin-left:5px" *ngIf="(repoId !== undefined) && (folderId !== undefined) && (tieredItems.length > 0)"> </button>
                                <p-menu #menu popup="popup" [model]="tieredItems" [style]="{'width':'250px'}"></p-menu>
                                <span [class]="selectedLangauge === 'ar' ? 'urlPosDocRight': 'utlDocPosLeft'">{{'Documents' | translate}}</span>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-g-nopad" style="margin-top: -10px;">
                    <p-tabView (onChange)="onTabChange($event)" [activeIndex]="activeIndexNumber" (onClose)="closeDocProps($event)">
                        <p-tabPanel header="{{ 'Documents' | translate }}" leftIcon="ui-icon-folder-open">
                            <div class="ui-g-12" *ngIf="searchParams && typeSearch === 'genericSearch'">
                                <i tooltipPosition="top" pTooltip="{{'Download As Excel' | translate}}" (click)="downloadAdExcelDocSearched()" [class]=" (folderActions.length> 0 || tieredItemsActions.length > 0) ? 'topAdd material-icons': 'topRemove material-icons'">vertical_align_bottom</i>
                                <!-- <button type="button" pButton icon="ui-icon-file-download" tooltipPosition="top" pTooltip="{{'Download As Excel' | translate}}"
                                    (click)="downloadAdExcelDocSearched()" [class]="(folderActions.length > 0 || tieredItemsActions.length > 0) ? 'topAdd': 'topRemove'"> </button>
                             -->
                            </div>
                            <div class="ui-g-12" *ngIf="searchParams && typeSearch === 'advancedSearch'">
                                <button type="button" pButton icon="ui-icon-file-download" tooltipPosition="top" pTooltip="{{'Download As Excel' | translate}}" style="position: absolute; top: 72px;right:1%" (click)="downloadAdExcelDocSearched()"> </button>

                            </div>
                            <div class="ui-g-nopad global-sales">
                                <table>
                                    <thead>
                                        <tr>
                                            <th width="1%"></th>
                                            <th width="1%"></th>
                                            <th width="3%"></th>
                                            <th>{{ 'Name' | translate }}</th>
                                            <th>{{ 'Modified Date' | translate }}</th>
                                            <th>{{ 'Creator' | translate }}</th>
                                            <th>{{'Modifier' | translate }}</th>
                                            <th>{{'Added On' | translate}}</th>
                                            <th>{{'Version' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="repoId === undefined && folderId === undefined && typeSearch === '' ">
                                        <tr *ngFor="let document of recentDocsList">
                                            <td>
                                                <p-checkbox binary="true" (onChange)="documentChecked($event , document);"></p-checkbox>
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">
                                                <i class="material-icons" aria-hidden="true" *ngIf="document.status === 'CHECKOUT'">lock</i>
                                            </td>
                                            <td (click)="documentPropertyTab(document, 'docProp')" class="pointer" *ngIf="document.format === 'application/pdf'"><img src='assets\images\pdf-icon.png' alt="folder" style="width:20px; height: 20px">
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')" *ngIf="document.format === 'image/png'"><img src='assets\images\png-icon.png' alt="folder" style="width:20px; height:20px">
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')" *ngIf="document.format !== 'application/pdf' && document.format !== 'image/png'"><img src='assets\images\Docs-icon.png' alt="folder" style="width:20px; height: 20px">
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.props[0].mvalues}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')"> {{document.modOn}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.creator}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')"> {{document.modifier}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.addOn}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.verNo}}</td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="repoId !==  undefined || folderId !== undefined ">
                                        <tr *ngFor="let document of listOfFolders">
                                            <td>
                                                <p-checkbox binary="true" (onChange)="folderChecked($event , document)" *ngIf="repoId !== undefined && folderId !== undefined"></p-checkbox>
                                            </td>
                                            <td class="pointer" (click)="folderRowDblClicked(document)">
                                                <i class="material-icons" aria-hidden="true" *ngIf="document.status === 'CHECKOUT'">lock</i>
                                            </td>
                                            <td class="pointer" (click)="folderRowDblClicked(document)"><img src='assets\images\folder.png' alt="folder" style="width:20px; height: 20px">
                                            </td>
                                            <td class="pointer" (click)="folderRowDblClicked(document)">{{document.name}}</td>
                                            <td class="pointer" (click)="folderRowDblClicked(document)"> </td>
                                            <td class="pointer" (click)="folderRowDblClicked(document)"></td>
                                            <td class="pointer" (click)="folderRowDblClicked(document)"> </td>
                                            <td class="pointer" (click)="folderRowDblClicked(document)"></td>
                                            <td class="pointer" (click)="folderRowDblClicked(document)"></td>
                                            <td class="pointer" (click)="folderRowDblClicked(document)">
                                                <!-- <i class="fa fa-cogs cogsFont  pointer " aria-hidden="true" (click)="folderPropertyTab(document)"></i> -->
                                            </td>
                                        </tr>
                                        <tr *ngFor="let document of listOffilesInfolder">
                                            <td>
                                                <p-checkbox binary="true" (onChange)="documentChecked($event , document);"></p-checkbox>
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">
                                                <i class="material-icons" aria-hidden="true" *ngIf="document.status === 'CHECKOUT'">lock</i>
                                            </td>
                                            <td (click)="documentPropertyTab(document, 'docProp')" class="pointer" *ngIf="document.format === 'application/pdf'"><img src='assets\images\pdf-icon.png' alt="folder" style="width:20px; height: 20px">
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')" *ngIf="document.format === 'image/png'"><img src='assets\images\png-icon.png' alt="folder" style="width:20px; height:20px">
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')" *ngIf="document.format !== 'application/pdf' && document.format !== 'image/png'"><img src='assets\images\Docs-icon.png' alt="folder" style="width:20px; height: 20px">
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.props[0].mvalues}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')"> {{document.modOn}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.creator}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')"> {{document.modifier}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.addOn}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.verNo}}</td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngFor="let document of genericSearchList" class="recent">
                                        <tr>
                                            <td>
                                                <p-checkbox binary="true" (onChange)="documentChecked($event , document);"></p-checkbox>
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">
                                                <i class="material-icons" aria-hidden="true" *ngIf="document.status === 'CHECKOUT'">lock</i>
                                            </td>
                                            <td (click)="documentPropertyTab(document, 'docProp')" class="pointer" *ngIf="document.format === 'application/pdf'"><img src='assets\images\pdf-icon.png' alt="folder" style="width:20px; height: 20px">
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')" *ngIf="document.format === 'image/png'"><img src='assets\images\png-icon.png' alt="folder" style="width:20px; height:20px">
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')" *ngIf="document.format !== 'application/pdf' && document.format !== 'image/png'"><img src='assets\images\Docs-icon.png' alt="folder" style="width:20px; height: 20px">
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.props[0].mvalues}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')"> {{document.modOn}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.creator}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')"> {{document.modifier}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.addOn}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.verNo}}</td>
                                        </tr>
                                        <tr *ngFor="let recent of genericSearchList; let i = index">
                                            <td colspan="9" *ngIf="recent.id === document.id">
                                                <div class="ui-g-12">
                                                    <div [class]="document.fragments.length === 1? 'ui-lg-12 ui-sm-12 ui-g-12' : document.fragments.length === 2 ? 'ui-lg-6 ui-sm-6 ui-g-12' : 'ui-lg-4 ui-sm-4 ui-g-12'   " *ngFor="let frag of document.fragments">
                                                        <div class="card cardContent pointer" (click)="searchPreviewPage(document.id , recent)" *ngIf="frag.index === 'contents'" [innerHTML]="frag.frag"></div>
                                                        <div class="card cardMeta pointer" (click)="searchPreviewPage(document.id, recent)" *ngIf="frag.index === 'meta'" [innerHTML]="frag.frag"></div>
                                                        <div class="card cardTitle pointer" (click)="searchPreviewPage(document.id , recent)" *ngIf="frag.index === 'title'" [innerHTML]="frag.frag"></div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="typeSearch === 'advancedSearch'">
                                        <tr *ngFor="let document of advancedSearchList">
                                            <td>
                                                <p-checkbox binary="true" (onChange)="documentChecked($event , document);"></p-checkbox>
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">
                                                <i class="material-icons" aria-hidden="true" *ngIf="document.status === 'CHECKOUT'">lock</i>
                                            </td>
                                            <td (click)="documentPropertyTab(document, 'docProp')" class="pointer" *ngIf="document.format === 'application/pdf'"><img src='assets\images\pdf-icon.png' alt="folder" style="width:20px; height: 20px">
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')" *ngIf="document.format === 'image/png'"><img src='assets\images\png-icon.png' alt="folder" style="width:20px; height:20px">
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')" *ngIf="document.format !== 'application/pdf' && document.format !== 'image/png'"><img src='assets\images\Docs-icon.png' alt="folder" style="width:20px; height: 20px">
                                            </td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.props[0].mvalues}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')"> {{document.modOn}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.creator}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')"> {{document.modifier}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.addOn}}</td>
                                            <td class="pointer" (click)="documentPropertyTab(document, 'docProp')">{{document.verNo}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </p-tabPanel>

                        <p-tabPanel [header]="doc.docTitle" leftIcon="ui-icon-web-asset" *ngFor="let doc of docProps; let i = index" [closable]="true" (onChange)="tabClosed($event)">
                            <app-doc-property [documentId]="doc.id" [subject]="doc.docTitle" [primaryType]="priType" [type]="'document'" (refresh)="refreshComponent($event)" *ngIf="doc.type === 'docProp' && onlyTabAnnotations" (documentAnnotate)="documentAnnotationClicked($event)"
                                (docLinkEmitter)="docLinkEmitted($event, 'docProp')" [reloadComponent]="timestamp" (showPrintIs)="showPrint($event)" (showPerticularAnnotation)="showAnnotation($event)"></app-doc-property>
                            <app-document-annotation *ngIf="doc.type === 'docProp' && !onlyTabAnnotations" [docId]="doc.id" [primaryType]="priType" [documentType]="annotationDocumentType" [currentPage]="1" [annotationType]="annotationType" [viewType]="'document'" (pageChangeEmit)="pageChangeEmitted($event)"
                                (documentTypeChangeEmit)="documentTypeChangeEmitted($event)" [showPropBack]="'true'" [timeStamp]="timestamp" (showProps)="showPropsTab($event)"></app-document-annotation>
                            <app-index-document [folderId]="folderId" *ngIf="doc.type === 'indexDocument'" (documentAnnotate)="documentAnnotationClicked($event)" (showPrintIs)="showPrint($event)" (showPerticularAnnotation)="showAnnotation($event)"></app-index-document>
                        </p-tabPanel>
                        <p-tabPanel header="{{ 'Document annotation' | translate }}" leftIcon="ui-icon-details" *ngIf="annotationTabShow">
                            <app-document-annotation [docId]="annotationDocId" [primaryType]="priType" [documentType]="annotationDocumentType" [currentPage]="AnnotationCurrentPage" [annotationType]="annotationType" [viewType]="'document'" (pageChangeEmit)="pageChangeEmitted($event)"
                                (documentTypeChangeEmit)="documentTypeChangeEmitted($event)" [timeStamp]="timestamp"></app-document-annotation>
                        </p-tabPanel>
                        <p-tabPanel class="ui-g-nopad global-sales " header="{{'Print preview' | translate }} " *ngIf="printPreviewTab" leftIcon="ui-icon-pageview">
                            <iframe width="100%" height="580" [attr.src]="pdfUrl" type="application/pdf"></iframe>
                        </p-tabPanel>
                        <p-tabPanel header="{{ 'Search Document' | translate }}" leftIcon="ui-icon-pageview" *ngIf="searchDocumentTab">
                            <div>
                                <div class="ui-g">
                                    <div class="ui-g-12">
                                        <div class="ui-g-1 ui-sm-1 ui-md-1">
                                            <button pButton type="button" *ngIf="firstPage" icon="ui-icon-first-page" (click)="previousPageClicked()"></button>
                                        </div>
                                        <div class="ui-g-10 ui-sm-10 ui-md-10"></div>
                                        <div class="ui-g-1 ui-sm-1 ui-md-1">
                                            <button pButton type="button" *ngIf="lastPage" icon="ui-icon-last-page" (click)="nextPageClicked()"></button>
                                        </div>
                                    </div>
                                </div>
                                <img class="ui-g-12" *ngIf="imageToShow !== '' " [src]="imageToShow">
                                <div id="spinner" class="lds-roller" style="display: block">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <p-paginator [rows]="1" [totalRecords]="totalPages" [first]="curPage" (onPageChange)="paginate($event)"></p-paginator>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-smart-modal #addNewFolderModelGeneric identifier="addNewFolderModelGeneric">
    <h3>{{'Add New Folder' | translate }}</h3>
    <div>
        <form [formGroup]="createFolder" (ngSubmit)="createNewFolder(createFolder);addNewFolderModelGeneric.close()">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12 ui-sm-12">
                    <div class="ui-g-4 ui-md-4 ui-sm-12">
                        {{ 'Folder Name' | translate }} :
                    </div>
                    <div class="ui-g-8 ui-md-8 ui-sm-12">
                        <input type="text" class="ui-g-12" id="folderName" pInputText name="foldername" formControlName="foldername" placeholder="Enter Folder Name">
                    </div>
                </div>
            </div>
            <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                <button type="button" icon="fa-close" pButton (click)="addNewFolderModelGeneric.close(); createFolder.reset()" label="{{'Cancel' | translate }}"></button>
                <button type="submit" class="width" icon="ui-icon-save" pButton label="{{'Add' | translate }}"></button>
            </div>
        </form>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #addNewDocumentModelGeneric identifier="addNewDocumentModelGeneric">
    <h3>{{ 'Add New Document' | translate }}</h3>
    <form [formGroup]="addNewDocument" (ngSubmit)="documentSubmit($event);" style="max-height: 450px;overflow-y: auto">
        <div>
            <div class="ui-g-12">
                <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                <div class="ui-g-3 ui-md-3 ui-sm-12">
                    {{ 'Attach Document' | translate }}
                </div>
                <div class="ui-g-1 ui-md-1 ui-sm-4" id="uploadFile_div">
                    <!-- <input type="file" #docfile name="fileupload" (change)="fileChanged($event)"> -->
                    <button pButton type="button" icon="ui-icon-attach-file" class="pointer" tooltipPosition="top" pTooltip="{{'Local Repository' | translate}}">
                        <input type="file"  #docfile class="upload pointer" name="fileupload"  (change)="fileChanged($event)" />
                        </button>
                </div>
                <div class="ui-g-1 ui-md-1 ui-sm-4 ">
                    <button pButton type="button" icon="ui-icon-print" (click)="scanImage('ENCLOSURE');clearFileInputField('uploadFile_div')" tooltipPosition="top" pTooltip="{{'Scan Document' | translate}}"></button>
                </div>
            </div>
            <div class="ui-g-12 dashboard" *ngIf="attachmentfileName">
                <div class="ui-g-4"></div>
                <div class="ui-g-6">
                    {{attachmentfileName}}
                </div>
            </div>
            <div class="ui-g-12 dashboard" *ngIf="enclosures.queue.length > 0">
                <div class="ui-g-4 ui-md-4 ui-sm-12"></div>
                <div class="ui-g-7 ui-md-7 ui-sm-12 global-sales">
                    <table>
                        <tbody>
                            <tr *ngFor="let item of enclosures.queue; let i = index">
                                <td width="95%">{{item.file.name}}</td>
                                <td width="5%">
                                    <button type="submit" pButton icon="fa-close" (click)="item.remove()"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                <div class="ui-g-3 ui-md-3 ui-sm-12">
                    {{'Document Class' | translate }}
                </div>
                <div class="ui-g-7 ui-md-7 ui-sm-12">
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <p-dropdown class="ui-g-12" id="docClass" [options]="documentClassDropdown" formControlName="documentname" [(ngModel)]="documentClassDropdownSelected" [autoWidth]="false" placeholder="{{'Select' | translate}}" (onChange)="documentClassChange($event)"></p-dropdown>
                                <!-- <select id="docClass" class="form-control dropdownwidth" formControlName="documentname"  (change)="documentClassChange($event)">
                                                <option *ngFor="let document of documentClass" [value]="document.symName">{{document.name}}</option>
                                            </select> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="ui-g-12" *ngFor="let classProp of  documentClassProp">
                <div class="ui-g-12 ui-md-12 ui-sm-12 ui-g-nopad">
                    <div class="ui-g-12" *ngIf="classProp.dtype !== 'OBJECT'">
                        <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                        <div class="ui-g-3 ui-md-3 ui-sm-12">
                            {{classProp.name}} <label class="redStar" *ngIf="classProp.req ==='true'">*</label>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'STRING'">
                            <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups === undefined" type="text" placeholder="Enter {{classProp.desc}}">
                            <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName === 'documenttitle' && classProp.lookups === undefined" type="text" placeholder="Enter {{classProp.desc}}">
                            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups !== undefined">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <select class="ui-g ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" style="background: #fff">
                                            <option *ngFor="let document of classProp.lookups" [value]="document.value">{{document.label}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-12 col-md-7" *ngIf="classProp.dtype === 'STRING' && classProp.symName === 'documenttitle' ">
                                    <input id="{{classProp.symName}}" type="text" value="attachmentfileName" placeholder="Enter {{classProp.name}}">
                                </div> -->
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'DATE'">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-calendar [showIcon]="true" placeholder="Date" [formControlName]="classProp.symName" *ngIf="ddmmyy" dateFormat="dd/mm/yy" id="{{classProp.symName}}"></p-calendar>
                                        <p-calendar [showIcon]="true" placeholder="Date" [formControlName]="classProp.symName" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" id="{{classProp.symName}}"></p-calendar>

                                    </div>
                                </div>
                            </div>
                            <!-- <app-datepicker id="{{classProp.symName}}"></app-datepicker> -->
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'LONG'">
                            <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === ''">
                            <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                        </div>
                    </div>
                    <br *ngIf="classProp.dtype !=='OBJECT' ">
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                <button pButton type="button" icon="fa-close" (click)="addNewDocumentModelGeneric.close(); addNewDocument.reset(); enclosures.clearQueue(); " label="Cancel"></button>
                <button pButton type="submit" class="width" icon="ui-icon-save " label="{{'Save' | translate}} "></button>
            </div>
        </p-footer>
    </form>
</ngx-smart-modal>
<ngx-smart-modal #addBulkUploadModelGeneric identifier="addBulkUploadModelGeneric">
    <h3>{{ 'Bulk Upload' | translate }}</h3>
    <form [formGroup]="bulkUpload" (ngSubmit)="bulkUploadSubmit($event);" style="max-height: 450px;overflow-y: auto">
        <div>
            <div class="ui-g-12">
                <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                <div class="ui-g-3 ui-md-3 ui-sm-12">
                    {{ 'Attach Folder' | translate }}
                </div>
                <div class="ui-g-2 ui-md-2 ui-sm-7" id="bulkUploadFile_div">
                    <!-- <button pButton type="button" icon="ui-icon-attach-file" class="pointer" tooltipPosition="top" pTooltip="{{'Local Repository' | translate}}">
                        <input type="file"  #docfile class="upload pointer" name="fileupload"  (change)="fileChanged($event)" />
                        </button> -->
                    <button pButton type="button" icon="ui-icon-attach-file" class="pointer" tooltipPosition="top" pTooltip="{{'Local Repository' | translate}}">
                    <input type="file" #bulkFile class="upload pointer" name="fileupload" webkitdirectory directory multiple (change)="bulkUploadChanged($event)" />
                </button>
                </div>
            </div>
            <div class="ui-g-12 dashboard ui-g-nopad" *ngIf="bulkAttachmentFiles.length > 0">
                <div class="ui-g-4"></div>
                <div class="ui-g-6">
                    Document Name
                </div>
            </div>
            <div class="ui-g-12 dashboard " *ngIf="bulkAttachmentFiles.length > 0">
                <div class="ui-g-4 ui-md-4 ui-sm-12"></div>
                <div class="ui-g-7 ui-md-7 ui-sm-12 global-sales ">
                    <table>
                        <tbody>
                            <tr *ngFor="let item of bulkAttachmentFiles; let i = index">
                                <td width="95%" style="padding: 0">{{item.name}}</td>
                                <td width="5%" style="padding: 0">
                                    <button type="submit" pButton icon="fa-close" (click)="removeFromBulkUpload(item, i)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                <div class="ui-g-3 ui-md-3 ui-sm-12">
                    {{'Document Class' | translate }}
                </div>
                <div class="ui-g-7 ui-md-7 ui-sm-12">
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <p-dropdown class="ui-g-12" id="docClass" [options]="documentClassDropdown" formControlName="documentname" [(ngModel)]="documentClassDropdownSelected" [autoWidth]="false" placeholder="{{'Select' | translate}}" (onChange)="documentClassChange($event)"></p-dropdown>
                                <!-- <select id="docClass" class="form-control dropdownwidth" formControlName="documentname"  (change)="documentClassChange($event)">
                                                <option *ngFor="let document of documentClass" [value]="document.symName">{{document.name}}</option>
                                            </select> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="ui-g-12" *ngFor="let classProp of  documentClassProp">
                <div class="ui-g-12 ui-md-12 ui-sm-12 ui-g-nopad">
                    <div class="ui-g-12" *ngIf="classProp.dtype !== 'OBJECT'">
                        <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                        <div class="ui-g-3 ui-md-3 ui-sm-12">
                            {{classProp.name}} <label class="redStar" *ngIf="classProp.req ==='true'">*</label>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'STRING'">
                            <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups === undefined" type="text" placeholder="Enter {{classProp.desc}}">
                            <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName === 'documenttitle' && classProp.lookups === undefined" type="text" placeholder="Enter {{classProp.desc}}">
                            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups !== undefined">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <select class="ui-g ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" style="background: #fff">
                                            <option *ngFor="let document of classProp.lookups" [value]="document.value">{{document.label}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-12 col-md-7" *ngIf="classProp.dtype === 'STRING' && classProp.symName === 'documenttitle' ">
                                    <input id="{{classProp.symName}}" type="text" value="attachmentfileName" placeholder="Enter {{classProp.name}}">
                                </div> -->
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'DATE'">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-calendar [showIcon]="true" placeholder="Date" [formControlName]="classProp.symName" *ngIf="ddmmyy" dateFormat="dd/mm/yy" id="{{classProp.symName}}"></p-calendar>
                                        <p-calendar [showIcon]="true" placeholder="Date" [formControlName]="classProp.symName" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" id="{{classProp.symName}}"></p-calendar>

                                    </div>
                                </div>
                            </div>
                            <!-- <app-datepicker id="{{classProp.symName}}"></app-datepicker> -->
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'LONG'">
                            <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === ''">
                            <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                        </div>
                    </div>
                    <br *ngIf="classProp.dtype !=='OBJECT' ">
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                <button pButton type="button" icon="fa-close" (click)="addBulkUploadModelGeneric.close(); bulkUpload.reset(); " label="Cancel"></button>
                <button pButton type="submit" class="width" icon="ui-icon-save " label="{{'Save' | translate}} "></button>
            </div>
        </p-footer>
    </form>
</ngx-smart-modal>

<ngx-smart-modal #hashTwainModelGeneric identifier="hashTwainModelGeneric" (onClose)="websocketNotOpen = false">
    <h3>{{ 'Hash Twain' | translate }}</h3>
    <p> We request you to download Hash Twain Software,
        <a href="assets/HashTwain/HashTwain Setup.msi "> Click here to download</a></p>
</ngx-smart-modal>


<ngx-smart-modal #checkOutModelGeneric identifier="checkOutModelGeneric">
    <h3>{{ 'Check-out Document' | translate }}</h3>
    <div class="modal-body ">
        {{'Are you sure to cancel checkout?' | translate }}
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix float-right ">
            <button type="button" pButton icon="fa-close" (click)="checkOutModelGeneric.close()" label="{{'No' | translate}} "></button>
            <button type="button" pButton icon="fa-check" (click)="cancelCheckOut();checkOutModelGeneric.close();" label="{{'Yes' | translate}}"></button>
        </div>
    </p-footer>
</ngx-smart-modal>

<ngx-smart-modal #checkInModelGeneric identifier="checkInModelGeneric">
    <h3>{{ 'Check-in Document' | translate }}</h3>
    <form [formGroup]="editProp" (ngSubmit)="checkInSubmit($event); checkInModelGeneric.close();">
        <div class="ui-g">
            <div class="ui-g-1 ui-sm-12"></div>
            <div id="docClass" class="ui-g-3 ui-md-3 ui-sm-12">{{ 'DocClass' | translate}} </div>
            <div id="docclass" class="ui-g-8 ui-md-8 ui-sm-12">
                {{docPropertyName}}</div>
        </div>
        <br>
        <div class="ui-g-12">
            <div class="ui-g-1 ui-sm-12"></div>
            <div class="ui-g-3 ui-sm-12">
                <button pButton type="button" icon="ui-icon-attach-file" class="pointer" tooltipPosition="top" pTooltip="{{'Local Repository' | translate}}">
                            <input type="file"  id="checkInFileUploder" class="upload pointer" name="fileupload"  (change)="fileChanegd($event)" />
                            </button>
            </div>
            <div class="ui-g-8 ui-sm-12">
                <div class="ui-g-12 ui-g-nopad" *ngIf="attachmentfile">
                    {{attachmentfile.name}}
                </div>
            </div>
        </div>
        <br>
        <div class="ui-g-12" *ngFor="let classProp of  docPropertyprops">
            <div class="ui-g-12 ui-md-12 ui-sm-12 ui-g-nopad">
                <div class="ui-g-12" *ngIf="classProp.dtype !== 'OBJECT'">
                    <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                    <div class="ui-g-3 ui-md-3 ui-sm-12">
                        {{classProp.name}} <label class="redStar" *ngIf="classProp.req ==='true'">*</label>
                    </div>
                    <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'STRING'">
                        <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups === undefined" type="text" placeholder="Enter {{classProp.desc}}">
                        <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName === 'documenttitle' && classProp.lookups === undefined" type="text" placeholder="Enter {{classProp.desc}}">
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups !== undefined">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <select class="ui-g ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" style="background: #fff">
                                        <option *ngFor="let document of classProp.lookups" [value]="document.value">{{document.label}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'DATE'">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-calendar [showIcon]="true" id="{{classProp.symName}}" placeholder="Date" [formControlName]="classProp.symName" *ngIf="ddmmyy" dateFormat="dd/mm/yy"></p-calendar>
                                    <p-calendar [showIcon]="true" id="{{classProp.symName}}" placeholder="Date" [formControlName]="classProp.symName" *ngIf="!ddmmyy" dateFormat="mm/dd/yy"></p-calendar>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'LONG'">
                        <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                    </div>
                    <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === ''">
                        <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                    </div>
                </div>
                <br *ngIf="classProp.dtype !=='OBJECT' ">
            </div>
        </div>

        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                <button type="button" pButton icon="fa-close " (click)="checkInModelGeneric.close()" label="{{'Cancel' | translate}}"></button>
                <button type="Submit " class="width" pButton icon="fa-check " [disabled]="!editProp.valid" label="{{'Add' | translate}}"></button>
            </div>
        </p-footer>
    </form>
</ngx-smart-modal>

<ngx-smart-modal #renameFolderModelGeneric identifier="renameFolderModelGeneric">
    <h3>{{'Rename folder' | translate }}</h3>
    <div class="modal-body ">
        <form [formGroup]="renameFolder" (ngSubmit)="renameFolderSubmit()">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12 ui-sm-12">
                    <div class="ui-g-4 ui-md-4 ui-sm-12">
                        {{ 'Folder Name' | translate }} :
                    </div>
                    <div class="ui-g-8 ui-md-8 ui-sm-12">
                        <input type="text" class="ui-g-12" id="folderName" pInputText name="foldername" formControlName="foldername" placeholder="Enter Folder Name">
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                    <button type="button" pButton icon="fa-close" (click)="renameFolderModelGeneric.close(); renameFolder.reset()" label="{{'Cancel' | translate }}"></button>
                    <button type="submit" pButton icon="fa-check" [disabled]="!renameFolder.valid" label="{{'Rename' | translate }}"></button>
                </div>
            </p-footer>
        </form>
    </div>
</ngx-smart-modal>

<ngx-smart-modal class="dashboard" #folderPermissionModelGeneric identifier="folderPermissionModelGeneric">
    <h3>{{'Folder Permission' | translate }}</h3>
    <div class="ui-g ui-g-nopad">
        <div class="ui-g-12 ui-md-12" *ngIf="parentFolderActions.includes('PERMISSION')">
            <button class="ui-toolbar-group-right" pButton type="button" label="{{'Add Permission' | translate}}" icon="ui-icon-person-add" (click)="addFolderPermission()"></button>
        </div>
    </div>
    <div class="ui-g global-sales">
        <table class="ui-g-12 ui-md-12">
            <thead>
                <tr>
                    <td>
                        {{'Role' | translate}}
                    </td>
                    <td>
                        {{'Access Level' | translate}}
                    </td>
                    <td>
                        {{'Permission Source' | translate }}
                    </td>
                    <td>
                        {{'Applies To' | translate}}
                    </td>
                    <td>

                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer showRemove" *ngFor="let permission of folderPermission">
                    <td>
                        {{permission.granteeName}}
                    </td>
                    <td>
                        {{permission.accessLevel}}
                    </td>
                    <td>
                        {{permission.permissionSource}}
                    </td>
                    <td>
                        {{permission.depthName}}
                    </td>
                    <td>
                        <button pButton type="button" class="removeClass" icon="ui-icon-edit" (click)="editFolderPermissions(permission)" *ngIf="permission.permissionSource === 'Direct'"></button>

                        <button pButton type="button" class="removeClass" icon="ui-icon-delete" (click)="folderDeletePermissions(permission)" *ngIf="parentFolderActions.includes('PERMISSION')"></button>
                        <!-- <button pButton type="button" icon="ui-icon-settings" (click)="documnetAnnoation(annotation.pageNo)"></button> -->
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="addFolderPermissionDisplay">
            <div class="ui-g">
                <div class="ui-g-12 text-center">
                    <h4> Add Folder Permission </h4>
                </div>
            </div>
            <form [formGroup]="permissionModelForm" (ngSubmit)="folderPermissionFormSubmit(); ">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12 ui-sm-12">
                        <div class="ui-g-4 ui-md-4 ui-sm-12">
                            {{ 'Access Level' | translate}}:
                        </div>
                        <div class="ui-g-8 ui-md-8 ui-sm-12">
                            <!-- <input type="text" class="ui-g-12" pInputText> -->
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-dropdown class="ui-g-12" [options]="folderPermissionModelDropdown" formControlName="accessMask" [autoWidth]="false" placeholder="{{'Select' | translate}}"></p-dropdown>
                                        <!-- <p-dropdown [options]="languageOptions" [(ngModel)]="selectedLangauage" [autoWidth]="false" (onChange)="languageChanged($event)"></p-dropdown> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="ui-g-12 ui-md-12 ui-sm-12">
                        <div class="ui-g-4 ui-md-4 ui-sm-12">
                            {{ 'Role Name' | translate}}:
                        </div>
                        <div class="ui-g-8 ui-md-8 ui-sm-12">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-autoComplete class="ui-g-12" formControlName="granteeName" field="name" [suggestions]="getroleList" searchtext (completeMethod)="autoCompleteKeyUp($event)" [multiple]="false" [dropdown]="true" [minLength]="3" placeholder="{{'Single Search' | translate}}"
                                            (onSelect)="roleSingleSelect($event)"></p-autoComplete>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="ui-g-12 ui-md-12 ui-sm-12">
                        <div class="ui-g-4 ui-md-4 ui-sm-12">
                            {{ 'Applies To' | translate}}:
                        </div>
                        <div class="ui-g-8 ui-md-8 ui-sm-12">
                            <!-- <input type="text" class="ui-g-12" pInputText> -->
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-dropdown class="ui-g-12" [options]="inheritDepthOptions" formControlName="inheritDepth" [autoWidth]="false" placeholder="{{'Select' | translate}}"></p-dropdown>
                                        <!-- <p-dropdown [options]="languageOptions" [(ngModel)]="selectedLangauage" [autoWidth]="false" (onChange)="languageChanged($event)"></p-dropdown> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                        <button type="button" pButton icon="fa-close " (click)="addFolderPermissionDisplay = false" label="{{'Cancel' | translate}}"></button>
                        <button type="submit" [disabled]="!(permissionRoleSelected !== undefined && permissionModelForm.controls.accessMask.value !== null)" pButton icon="fa-check " label="{{'Save' | translate}}"></button>
                    </div>
                </p-footer>
            </form>
        </div>

        <div *ngIf="editFolderPermission">
            <div class="ui-g">
                <div class="ui-g-12 text-center">
                    <h4> Edit Folder Permission </h4>
                </div>
            </div>
            <form [formGroup]="permissionModelEditForm" (ngSubmit)="folderPermissionEditFormSubmit();">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12 ui-sm-12">
                        <div class="ui-g-4 ui-md-4 ui-sm-12">
                            {{ 'Access Level' | translate}}:
                        </div>
                        <div class="ui-g-8 ui-md-8 ui-sm-12">
                            <!-- <input type="text" class="ui-g-12" pInputText> -->
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-dropdown class="ui-g-12" [options]="folderPermissionModelDropdown" formControlName="accessMask" [autoWidth]="false" placeholder="{{'Select' | translate}}"></p-dropdown>

                                        <!-- <p-dropdown [options]="languageOptions" [(ngModel)]="selectedLangauage" [autoWidth]="false" (onChange)="languageChanged($event)"></p-dropdown> -->
                                    </div>
                                </div>
                            </div>

                            <!-- <input type="text" class="form-control" formControlName="accessLevel" name="accessLevel"> -->
                            <!-- <select name="accessLevel" class="form-control" id="" formControlName="accessMask">
                                                                <option value="127">Full Control (Delete)</option>
                                                                <option value="63">Owner (Permissions)</option>
                                                                <option value="31">Author (Versioning)</option>
                                                                <option value="15">Author (Modify)</option>
                                                                <option value="7">Author (Download)</option>
                                                                <option value="3">Author (Annotate)</option>
                                                                <option value="1">Viewer</option>
                                                            </select> -->
                        </div>
                    </div>
                    <br>
                    <div class="ui-g-12 ui-md-12 ui-sm-12">
                        <div class="ui-g-4 ui-md-4 ui-sm-12">
                            {{ 'Role Name' | translate}}:
                        </div>
                        <div class="ui-g-8 ui-md-8 ui-sm-12">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-autoComplete class="ui-g-12" formControlName="granteeName" field="name" [suggestions]="getroleList" [(ngModel)]="setroleList" searchtext (completeMethod)="autoCompleteKeyUp($event)" [multiple]="false" [dropdown]="true" [minLength]="3" placeholder="{{'Single Search' | translate}}"
                                            (onSelect)="roleSingleSelect($event)"></p-autoComplete>
                                        <!-- <angular2-multiselect class="col-12 col-md-12" [data]="getrolecategory" formControlName="granteeName" [settings]="singleSelectDropdown">
                                                                <c-search>
                                                                    <ng-template>
                                                                        <input type="text" (keyup)="autoCompleteKeyUp($event)" placeholder="Search Role" style="border: none;width: 100%; height: 100%;outline: none;" />
                                                                    </ng-template>
                                                                </c-search> [disabled]="!permissionModelForm.valid"
                                                            </angular2-multiselect> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                        <button type="button" pButton icon="fa-close " (click)="editFolderPermission = false;" label="{{'Cancel' | translate}}"></button>
                        <button type="submit" pButton icon="fa-check " label="{{'Update' | translate}}"></button>
                    </div>
                </p-footer>
            </form>
        </div>
    </div>
</ngx-smart-modal>

<ngx-smart-modal class="dashboard" #folderPermissionModelGenericReadOnly identifier="folderPermissionModelGenericReadOnly">
    <h3>{{'Folder Permission' | translate }}</h3>
    <div class="ui-g global-sales" style="max-height: 400px;overflow-y: auto">
        <table class="ui-g-12 ui-md-12">
            <thead>
                <tr>

                    <td>
                        {{'Role' | translate}}
                    </td>
                    <td>
                        {{'Access Level' | translate}}
                    </td>
                    <td>
                        {{'Permission Source' | translate }}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer" *ngFor="let permission of folderPermission">
                    <td>
                        {{permission.granteeName}}
                    </td>
                    <td>
                        {{permission.accessLevel}}
                    </td>
                    <td>
                        {{permission.permissionSource}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #moveFolderModelGeneric identifier="moveFolderModelGeneric">
    <h3>{{'Select the folder' | translate }}</h3>
    <div class="modal-body " style="min-height: 400px;overflow: auto">
        <app-folder-tree [timestamp]="timestamp" [selectedFolderId]="selectedFolderId" [type]="'FOLDER'" (emitSelectedFolder)="eventEmitterFolder($event)"></app-folder-tree>
    </div>
    <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
        <button type="button" pButton icon="fa-close " (click)="moveFolderModelGeneric.close();userSelectedNode = null" label="{{'Cancel' | translate}}"></button>
        <button type="submit" pButton icon="fa-check " *ngIf="userSelectedNode !== null" (click)="moveFolderModelClick()" label="{{'Update' | translate}}"></button>
    </div>
</ngx-smart-modal>



<ngx-smart-modal #deleteFolderModelGeneric identifier="deleteFolderModelGeneric">
    <h3>{{'Confirmation' | translate }}</h3>
    <div class="modal-body ">
        This document will be deleting, are you sure?
    </div>
    <br><br>
    <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
        <button type="button" pButton icon="fa-close " (click)="deleteFolderModelGeneric.close()" label="{{'No' | translate}}"></button>
        <button type="button" pButton icon="fa-check " (click)="deleteFolderconfirmed();deleteFolderModelGeneric.close()" label="{{'Yes' | translate}}"></button>
    </div>
</ngx-smart-modal>



<ngx-smart-modal #linkModelGeneric identifier="linkModelGeneric">
    <h3>{{'Confirmation' | translate }}</h3>
    <div class="modal-body ">
        Are you sure to link these documents?
    </div>
    <br><br>
    <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
        <button type="button" pButton icon="fa-close " (click)="linkModelGeneric.close()" label="{{'No' | translate}}"></button>
        <button type="button" pButton icon="fa-check " (click)="linkDocumentsConfirmed()" label="{{'Yes' | translate}}"></button>
    </div>
</ngx-smart-modal>
<!-- move and copy -->
<ngx-smart-modal #copyToFolderModelGeneric identifier="copyToFolderModelGeneric">
    <h3>{{'Select the folder' | translate }}</h3>
    <div class="modal-body " style="min-height: 400px;overflow: auto">
        <app-folder-tree [timestamp]="timestamp" [selectedFolderId]="selectedFolderId" [type]="'DOCUMENT'" (emitSelectedFolder)="eventEmitterFolder($event)"></app-folder-tree>
    </div>
    <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
        <button type="button" pButton icon="fa-close " (click)="copyToFolderModelGeneric.close();userSelectedNode = null" label="{{'Cancel' | translate}}"></button>
        <button type="submit" pButton icon="fa-check " *ngIf="userSelectedNode !== null" (click)="copyToFolderModelClick()" label="{{'Copy' | translate}}"></button>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #moveToFolderModelGeneric identifier="moveToFolderModelGeneric">
    <h3>{{'Select the folder' | translate }}</h3>
    <div class="modal-body " style="min-height: 400px;overflow: auto">
        <app-folder-tree [timestamp]="timestamp" [selectedFolderId]="selectedFolderId" [type]="'DOCUMENT'" (emitSelectedFolder)="eventEmitterFolder($event)"></app-folder-tree>
    </div>
    <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
        <button type="button" pButton icon="fa-close " (click)="moveToFolderModelGeneric.close();userSelectedNode = null" label="{{'Cancel' | translate}}"></button>
        <button type="submit" pButton icon="fa-check " *ngIf="userSelectedNode !== null" (click)="moveToFolderModelClick()" label="{{'Move' | translate}}"></button>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #unfileDocumentGeneric identifier="unfileDocumentGeneric">
    <h3>{{'Confirmation' | translate }}</h3>
    <div class="modal-body ">
        Are you sure to unfile this document?
        <!-- <app-folder-tree [timestamp]="timestamp" [selectedFolderId]="selectedFolderId" [type]="'DOCUMENT'" (emitSelectedFolder)="eventEmitterFolder($event)"></app-folder-tree> -->
    </div>
    <br><br>
    <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
        <button type="button" pButton icon="fa-close " (click)="unfileDocumentGeneric.close()" label="{{'No' | translate}}"></button>
        <button type="button" pButton icon="fa-check " (click)="unfileDocumentConformed()" label="{{'Yes' | translate}}"></button>
    </div>
</ngx-smart-modal>