<div class="switchGridContent">
    <div class="ui-g padding0">
        <div class="ui-g-12 padding0">
            <div class="ui-g-3 opacity ui-g-nopad">
                <div class=" ui-g">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12 ui-g-nopad">
                        <div class=" ui-g-12 ui-lg-1 ui-sm-1">
                            <i class="material-icons opacity">home</i>
                        </div>
                        <div class=" ui-g-12 ui-lg-4 ui-sm-4 topPad">
                            / {{'Dashboard' | translate }}
                        </div>
                        <div class="ui-g-7"></div>
                    </div>
                </div>
            </div>
            <div class="ui-g-9 textRight">
                <div class=" ui-g">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12 ui-g-nopad">
                        <div class="ui-g-9"></div>
                        <div class=" ui-g-12 ui-lg-1 ui-sm-1 ui-g-nopad">
                            <p-inputSwitch [(ngModel)]="switchChecked" (onChange)="toggle($event)"></p-inputSwitch>
                        </div>
                        <div class=" ui-g-12 ui-lg-2 ui-sm-2 ui-g-nopad">
                            <label>  {{toggleValue | translate}}  </label>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div [class]=" wrokFlowDashboard ? 'displayblock  ui-g-12' : 'displayhide  ui-g-12'">
    <p-tabView (onChange)="onTabChange($event)">
        <p-tabPanel header="{{ 'Individual' | translate }}" leftIcon="ui-icon-person">
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-6">
                    <p-panel>
                        <p-header>
                            <div class="ui-g">
                                <div class="ui-g-6">
                                    <span class="ui-panel-title">{{ 'Work' | translate }}</span>
                                </div>
                                <div class="ui-g-3">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="workDatePickerDropdown" (onChange)="workdatetypeChanged()" [(ngModel)]="workDatePickerSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-3">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="workTypeDropdown" (onChange)="worktypeChanged()" [(ngModel)]="workTypeSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-header>
                        <div *ngIf="individualWorkGraph">
                            <p-chart type="pie" height="100" [data]="work" (onDataSelect)="individualworkclicked($event)" (onDataSelect)="selected($event)"></p-chart>
                        </div>
                        <div *ngIf="!individualWorkGraph">
                            <div class="card cardHeight">
                                <span>  No data avaliable </span>
                            </div>
                        </div>
                    </p-panel>
                </div>
                <div class="ui-g-12 ui-lg-6">
                    <p-panel>
                        <p-header>
                            <div class="ui-g">
                                <div class="ui-g-6">
                                    <span class="ui-panel-title">{{ 'Activity' | translate }}</span>
                                </div>
                                <div class="ui-g-3">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="activityDatePickerDropdown" (onChange)="activitydatetypeChanged()" [(ngModel)]="activityDatePickerSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-3">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="activitytypeDropdown" (onChange)="activitytypeChnaged()" [(ngModel)]="activitytypeSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-header>
                        <div *ngIf="individualActivityGraph">
                            <p-chart type="pie" height="100" [data]="activity" (onDataSelect)="userActivityClicked($event)"></p-chart>
                        </div>
                        <div *ngIf="!individualActivityGraph">
                            <!-- <p-chart type="pie" [data]="activity"></p-chart> -->
                            <div class="card cardHeight">
                                <span>  No data avaliable </span>
                            </div>
                        </div>
                    </p-panel>
                </div>
            </div>
            <p-tabView>
                <p-tabPanel header="{{ 'Work' | translate }}" leftIcon="ui-icon-person" [selected]="selectedUSerTab === 0">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                            <p-panel>
                                <p-header>
                                    <div class="ui-g">
                                        <div class="ui-g-6">
                                            <span class="ui-panel-title">{{ 'Work' | translate }}</span>
                                        </div>
                                        <div class="ui-lg-3">
                                        </div>
                                        <div class=" ui-g-3">
                                            <input type="text" #uw class="color" placeholder="{{ 'Filter...' | translate }}" pInputText icon="ui-icon-refresh">
                                        </div>
                                        <!-- <div class="ui-g-3 backgroundWhite"> -->
                                        <!-- <span class="md-inputfield">
                                                <input id="name" type="text" class="ui-g-12" pInputText  placeholder="{{ 'Filter...' | translate }}'" [(ngModel)]="orgworkFilter"/>
                                            </span> -->
                                        <!-- </div> -->
                                    </div>
                                </p-header>
                                <p-dataTable [value]="userworkItems" [rowStyleClass]="lookupRowStyleClass" (onRowClick)="individualWorkClicked($event)" selectionMode="single" [paginator]="true" [rows]="8" [responsive]="true" [globalFilter]="uw">
                                    <p-column field="status" header="Status" [sortable]="true"></p-column>
                                    <p-column field="refNo" style="word-break : break-all" header="Ref" [sortable]="true"></p-column>
                                    <p-column field="subject" header="Subject" [sortable]="true"></p-column>
                                    <p-column field="typeName" header="Type" [sortable]="true"></p-column>
                                    <p-column field="createdUserName" header="Created by" [sortable]="true"></p-column>
                                    <p-column field="createdOn" header="Created on" [sortable]="true"></p-column>
                                    <p-column field="pendingWith" header="Pending with" [sortable]="true"></p-column>
                                    <p-column field="lastActionBy" header="Lastaction by" [sortable]="true"></p-column>
                                    <p-column field="finishedOn" header="Finished on" [sortable]="true"></p-column>
                                </p-dataTable>
                            </p-panel>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="{{ 'Activity' | translate }}" leftIcon="ui-icon-person" [selected]="selectedUSerTab === 1">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                            <p-panel>
                                <p-header>
                                    <div class="ui-g">
                                        <div class="ui-g-6">
                                            <span class="ui-panel-title">{{ 'Activity' | translate }}</span>
                                        </div>
                                        <div class="ui-g-3">
                                        </div>
                                        <div class=" ui-g-3">
                                            <input type="text" #ua class="color" placeholder="{{ 'Filter...' | translate }}" pInputText icon="ui-icon-refresh">
                                        </div>
                                        <!-- <div class="ui-g-3 backgroundWhite">
                                                <!-- <span class="md-inputfield">
                                                        <input id="name" type="text" class="ui-g-12" pInputText  placeholder="{{ 'Filter...' | translate }}'" [(ngModel)]="orgworkFilter"/>
                                                    </span> --
                                            </div> -->
                                    </div>
                                </p-header>
                                <p-dataTable [value]="IndividualactivityItems" [rowStyleClass]="lookupRowStyleClass" (onRowClick)="individualActivityClicked($event)" selectionMode="single" [paginator]="true" [rows]="8" [responsive]="true" [globalFilter]="ua">
                                    <p-column field="status" header="Status" [sortable]="true"></p-column>
                                    <p-column field="refNo" header="Ref" [sortable]="true"></p-column>
                                    <p-column field="subject" header="Subject" [sortable]="true"></p-column>
                                    <p-column field="typeName" header="Type" [sortable]="true"></p-column>
                                    <p-column field="createdBy" header="Created by" [sortable]="true"></p-column>
                                    <p-column field="createdOn" header="Created on" [sortable]="true"></p-column>
                                    <p-column field="workType" header="Work Type" [sortable]="true"></p-column>
                                    <p-column field="finishedOn" header="Finished on" [sortable]="true"></p-column>
                                </p-dataTable>
                            </p-panel>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>

        </p-tabPanel>
        <p-tabPanel header="{{ 'Organization' | translate }}" leftIcon="ui-icon-nature-people" *ngIf="showorgDiv">
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-6">
                    <p-panel>
                        <p-header>
                            <div class="ui-g">
                                <div class="ui-g-3 ui-md-3 ui-lg-3">
                                    <span class="ui-panel-title">{{ 'Work' | translate }}</span>
                                </div>
                                <div class="ui-g-3 ui-md-3 ui-lg-3" *ngIf="orgWorkDatePickerDropdown.length > 0">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="orgWorkDatePickerDropdown" (onChange)="orgWorkChanged()" [(ngModel)]="orgWorkDatePickerSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-md-3 ui-lg-2">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="orgWOrkTypeDropdown" (onChange)="orgWorkChanged()" [(ngModel)]="orgWorkTypeSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-md-3 ui-lg-4">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="belowOrg" (onChange)="orgWorkChanged()" [(ngModel)]="orgWorkBelowOrgSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </p-header>
                        <div *ngIf="orgWorkShow">
                            <!-- <p-chart type="pie" height="100" [data]="work"></p-chart> -->
                            <p-chart type="pie" [data]="orgWrk" height="100" (onDataSelect)="orgworkclick($event)"></p-chart>
                        </div>
                        <div *ngIf="!orgWorkShow">
                            <div class="card cardHeight">
                                <span>  No data avaliable </span>
                            </div>
                        </div>
                    </p-panel>
                </div>
                <div class="ui-g-12 ui-lg-6">
                    <p-panel>
                        <p-header>
                            <div class="ui-g">
                                <div class="ui-g-3 ui-md-3 ui-lg-3">
                                    <span class="ui-panel-title">{{ 'Activity' | translate }}</span>
                                </div>
                                <div class="ui-g-3 ui-md-3 ui-lg-3">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="orgActivityDatePickerDropdown" (onChange)="orgActivityChanged()" [(ngModel)]="orgactivityDatePickerSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-md-3 ui-lg-2">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="orgActivitytypeDropdown" (onChange)="orgActivityChanged()" [(ngModel)]="orgactivitytypeSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-md-3 ui-lg-4">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="belowOrg" (onChange)="orgActivityChanged()" [(ngModel)]="orgActivityBelowSelected" [autoWidth]="false"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-header>
                        <div *ngIf="orgActivityShow">
                            <p-chart type="pie" [data]="orgActivit" height="100" (onDataSelect)="orgactivityclick($event)"></p-chart>
                        </div>
                        <div *ngIf="!orgActivityShow">
                            <div class="card cardHeight">
                                <span>  No data avaliable </span>
                            </div>
                        </div>
                    </p-panel>
                </div>
            </div>
            <div class="ui-g">
                <p-tabView>
                    <p-tabPanel header="{{ 'Work' | translate }}" leftIcon="ui-icon-person" [selected]="selectedTableTab === 0">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                                <p-panel>
                                    <p-header>
                                        <div class="ui-g">
                                            <div class="ui-g-6">
                                                <span class="ui-panel-title">{{ 'Work' | translate }}</span>
                                            </div>
                                            <div class="ui-g-3">
                                            </div>
                                            <div class=" ui-g-3">
                                                <input type="text" #ow class="color" placeholder="{{ 'Filter...' | translate }}" pInputText icon="ui-icon-refresh">
                                            </div>
                                            <!-- <div class="ui-g-3 backgroundWhite"> -->
                                            <!-- <span class="md-inputfield">
                                                <input id="name" type="text" class="ui-g-12" pInputText  placeholder="{{ 'Filter...' | translate }}'" [(ngModel)]="orgworkFilter"/>
                                            </span> -->
                                            <!-- </div> -->
                                        </div>
                                    </p-header>
                                    <p-dataTable [value]="dropdownforworktype" [rowStyleClass]="lookupRowStyleClass" selectionMode="single" (onRowClick)="individualWorkClicked($event)" [paginator]="true" [rows]="8" [responsive]="true" [globalFilter]="ow">
                                        <p-column field="status" header="Status" [sortable]="true"></p-column>
                                        <p-column field="refNo" header="Ref" [sortable]="true"></p-column>
                                        <p-column field="subject" header="Subject" [sortable]="true"></p-column>
                                        <p-column field="typeName" header="Type" [sortable]="true"></p-column>
                                        <p-column field="createdUserName" header="Created by" [sortable]="true"></p-column>
                                        <p-column field="createdOn" header="Created on" [sortable]="true"></p-column>
                                        <p-column field="pendingWith" header="Pending with" [sortable]="true"></p-column>
                                        <p-column field="lastActionBy" header="Last action by" [sortable]="true"></p-column>
                                        <p-column field="finishedOn" header="Finished on" [sortable]="true"></p-column>
                                    </p-dataTable>
                                </p-panel>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="{{ 'Activity' | translate }}" leftIcon="ui-icon-person" [selected]="selectedTableTab === 1">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                                <p-panel>
                                    <p-header>
                                        <div class="ui-g">
                                            <div class="ui-g-6">
                                                <span class="ui-panel-title">{{ 'Activity' | translate }}</span>
                                            </div>
                                            <div class="ui-g-3">
                                            </div>
                                            <div class=" ui-g-3">
                                                <input type="text" #oa class="color" placeholder="{{ 'Filter...' | translate }}" pInputText icon="ui-icon-refresh">
                                            </div>
                                            <!-- <div class="ui-g-3 backgroundWhite">
                                                <!-- <span class="md-inputfield">
                                                        <input id="name" type="text" class="ui-g-12" pInputText  placeholder="{{ 'Filter...' | translate }}'" [(ngModel)]="orgworkFilter"/>
                                                    </span> --
                                            </div> -->
                                        </div>
                                    </p-header>
                                    <p-dataTable [value]="orgactivetable" [rowStyleClass]="lookupRowStyleClass" selectionMode="single" (onRowClick)="individualActivityClicked($event)" [paginator]="true" [rows]="8" [responsive]="true" [globalFilter]="oa">
                                        <p-column field="status" header="Status" [sortable]="true"></p-column>
                                        <p-column field="refNo" header="Ref" [sortable]="true"></p-column>
                                        <p-column field="subject" header="Subject" [sortable]="true"></p-column>
                                        <p-column field="typeName" header="Type" [sortable]="true"></p-column>
                                        <p-column field="createdUserName" header="Created by" [sortable]="true"></p-column>
                                        <p-column field="createdOn" header="Created on" [sortable]="true"></p-column>
                                        <p-column field="pendingWith" header="Pending with" [sortable]="true"></p-column>
                                        <p-column field="lastActionBy" header="Last action by" [sortable]="true"></p-column>
                                        <p-column field="finishedOn" header="Finished on" [sortable]="true"></p-column>
                                    </p-dataTable>
                                </p-panel>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>


<div [class]="wrokFlowDashboard === false ? 'displayblock  ui-g-12' : 'displayhide  ui-g-12'">
    <!-- <div class="card"> -->
    <p-tabView (onChange)="onDocumentTabChange($event)" [activeIndex]="activeIndexNumber">
        <p-tabPanel header="{{ 'Documents' | translate }}" leftIcon="ui-icon-folder-open">
            <!-- <div class="ui-g ">
                <div class="ui-g-12 ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all ng-tns-c6-1 ui-g-nopad folderDisplay">
                    <label class="">{{'Top Folders' | translate}}</label>
                </div>
            </div>
            <br> -->

            <div class="ui-g">
                <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-2 ui-g-nopad amtClass" *ngFor="let value of topFolders; let ind = index">
                        <!-- (click)="clickedOnTopFolder(value, ind)" -->
                        <p-panel>
                            <p-header>
                                <div class="ui-g">
                                    <div class="ui-g-12 ui-g-nopad">
                                        <!-- <div class="ui-g-2 ui-g-nopad">
                                            <img src='assets\images\folder.png' alt="folder" style="width:20px; height: 20px">
                                        </div> -->
                                        <div class="ui-g-12 ui-g-nopad" tooltipPosition="top" pTooltip="{{value.name}}">
                                            <input type="text" disabled [value]="value.name" style="background: none;border: none; color: #fff;font-weight: bold;" icon="ui-icon-folder-open">
                                            <!-- <span class="whiteSpace">{{value.name}}qwertyuiop[asdfghjklzxcvbnuytewgdhcy] </span> -->
                                        </div>
                                    </div>
                                </div>
                            </p-header>
                            <div style="height:210px;  overflow: auto" *ngIf="value.subFolder.length > 0 || value.document.length > 0">
                                <div [class]="subFoldFont === indValue && topFolderIndex === ind ?' ui-g-nopad ui-g-12 ui-accordian-header ui-state-default ui-corner-all ui-state-active font pointer': 'ui-g-12 ui-g-nopad pointer '" *ngFor="let res of value.subFolder; let indValue = index"
                                    (click)="clickedOnFirstSubFolder(value, res, ind, indValue)">
                                    <div class="ui-g-2 ui-g-nopad">
                                        <img src='assets\images\folder.png' alt="folder" style="width:20px; height: 20px">
                                    </div>
                                    <div class="ui-g-10 ui-g-nopad">
                                        <span>{{res.name}}</span>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-g-nopad pointer" *ngFor="let doc of value.document" (click)="clickedOnFirstDocument(doc)">
                                    <div class="ui-g-2 ui-g-nopad">
                                        <span *ngIf="doc.format === 'application/pdf'"><img src='assets\images\pdf-icon.png' alt="folder" style="width:20px; height: 20px"></span>
                                        <span *ngIf="doc.format === 'image/png'"><img src='assets\images\png-icon.png' alt="folder" style="width:20px; height:20px"></span>
                                        <span *ngIf="doc.format !== 'application/pdf' && doc.format !== 'image/png'"><img src='assets\images\Docs-icon.png' alt="folder" style="width:20px; height: 20px"></span>
                                    </div>
                                    <div class="ui-g-10 ui-g-nopad">
                                        <span>&nbsp;{{doc.docTitle}} </span>
                                    </div>
                                </div>
                            </div>
                            <div style="height:210px; overflow: auto" *ngIf="value.subFolder.length === 0 && value.document.length === 0">
                                <div class="ui-g-12 ui-g-nopad">
                                    <label>{{'No any data available' | translate }}</label>
                                </div>
                            </div>
                        </p-panel>
                    </div>
                </div>
            </div>
            <!-- <br>
            <br>
            <div class="ui-g ui-g-nopad" *ngIf="subFoldersFirstLevel.length > 0 || documentsFirstLevel.length > 0">
                <div class="ui-g-12 ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all ng-tns-c6-1 ui-g-nopad folderDisplay">
                    <label>{{thisTopFolder}} - {{'Sub Folders' | translate }}</label>
                </div>
            </div>
            <br> -->

            <!-- <div [class]="subFoldFont === i ?'ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all ng-tns-c6-1 ui-g-nopad ui-g-12 ui-g-nopad rowClass font': 'ui-g-12 ui-g-nopad rowClass'" *ngFor="let value of subFoldersFirstLevel; let i = index" (click)="clickedOnFirstSubFolder(value, i)">
                    <div class="ui-g-1 ui-g-nopad">
                        <img src='assets\images\folder.png' alt="folder" style="width:20px; height: 20px">
                    </div>
                    <div class="ui-g-11 ui-g-nopad">
                        <span [class]="">{{value.name}} </span>
                    </div>
                </div> -->
            <!-- <div class="ui-g-nopad " *ngIf="subFoldersFirstLevel.length > 0 || documentsFirstLevel.length> 0">
                <table class="table table-bordered">
                    <thead>
                        <tr [class]="isRtl === 'ltr' ? 'textLeft' : 'textRight'">
                            <th width="1%"></th>
                            <th>{{ 'Name' | translate }}</th>
                            <th>{{ 'Modified Date' | translate }}</th>
                            <th>{{ 'Creator' | translate }}</th>
                            <th>{{'Modifier' | translate }}</th>
                            <th>{{'Added On' | translate}}</th>
                            <th>{{'Version' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="subFoldersFirstLevel.length > 0">
                        <tr [class]="subFoldFont === i ?'font': 'border_bot'" *ngFor="let value of subFoldersFirstLevel; let i = index" (click)="clickedOnFirstSubFolder(value, i)">
                            <td class="pointer"><img src='assets\images\folder.png' alt="folder " style="width:20px; height: 20px ">
                            </td>
                            <td class="pointer ">{{value.name}}</td>
                            <td class="pointer "> </td>
                            <td class="pointer "></td>
                            <td class="pointer "> </td>
                            <td class="pointer "></td>
                            <td class="pointer "></td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="documentsFirstLevel.length> 0">
                        <tr class="border_bot" *ngFor="let value of documentsFirstLevel" (click)="clickedOnFirstDocument(value)">
                            <td class="pointer" *ngIf="value.format === 'application/pdf'"><img src='assets\images\pdf-icon.png' alt="folder" style="width:20px; height: 20px">
                            </td>
                            <td class="pointer" *ngIf="value.format === 'image/png'"><img src='assets\images\png-icon.png' alt="folder" style="width:20px; height:20px">
                            </td>
                            <td class="pointer" *ngIf="value.format !== 'application/pdf' && value.format !== 'image/png'"><img src='assets\images\Docs-icon.png' alt="folder" style="width:20px; height: 20px">
                            </td>
                            <td class="pointer">{{value.props[0].mvalues}}</td>
                            <td class="pointer"> {{value.modOn}}</td>
                            <td class="pointer">{{value.creator}}</td>
                            <td class="pointer"> {{value.modifier}}</td>
                            <td class="pointer">{{value.addOn}}</td>
                            <td class="pointer">{{value.verNo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <br> -->
            <div class="ui-g" *ngIf="thisTopFolder && thisSubFolder" id="scrollA">
                <!-- (subFoldersBelowLevel.length > 0 || documentsBelowLevel.length > 0) -->
                <div class="ui-g-12">
                    <div class="ui-g-12 ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all ng-tns-c6-1 ui-g-nopad folderDisplay">
                        <label class="">{{thisTopFolder.name}} ( {{thisSubFolder.name}} )</label>
                    </div>
                </div>
            </div>
            <div class="ui-g ui-g-nopad" *ngIf="breadcrumbItems.length > 0 ">
                <div class="ui-g-9 ui-md-9 ui-sm-12">
                    <div class="layout-breadcrumb " style="padding: 0px;box-shadow: 0 0 0 0;">
                        <ul>
                            <!-- <button pButton type="button" icon="ui-icon-keyboard-arrow-up" (click)="moveToTopFolder()"></button> &nbsp; &nbsp; -->
                            <ng-template ngFor let-item let-last="last" let-i="index" let-fir="first" [ngForOf]="breadcrumbItems">
                                <li (click)="breadCrumbClicked(item)" style="font-size: 14px;" class="pointer" *ngIf="i !== 1 && i!== 0">
                                    <ng-container class="topfoldernamedispaly">{{item.label | translate}}</ng-container>
                                </li>
                                <li *ngIf="!last && i !== 1 && i!== 0">></li>
                            </ng-template>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="ui-g-nopad" *ngIf="subFoldersBelowLevel.length > 0 || documentsBelowLevel.length> 0">
                <table>
                    <thead>
                        <tr [class]="isRtl === 'ltr' ? 'textLeft' : 'textRight'">
                            <th width="1%"></th>
                            <th>{{ 'Name' | translate }}</th>
                            <th>{{ 'Modified Date' | translate }}</th>
                            <th>{{ 'Creator' | translate }}</th>
                            <th>{{'Modifier' | translate }}</th>
                            <th>{{'Added On' | translate}}</th>
                            <th>{{'Version' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="subFoldersBelowLevel.length > 0">
                        <tr class="border_bot" *ngFor="let value of subFoldersBelowLevel; let i = index" (click)="clickedOnBelowSubFolder(value, i)">
                            <td class="pointer"><img src='assets\images\folder.png' alt="folder " style="width:20px; height: 20px ">
                            </td>
                            <td class="pointer ">{{value.name}}</td>
                            <td class="pointer "> </td>
                            <td class="pointer "></td>
                            <td class="pointer "> </td>
                            <td class="pointer "></td>
                            <td class="pointer "></td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="documentsBelowLevel.length> 0">
                        <tr class="border_bot" *ngFor="let value of documentsBelowLevel" (click)="clickedOnBelowDocument(value)">
                            <td class="pointer" *ngIf="value.format === 'application/pdf'"><img src='assets\images\pdf-icon.png' alt="folder" style="width:20px; height: 20px">
                            </td>
                            <td class="pointer" *ngIf="value.format === 'image/png'"><img src='assets\images\png-icon.png' alt="folder" style="width:20px; height:20px">
                            </td>
                            <td class="pointer" *ngIf="value.format !== 'application/pdf' && value.format !== 'image/png'"><img src='assets\images\Docs-icon.png' alt="folder" style="width:20px; height: 20px">
                            </td>
                            <td class="pointer">{{value.props[0].mvalues}}</td>
                            <td class="pointer"> {{value.modOn}}</td>
                            <td class="pointer">{{value.creator}}</td>
                            <td class="pointer"> {{value.modifier}}</td>
                            <td class="pointer">{{value.addOn}}</td>
                            <td class="pointer">{{value.verNo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="ui-g" *ngIf="subFoldersBelowLevel.length > 0">
                <div class="ui-g-12 ui-g-nopad rowClass" *ngFor="let value of subFoldersBelowLevel; let i = index" (click)="clickedOnBelowSubFolder(value, i)">
                    <div class="ui-g-1 ui-g-nopad">
                        <img src='assets\images\folder.png' alt="folder" style="width:20px; height: 20px">
                    </div>
                    <div class="ui-g-11 ui-g-nopad">
                        <span [class]="">{{value.name}} </span>
                    </div>
                </div>
            </div>

            <div class="ui-g" *ngIf="documentsBelowLevel.length > 0">
                <div class="ui-g-12 ui-g-nopad" *ngFor="let value of documentsBelowLevel">
                    <div class="ui-g-2 ui-g-nopad rowClass" (click)="clickedOnBelowDocument(value)">
                        <div class="ui-g-1 ui-g-nopad">
                            <span *ngIf="value.format === 'application/pdf'"><img src='assets\images\pdf-icon.png' alt="folder" style="width:20px; height: 20px"></span>
                            <span *ngIf="value.format === 'image/png'"><img src='assets\images\png-icon.png' alt="folder" style="width:20px; height:20px"></span>
                            <span *ngIf="value.format !== 'application/pdf' && value.format !== 'image/png'"><img src='assets\images\Docs-icon.png' alt="folder" style="width:20px; height: 20px"></span>
                        </div>
                        <div class="ui-g-11 ui-g-nopad">
                            <span>&nbsp;&nbsp;&nbsp;{{value.docTitle}} </span>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="ui-g" *ngIf="subFoldersBelowLevel.length === 0 && documentsBelowLevel.length === 0 && thisSubFolder !== undefined">
                <div class="ui-g-12 ui-g-nopad">
                    <label>{{'No any data available' | translate }}</label>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="{{ 'Property' | translate }}" leftIcon="ui-icon-details" *ngIf="propertyTabShow">
            <app-doc-property [documentId]="documentId" [type]='Document'></app-doc-property>
        </p-tabPanel>
    </p-tabView>

</div>
<!-- </div> -->
<p-dialog header="{{ 'History' | translate }}" [(visible)]="orgHistroyModel" modal="modal" width="700" [responsive]="true" blockScroll="true" resizable="true" draggable="false">
    <div class="dashboard global-sales">
        <table class="ui-g-12">
            <thead>
                <tr>
                    <th>
                        {{ 'Activity Type' | translate }}
                    </th>
                    <th>
                        {{ 'Username' | translate }}
                    </th>
                    <th>
                        {{ 'Role Name' | translate }}
                    </th>
                    <th>
                        {{ 'Action' | translate }}
                    </th>

                    <th>
                        {{ 'Details' | translate }}
                    </th>
                    <th>
                        {{ 'Action On' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let history of historydata">
                    <td>
                        {{history.activityType}}
                    </td>
                    <td>
                        {{history.userName}}
                    </td>
                    <td>
                        {{history.roleName}}
                    </td>
                    <td>
                        {{history.action}}
                    </td>
                    <td>
                        {{history.details}}
                    </td>
                    <td>
                        {{history.actionOn}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="orgHistroyModel=false;" label="No"></button>
        </div>
    </p-footer>
</p-dialog>