.amtClass {
    font-weight: bold;
    box-shadow: 4px 3px 5px 1px #ccc;
    margin: 3px;
    padding: 20px;
    border-radius: 3px;
    display: block;
}

.pointer {
    cursor: pointer;
}

.card {
    min-height: 500px;
}

.amtClass:hover {
    background: #246275;
    color: #fff;
}