<div class="card">
    <div class="ui-g">
        <div class="ui-g-12 ui-g-nopad">
            <div class="row" *ngFor="let value of datares" class="top" style="display: inline-block">
                <span class="amtClass top pointer" (click)="openCreate(value)">
                {{value.name}}
            </span>
            </div>
        </div>
    </div>
</div>