<div *ngIf="type === 'document'">
    <p-toolbar *ngIf="this.primaryType !== 'video/mp4' && this.primaryType !== 'audio/mpeg'">
        <div class="ui-toolbar-group-left">
            <button pButton="pButton" type="button" icon="ui-icon-skip-previous" (click)="paginate(0)" tooltipPosition="top" pTooltip="{{ 'First page' | translate}}"></button>
            <button pButton="pButton" type="button" icon="fa-angle-left" (click)="paginate(curPage - 1)" tooltipPosition="top" pTooltip="{{ 'Previous page' | translate}}"></button>
            <button pButton="pButton" type="button" icon="fa-angle-right" (click)="paginate(curPage+ 1)" tooltipPosition="top" pTooltip="{{ 'Next page' | translate}}"></button>
            <button pButton="pButton" type="button" icon="ui-icon-skip-next" (click)="paginate(totalPages)" tooltipPosition="top" pTooltip="{{ 'Last page' | translate}}"></button>
        </div>
        <div class="ui-toolbar-group-right">
            <div class="notify-container">
                <span class="notify-bubble">{{ annotationCount }}</span>
                <button pButton="pButton" type="button" icon="ui-icon-format-list-bulleted" tooltipPosition="top" (click)="listDocumentAnnotation()" pTooltip="{{'Annotation list' | translate}}"></button>
            </div>
            <!-- <button class="ui-g-nopad" pButton="pButton" type="button" icon="ui-icon-streetview" (click)="annotationClicked()" tooltipPosition="top" pTooltip="{{ 'Page Preview' | translate}}"></button> -->
            <!-- <button class="ui-g-nopad" pButton="pButton" type="button" icon="ui-icon-file-download" (click)="downloadSignedDocument(activityinfo.primaryDoc) " tooltipPosition="top" pTooltip="{{'Download' | translate}}"></button> -->
            <button class="ui-g-nopad" pButton="pButton" type="button" icon="ui-icon-file-download" (click)="downloadDocument()" tooltipPosition="top" pTooltip="{{'Download' | translate}}"></button>
            <button class="ui-g-nopad" pButton="pButton" type="button" icon="ui-icon-font-download" (click)="downloadWithAnnotation() " tooltipPosition="top" pTooltip="{{'Download with annotation' | translate}}"></button>
            <button class="ui-g-nopad" pButton="pButton" type="button" icon="ui-icon-print" (click)="printPrimaryDocument() " tooltipPosition="top" pTooltip="{{'Print' | translate}}"></button>
        </div>
    </p-toolbar>
    <div class="ui-g-12">
        <div id="image" class="pointer backgroundWhite" (click)="annotationClicked()" *ngIf="imageToShow !== null && displayImage === true && showVideoURL === null">
            <img *ngIf="displayImage" class="ui-g-12" [src]="imageToShow">
        </div>
        <div class="ui-g-12 ui-g-nopad" *ngIf="showVideoURL !== null && imageToShow === null">
            <video width="630" height="480" [src]="showVideoURL" controls type="video/mp4" *ngIf="primaryType === 'video/mp4'"></video>
            <audio controls *ngIf="primaryType === 'audio/mpeg'" style="width:100%;"><source [src]="showVideoURL" type="audio/mpeg">
                      </audio>
        </div>
    </div>
    <div id="spinner" class="lds-roller" *ngIf="!displayImage">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="ui-g-12" *ngIf="showVideoURL === null">
        <p-paginator [rows]="1" [first]="curPage - 1" [totalRecords]="totalPages" (onPageChange)="paginatePage($event)"></p-paginator>
    </div>
    <div *ngIf="imageToShow === null && displayImage === true && showVideoURL === null">
        No preview found
    </div>
</div>


<div *ngIf="type === 'correspondence'">

    <!-- <p-paginator [rows]="1" [totalRecords]="totalPages" (onPageChange)="paginate($event)"></p-paginator> -->
    <div id="image" class="pointer" *ngIf="imageToShow !== null && displayImage === true && showVideoURL === null">
        <img *ngIf="displayImage" class="ui-g-12" [src]="imageToShow" (click)="annotationClicked()">
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="showVideoURL !== null && imageToShow === null">
        <video width="630" height="480" [src]="showVideoURL" controls type="video/mp4" *ngIf="primaryType === 'video/mp4'"></video>
        <audio controls *ngIf="primaryType === 'audio/mpeg'" style="width:100%;"><source [src]="showVideoURL" type="audio/mpeg">
              </audio>
    </div>
    <div id="spinner" class="lds-roller" *ngIf="!displayImage">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div *ngIf="imageToShow === null && displayImage === true && showVideoURL === null">
        No preview found
    </div>
    <p-paginator [rows]="1" [first]="curPage - 1" [totalRecords]="totalPages" (onPageChange)="paginatePage($event)" *ngIf="showVideoURL === null"></p-paginator>
    <!-- <p-paginator [rows]="1" [totalRecords]="totalPages" (onPageChange)="paginate($event)"></p-paginator> -->
</div>


<ngx-smart-modal #annotationListModel identifier="annotationListModel">
    <h3>{{ 'Annotation list' | translate }}</h3>
    <div class="dashboard">
        <div class="global-sales">
            <table class="ui-g-12">
                <thead>
                    <tr>
                        <td></td>
                        <td>
                            {{ 'User Name' | translate }}
                        </td>
                        <td>
                            {{ 'Comment' | translate }}
                        </td>
                        <td>
                            {{ 'Type' | translate }}
                        </td>
                        <td>
                            {{ 'Page Number' | translate }}
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer showRemove" *ngFor="let annotation of listOfDcumentAnnotation;let i = index;">
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListModel.close()">
                            {{ i+ 1 }}
                        </td>
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListModel.close()">
                            {{annotation.userName}}
                        </td>
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListModel.close()">
                            {{annotation.comment}}
                        </td>
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListModel.close()">
                            {{annotation.type}}
                        </td>
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListModel.close()">
                            {{annotation.pageNo}}
                        </td>
                        <td>
                            <button type="button" class="removeClass" pButton="pButton" icon="ui-icon-visibility" (click)="documnetAnnoation(annotation.pageNo , annotation.type , $event); annotationListModel.close()"></button>
                            <button type="button" class="removeClass" pButton="pButton" icon="ui-icon-delete" (click)="deleteAnnoation(annotation.id)" *ngIf="annotation.userName === us.getCurrentUser().fulName || us.getCurrentUser().isAdmin === 'Y'"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ngx-smart-modal>