<div class=" ui-g">
    <div class=" ui-g-12 ui-lg-12 ui-sm-12">
        <div class="card">

            <div *ngIf="userHistoryList.length === 0">
                <label style="text-align: center" for="">No user history found</label>
            </div>

            <div *ngIf="userHistoryList.length > 0">

                <div class="ui-g-nopad">
                    <button pButton type="button" icon="ui-icon-refresh" tooltipPosition="top" pTooltip="{{'Refresh' | translate}}" (click)="refreshEvent()"></button>&nbsp;
                </div>

                <div class="attachmentClass">
                    <table class="table table-hover table-responsive background">

                        <thead>
                            <!-- <th class=" text-center " width="25% "> {{ 'Id' | translate}}</th>
                            <th class=" text-center " width="25% ">{{ 'Empno' | translate}}</th> -->
                            <th class=" text-center " width="25% ">{{ 'Action' | translate}}</th>
                            <th class=" text-center " width="25% ">{{ 'ActionOn' | translate}}</th>
                            <th class=" text-center " width="25% ">{{ 'Details' | translate}}</th>
                            <th class=" text-center " width="25% ">{{ 'IP Address' | translate}}</th>
                        </thead>

                        <tbody class="pointer " *ngFor="let history of userHistoryList ">
                            <tr>
                                <!-- <td class=" text-center " width="25% ">{{history.id}}</td>
                                <td class=" text-center " width="25% ">{{history.empNo}}</td> -->
                                <td class=" text-center " width="25% "> {{history.action}}</td>
                                <td class=" text-center " width="25% "> {{history.actionOn}}</td>
                                <td class=" text-center " width="25% "> {{history.details}}</td>
                                <td class=" text-center " width="25% "> {{history.ipAddress}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>