.pointer {
    cursor: pointer;
}

td,
th {
    border-bottom: 1px solid #ECECEC;
    text-align: left;
    padding: 7px;
}

tr:hover {
    box-shadow: 1px 2px 5px 1px #ccc;
}

table {
    width: 100%;
}

.ui-toolbar {
    padding: -0.475em !important;
}

.backread {
    background: #ECECEC;
}

.background {
    background: #fff;
}

.attachmentClass {
    max-height: 512.5px;
    overflow-y: auto;
}