<!-- <app-document-annotation [docId]="docId" [documentType]="documentType" [currentPage]="currentPage" [annotationType]="annotationType"></app-document-annotation> -->

<app-document-annotation [docId]="docId" [documentType]="documentType" [currentPage]="currentPage" [annotationType]="annotationType"></app-document-annotation>