/* You can add global styles to this file, and also import other style files */

@import "~ngx-smart-modal/ngx-smart-modal";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
.pointer {
    cursor: pointer;
}

.compelete-row {
    background-color: #f5f5f5 !important;
}

.active-row {
    background: #fffafa !important;
}

.float-right {
    float: right;
}

.nsm-dialog[class*=nsm-dialog-animation-] {
    transition: transform 500ms ease-in-out, opacity 500ms;
    padding-top: 6%;
}

.nsm-content {
    width: 850px;
}

.overlay {
    left: -20%;
    right: -1%;
}

.large-modal {
    width: 75% !important;
    max-width: 520px !important;
    border-radius: 5px !important;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(213, 207, 207);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 99, 99);
}

.attachmentClass {
    max-height: 600px;
    overflow-y: auto;
}

#spinner {
    opacity: 0.7;
    z-index: 99999999;
}

input[type="text"][disabled] {
    color: black !important;
    font-weight: 600 !important;
    cursor: no-drop !important;
}

input[type="text"]:read-only {
    color: black;
    font-weight: 600;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
    font-weight: 300;
    font-size: 15px;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
    font-weight: 300;
    font-size: 15px;
}

.removeClass {
    visibility: hidden;
}

.showRemove:hover .removeClass {
    visibility: visible;
}

thead {
    font-weight: bold !important;
}

body div.ui-widget.ui-tooltip {
    z-index: 900000000000000000000000000000 !important;
}

.width {
    width: 94px;
}

.layout-wrapper .layout-sidebar .layout-menu li>a>.menuitem-text {
    word-break: break-word !important;
}

.ui-datatable .ui-datatable-data tr td {
    padding: .625em .875em;
    word-break: break-all !important;
}

body .ui-panel .ui-panel-titlebar {
    padding: 3.1px !important;
}

body .ui-datatable .ui-paginator {
    padding: 5px !important;
}

body .ui-paginator {
    padding: 5px !important;
}

body .ui-toolbar {
    padding: 4px !important;
}

body .ui-accordion .ui-accordion-header>a {
    padding: 7px !important;
}

.layout-wrapper .layout-main .layout-topbar {
    height: 55px !important;
}

.layout-wrapper .layout-sidebar .sidebar-logo {
    height: 55px !important;
}

.layout-wrapper .layout-main .layout-content {
    padding: 26px 4px 24px 4px !important;
}

.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu>li.search-item label {
    margin-top: 10px !important;
}

.utlPosLeft {
    position: absolute;
    z-index: 1000;
    right: 2%;
    font-weight: bold;
    margin-top: 10px;
}

.urlPosRight {
    position: absolute;
    z-index: 1000;
    right: 17%;
    font-weight: bold;
    margin-top: 10px;
}

p.customfont {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
}

h1.fontWeight {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

.nsm-content>.listto {
    width: 850px !important;
}

.nsm-content {
    width: 550px !important;
}

.top10 {
    margin-top: 10px !important;
}

.textRight {
    text-align: right !important;
}

.textCenter {
    text-align: center !important;
}

.top10 {
    margin-top: 10px;
}

.pointer {
    cursor: pointer !important;
}