<!-- <p-panel id="activityScreen" class="ui-g-nopad dashboard">
    <p-header>
        <div class="ui-g  ui-g-nopad">
            <div class="ui-g-4 ui-md-4 ui-g-nopad">
                <button class="ui-g-nopad" *ngIf="showBackButton" pButton="pButton" type="button" icon="ui-icon-arrow-back" (click)="backButtonClicked()"></button>
            </div>
            <div class="ui-g-4 ui-md-4 text-center">
                <span>
                    {{ 'VIEW TASK' | translate }}</span>
            </div>
            <div class="ui-g-4 ui-md-4  ui-g-nopad"></div>
        </div>
    </p-header> -->
<div class="ui-g">
    <div class="ui-g-12">
        <div [class]="selectedLanguage === 'ar' ? 'urlPosRight': 'utlPosLeft'">
            {{typeFormat | translate}}
        </div>
        <p-tabView (onChange)="onTabChange($event)" [activeIndex]="activeIndexNumber" (onClose)="closeDocProps($event)">
            <p-tabPanel [header]="!activitytype.name ? 'end' : activitytype.name" leftIcon="ui-icon-check">
                <div class="ui-g">
                    <div [class]="activityinfo.primaryDoc !== undefined ? 'ui-g-6 ui-md-6 ui-sm-12' : 'ui-g-12 ui-md-12 ui-sm-12'">
                        <form [formGroup]="activityform" (ngSubmit)="activiveFormSubmit(activitytype.nextScreen)">
                            <p-accordion>
                                <p-accordionTab header="{{ 'Activity Information' | translate}}">
                                    <div class="ui-g ">
                                        <div class="ui-g-12">
                                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                                <label>{{ 'Work type' | translate }}</label>
                                            </div>
                                            <div class="ui-g-3 ui-md-3 ui-sm-12">

                                                {{ activityinfo?.workTypeName }}
                                            </div>
                                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                                <label>{{'Activity type' | translate }}</label>
                                            </div>
                                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                                {{ activityinfo?.typeName }}
                                            </div>
                                        </div>
                                        <div class="ui-g-12 ui-md-12 ui-sm-12  ui-g-nopad">
                                            <div class="ui-g">
                                                <div [class]="i%2 === 0 ? 'ui-g-6' : 'ui-g-6 paddingLeft'" *ngFor="let custom of activityinfo?.custom; let i =  index">
                                                    <div class="ui-g-6 ui-md-6 ui-sm-12">
                                                        <label>{{ custom.key | translate }}</label>
                                                    </div>
                                                    <div class="ui-g-6 ui-md-6 ui-sm-12">
                                                        {{ custom.value }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-g-12">
                                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                                <label>{{ 'Ref' | translate }}
                                                            #</label>
                                            </div>
                                            <div class="ui-g-3 ui-md-3 ui-sm-12">

                                                {{ activityform.controls.refno.value }}
                                            </div>
                                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                                <label>{{'Created on' | translate }}</label>
                                            </div>
                                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                                {{ activityform.controls.createdon.value }}
                                            </div>
                                        </div>

                                        <div class="ui-g-12" *ngIf="!editSubject">
                                            <div class="ui-g-2 ui-md-2 ui-sm-12">
                                                <label>{{ 'Subject' | translate }}</label>
                                            </div>
                                            <div class="ui-g-10 ui-md-10 ui-sm-12">
                                                {{ activityform.controls.subject.value }}
                                            </div>
                                        </div>
                                    </div>
                                </p-accordionTab>
                                <p-accordionTab header="{{ 'To do' | translate}}" [selected]="true">

                                    <div class="ui-g ">

                                        <div class="ui-g-12">
                                            <div class="ui-g-2 ui-md-3 ui-sm-12">
                                                <label>{{ 'Instructions' | translate }}</label>
                                            </div>
                                            <div class="ui-g-10 ui-md-9 ui-sm-12 instructionCss">
                                                {{ activityform.controls.instruction.value }}
                                            </div>
                                        </div>
                                        <div class="ui-g-12" *ngIf="editSubject">
                                            <div class="ui-g-2 ui-md-3 ui-sm-12">
                                                <label>{{ 'Subject' | translate }}</label>
                                            </div>
                                            <div class="ui-g-10 ui-md-9 ui-sm-12">
                                                <input type="text" formControlName="subject" placeholder="{{'Enter subject' | translate}}" class="md-inputfield" pInputText="pInputText">
                                            </div>
                                        </div>
                                        <!-- To Do -->
                                        <div class="ui-g-12 " *ngIf="readworkitem === 'readworkitem' ? true : false">

                                            <div class="ui-g-12 ui-md-12 ui-sm-12">
                                                <div class="ui-g todoBorder showRemove" *ngFor="let item of activitytype.docTypes">
                                                    <div class="ui-g-5 ui-md-5 ui-sm-5 ui-g-nopad" style="word-break: break-all;">
                                                        <span *ngIf="converToUppercase(item.type) === 'DOCUMENT'">
                                                                    <img src="assets\images\Docs-icon.png" height="20px" width="20px"></span>
                                                        <span *ngIf="converToUppercase(item.type) === 'FORM'">
                                                                        <img src="assets\images\forms.png" height="20px" width="20px"></span> {{item.name}}
                                                        <sup class="redstar" *ngIf="item.req === 1">*</sup>
                                                    </div>
                                                    <div class="ui-g-5 ui-md-5 ui-sm-5 ui-g-nopad" style="word-break: break-all;" *ngIf="converToUppercase(item.type) === 'FORM'">
                                                        <a class="colorblue pointer" (click)="documentForm(item)">
                                                            <u>{{item.name}}</u>
                                                        </a>
                                                        &nbsp; &nbsp; &nbsp;
                                                        <!-- <i *ngIf="showDocumentsTick" class="fa fa-check-circle green" aria-hidden="true"></i> -->
                                                    </div>

                                                    <div *ngIf="showDocumentsTick && converToUppercase(item.type) === 'FORM'">
                                                        <i class="fa ui-icon-check-circle greencheck"></i>
                                                    </div>
                                                    <!-- Attachments -->

                                                    <div class="ui-g-4 ui-md-4 ui-sm-12 ui-g-nopad removeClass" *ngIf="converToUppercase(item.type) === 'DOCUMENT'">
                                                        <div class="ui-g-12 ui-md-12 ui-sm-12 ui-g-nopad">
                                                            <div class="ui-g-4 ui-md-4 ui-sm-4 ui-g-nopad">
                                                                <button pButton type="button" icon="ui-icon-attach-file" *ngIf="item.showClass === 0" tooltipPosition="top" pTooltip="{{'Local Repository' | translate}}" class="pointer">
                                                                                    <input type="file" [id]="item.id" ng2FileSelect [uploader]="globelFileUploder" multiple (click)="tempObject(item.id , item.name)" class="upload"  (change)="inputfileChanged(item.id, item.docClass)" />

                                                                                    </button>
                                                                <button pButton type="button" icon="ui-icon-attach-file" *ngIf="item.showClass === 1" (click)="showClassProp(item);tempObject(item.id , item.name)" tooltipPosition="top" pTooltip="{{'Local Repository' | translate}}" class="pointer">

                                                                                        </button>
                                                            </div>
                                                            <div class="ui-g-4 ui-md-4 ui-sm-4 ui-g-nopad">
                                                                <button pButton="pButton" type="button" icon="ui-icon-collections" (click)="getRecent();tempObject(item.id , item.name)" tooltipPosition="top" pTooltip="{{'Repository' | translate}}" class="pointer"></button>
                                                            </div>

                                                            <div class="ui-g-4 ui-md-4 ui-sm-4 ui-g-nopad">
                                                                <button pButton type="button" icon="ui-icon-print" *ngIf="item.showClass === 0" (click)="scanImage(item.id, item.docClass);tempObject(item.id , item.name)" tooltipPosition="top" pTooltip="{{'Scan Document' | translate}}" class="pointer"></button>
                                                                <button pButton type="button" icon="ui-icon-print" *ngIf="item.showClass === 1" (click)="showClassPropScan(item);tempObject(item.id , item.name)" tooltipPosition="top" pTooltip="{{'Scan Document' | translate}}" class="pointer"></button>
                                                                <!-- <button pButton="pButton" type="button" icon="ui-icon-print" (click)="scanImage(item.docClass);tempObject(item.id , item.name)" tooltipPosition="top" pTooltip="{{'Scan Document' | translate}}" class="pointer"></button> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Display Attached files -->
                                                    <div class="ui-g-12 ui-md-12 ui-sm-12 ui-g-nopad dashboard global-sales" *ngIf="tempAttachments.length > 0">
                                                        <!-- *ngIf="showDocOrForms && converToUppercase(item.type) === 'DOCUMENT'" -->
                                                        <table>
                                                            <tbody>
                                                                <!-- {{tempAttachments[0].docTitle}} -->
                                                                <tr class="showRemove" *ngFor="let fileObject of tempAttachments">
                                                                    <td width="90% ;word-break: break-all;" style="word-break: break-all;" *ngIf="parseInt(fileObject.docType.id) === item.id && ((fileObject.docType.type !== 'FORM' && parseInt(fileObject.activityId) === parseInt(typeId)) || fileObject.docType.type === 'FORM')">
                                                                        {{fileObject.docTitle}}
                                                                    </td>
                                                                    <td class="text-center removeClass" width="10% " *ngIf="parseInt(fileObject.docType.id) === item.id && fileObject.docType.type !== 'FORM' && parseInt(fileObject.activityId) === parseInt(typeId)">
                                                                        <button pButton="pButton" type="button" icon="fa-close" (click)="removeAttachments(fileObject)"></button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Response -->
                                        <div class="ui-g-12" *ngIf="readworkitem === 'readworkitem' ? true : false">
                                            <div class="ui-g-2 ui-md-3 ui-sm-12">
                                                <label>{{ 'Response' | translate }}</label>
                                            </div>
                                            <div class="ui-g-10 ui-md-9 ui-sm-12">
                                                <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="responsesDropDown.length > 0">
                                                    <div class="ui-grid-row">
                                                        <div class="ui-grid-col-12">
                                                            <p-dropdown [options]="responsesDropDown" [autoWidth]="false" formControlName="responseDropdown" (onChange)="responseSelectChange()"></p-dropdown>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Comments -->
                                        <div class="ui-g-12" *ngIf="readworkitem === 'readworkitem' ? true : false">
                                            <div class="ui-g-2 ui-md-3 ui-sm-12">
                                                <label>{{'Comments' | translate }}
                                                                    <sup class="redstar">*</sup>
                                                                </label>
                                            </div>
                                            <div class="ui-g-10 ui-md-9 ui-sm-12 ui-g-nopad textarea">
                                                <textarea pInputTextarea="pInputTextarea" type="text" row="8" placeholder="Enter comments" [class]="activityform.disabled === true ? 'ui-g-12 ui-md-12 ui-sm-12 readonlyFileds' : 'ui-g-12 ui-md-12 ui-sm-12' " formControlName="comments"></textarea>
                                                <!-- <textarea pInputTextarea="pInputTextarea" type="text" row="8" placeholder="Enter comments" [class]="activityform.disabled === true ? 'ui-g-12 ui-md-12 ui-sm-12 readonlyFileds' : 'ui-g-12 ui-md-12 ui-sm-12' " formControlName="quillcomments" *ngIf="showRichtextComments"></textarea> -->
                                            </div>
                                        </div>

                                        <!-- deadLine -->
                                        <div class="ui-g-12 ui-g-nopad" *ngIf="responseSelect">
                                            <div class="ui-g-12" *ngIf="(readworkitem === 'readworkitem' && (responseSelect.roleId === -5 || responseSelect.roleId === -6)) ? true : false">
                                                <div class="ui-g-2 ui-md-3 ui-sm-12">
                                                    <label>{{'Deadline' | translate }}
                                                                    <!-- <sup class="redstar">*</sup> -->
                                                                </label>
                                                </div>
                                                <div class="ui-g-9 ui-g-nopad topGap">
                                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                                        <div class="ui-grid-row">
                                                            <div class="ui-grid-col-12">
                                                                <p-calendar [showIcon]="true" name="propname" placeholder="Date Time" *ngIf="ddmmyy" [showTime]="true" dateFormat="dd/mm/yy" id="deadlinename" formControlName="deadline" (onSelect)="dateAndTime($event,'ddmmyy')"></p-calendar>
                                                                <p-calendar [showIcon]="true" name="propname" placeholder="Date Time" *ngIf="!ddmmyy" [showTime]="true" dateFormat="mm/dd/yy" id="deadlinename" formControlName="deadline" (onSelect)="dateAndTime($event,'mmddyy')"></p-calendar>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Assigned To -->
                                        <div class="ui-g-12" *ngIf="readworkitem === 'readworkitem' ? false : true">
                                            <div class="ui-g-2 ui-md-3 ui-sm-12" *ngIf="showRecall || notify">
                                                <!--  -->
                                                <label>{{ 'Assigned To' | translate }}</label>
                                            </div>
                                            <div class="ui-g-10 ui-md-9 ui-sm-12" *ngIf="showRecall || notify">
                                                <div class="assignedRoles">
                                                    {{showassignedTo}} &nbsp;
                                                    <span *ngIf="showassignedTo !== 'None'">
                                                                        [
                                                                        {{showRoleMembers}}
                                                                        ]
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <!-- Route to -->
                                        <div class="ui-g-12 ui-border-bottom" *ngIf="readworkitem === 'readworkitem' ? true : false">
                                            <div class="ui-g-4 ui-md-4 ui-sm-4">
                                                <label>{{'ROUTE TO' | translate }}</label>
                                            </div>
                                            <div class="ui-g-4 ui-md-4 ui-sm-4"></div>
                                            <div class="ui-g-4 ui-md-4 ui-sm-4"></div>
                                        </div>

                                        <!-- Roles -->
                                        <div class="ui-g-12 ui-md-12 ui-sm-12" *ngIf="readworkitem === 'readworkitem' ? true : false">
                                            <div class="ui-g-2 ui-md-3 ui-sm-12">
                                                <label>{{'Role' | translate }}</label>
                                            </div>
                                            <div class="ui-g-10 ui-md-9 ui-sm-12 ui-g-nopad" *ngIf="multiRoleSelect ">
                                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                                    <div class=" ui-grid-row ">
                                                        <div class="ui-grid-col-12 ">
                                                            <p-autoComplete formControlName="roleDropdown" [multiple]="false" placeholder="{{'Please Select Single User' | translate }}" [(ngModel)]="routeToItem" field="name" [suggestions]="routeTodata" searchtext="searchtext" [dropdown]="true" (completeMethod)="onSearch($event)"></p-autoComplete>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui-g-10 ui-md-9 ui-sm-12 ui-g-nopad" *ngIf="!multiRoleSelect">
                                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                                    <div class=" ui-grid-row ">
                                                        <div class="ui-grid-col-12 ">
                                                            <p-autoComplete formControlName="roleDropdown" placeholder="{{'Please Select User' | translate }}" [(ngModel)]="routeToItem" field="name" [suggestions]="routeTodata" searchtext="searchtext" [dropdown]="true" (completeMethod)="onSearch($event)" [multiple]="true"></p-autoComplete>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                            <div class="ui-g-12 ui-md-12 ui-sm-12" *ngIf="readworkitem === 'readworkitem' ? true : false">
                                <div class="ui-g-4 ui-md-4 ui-sm-4"></div>
                                <div class="ui-g-4 ui-md-4 ui-sm-4 text-center">
                                    <button type="submit" pButton="pButton" icon="ui-icon-send" label="{{ 'Complete' | translate }}"></button>
                                </div>
                                <div class="ui-g-4 ui-md-4 ui-sm-4"></div>
                            </div>
                            <div class="ui-g-12 ui-md-12 ui-sm-12" *ngIf="readworkitem === 'readworkitem' ? false : true">
                                <div class="ui-g-4 ui-md-4 ui-sm-4"></div>
                                <div class="ui-g-4 ui-md-4 ui-sm-4 text-center" *ngIf="showRecall && activitytype.canRecall === 1">
                                    <button type="button" pButton="pButton" (click)="recallActivity()" label="{{'Recall' | translate}}"></button>
                                </div>
                                <div class="ui-g-4 ui-md-4 ui-sm-4"></div>
                            </div>

                            <div class="ui-g-12 ui-md-12 ui-sm-12" *ngIf="notify">
                                <div class="ui-g-4 ui-md-4 "></div>
                                <div class="ui-g-4 ui-md-4 ui-sm-12 text-center">
                                    <button type="button" pButton="pButton" (click)="notification()" label="{{'Send Notification' | translate}}"></button>
                                </div>
                                <div class="ui-g-4 ui-md-4"></div>
                            </div>
                        </form>
                    </div>
                    <div [class]="activityinfo.primaryDoc !== undefined ? 'ui-g-6 ui-md-6 ui-sm-12' : 'ui-g-12 ui-md-12'" *ngIf="activityinfo.primaryDoc !== undefined">
                        <!--  -->
                        <p-toolbar *ngIf="activityinfo.primaryFormat !== 'video/mp4' && activityinfo.primaryFormat !== 'audio/mpeg'">
                            <div class="ui-toolbar-group-left">
                                <button type="button" pButton="pButton" *ngIf="activitytype.updatePrimary === 1 && readworkitem !== 'readOnly'" icon="ui-icon-update" (click)="updatePrimaryDocumentModel.open()" pTooltip="{{ 'Update' | translate }}"></button>
                                <button class="ui-g-nopad" pButton="pButton" type="button" *ngIf="activityinfo.flag === 0 && docPropertyType === 'inbox'" icon="ui-icon-flag" (click)="flagActivitiy()" tooltipPosition="top" pTooltip="{{ 'Flag Activity' | translate}}"></button>

                                <button class="green-btn" pButton="pButton" type="button" *ngIf="activityinfo.flag === 1" icon="ui-icon-flag" (click)="removeflagActivitiy()" tooltipPosition="top" pTooltip="{{ 'Remove Flag' | translate}}"></button>
                                <button pButton="pButton" type="button" icon="ui-icon-skip-previous" (click)="changePageOfDocument('FIRST')" tooltipPosition="top" pTooltip="{{ 'First page' | translate}}"></button>
                                <button pButton="pButton" type="button" icon="fa-angle-left" (click)="changePageOfDocument('PREVIOUS')" tooltipPosition="top" pTooltip="{{ 'Previous page' | translate}}"></button>
                                <button pButton="pButton" type="button" icon="fa-angle-right" (click)="changePageOfDocument('NEXT')" tooltipPosition="top" pTooltip="{{ 'Next page' | translate}}"></button>
                                <button pButton="pButton" type="button" icon="ui-icon-skip-next" (click)="changePageOfDocument('LAST')" tooltipPosition="top" pTooltip="{{ 'Last page' | translate}}"></button>
                            </div>
                            <div class="ui-toolbar-group-right">
                                <div class="notify-container">
                                    <span class="notify-bubble">{{ annotationCount }}</span>
                                    <button pButton="pButton" type="button" icon="ui-icon-format-list-bulleted" tooltipPosition="top" (click)="listDocumentAnnotation()" pTooltip="{{'Annotation list' | translate}}"></button>
                                </div>
                                <!-- <button class="ui-g-nopad" pButton="pButton" type="button" icon="ui-icon-streetview" (click)="annotationClicked()" tooltipPosition="top" pTooltip="{{ 'Page Preview' | translate}}"></button> -->
                                <button class="ui-g-nopad" pButton="pButton" type="button" *ngIf="activitytype.updatePrimary !== 2 " icon="ui-icon-file-download" (click)="downloadSignedDocument(activityinfo.primaryDoc) " tooltipPosition="top" pTooltip="{{'Download' | translate}}"></button>
                                <button class="ui-g-nopad" pButton="pButton" type="button" *ngIf="activitytype.updatePrimary === 2 " icon="ui-icon-file-download" (click)="downloadSimpleDocument(activityinfo.primaryDoc) " tooltipPosition="top" pTooltip="{{'Download' | translate}}"></button>
                                <button class="ui-g-nopad" pButton="pButton" type="button" icon="ui-icon-font-download" (click)="downloadWithDocument(activityinfo.primaryDoc)" tooltipPosition="top" pTooltip="{{'Download with annotation' | translate}}"></button>
                                <button class="ui-g-nopad" pButton="pButton" type="button" icon="ui-icon-print" (click)="printPrimaryDocument(activityinfo.primaryDoc)" tooltipPosition="top" pTooltip="{{'Print' | translate}}"></button>
                            </div>
                        </p-toolbar>
                        <div>
                            <app-doc-viewer [type]="'correspondence'" [docId]="docId" [primaryType]="activityinfo.primaryFormat" [pageNumber]="pageNor" [timestamp]="timestamp" (documentClicked)="documnetAnnoationType = 'docs';documentAnnotationClicked($event, 'activityScreen')"
                                [changePage]="changePage" (printTrue)="docPrint($event)" (annotionValue)="docAnnotation($event)"></app-doc-viewer>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel class="ui-g-nopad global-sales " header="{{'Documents' | translate }}" leftIcon="ui-icon-edit" *ngIf="showDocuments">
                <div class="ui-g" *ngIf="attachmentsShow">
                    <div class="ui-g-12 ui-g-nopad" *ngFor="let value of attachmentsShow">
                        <div class="ui-g-12 ui-g-nopad">
                            <!-- <div class="ui-g-1 ui-g-nopad">
                                <i class="material-icons fa-dot-circle-o"></i>
                            </div> -->
                            <div class="ui-g-11 ">
                                <b>{{value.name}}</b>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad" *ngFor="let item of value.arrayValue">
                            <div class="ui-g-12 ui-g-nopad showRemove" *ngIf="item.docType.name === value.name">
                                <!-- <div class="ui-g-1 ui-g-nopad">
                                    <img src='assets\images\forms.png' *ngIf="converToUppercase(item.docType.type) ==='FORM' " alt="folder " style="width:20px; height: 20px "> &nbsp;
                                    <img src='assets\images\Docs-icon.png' *ngIf="converToUppercase(item.docType.type) ==='DOCUMENT' " alt="folder " style="width:20px; height: 20px; float: left; "> &nbsp;
                                </div> -->
                                <div class="ui-g-6 ui-g-nopad">
                                    <div class="ui-g-12 ui-g-nopad">
                                        <div class="ui-g-1 ui-g-nopad textRight">
                                            <img src='assets\images\forms.png' *ngIf="converToUppercase(item.docType.type) ==='FORM' " alt="folder " style="width:20px; height: 20px; margin-left: 21px; "> &nbsp;
                                            <img src='assets\images\Docs-icon.png' *ngIf="converToUppercase(item.docType.type) ==='DOCUMENT' " alt="folder " style="width:20px; height: 20px; "> &nbsp;
                                        </div>
                                        <div class="ui-g-11 ui-g-nopad">
                                            {{item.docTitle}}
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-2 ui-g-nopad">
                                    <button class="ui-g-nopad removeClass" pButton type="button" tooltipPosition="top" pTooltip="{{'Download' | translate}}" icon="ui-icon-file-download" *ngIf="converToUppercase(item.docType.type) !=='FORM' " (click)="downloadDocument(item.docId)
                                    "></button>
                                    <button class="ui-g-nopad removeClass" pButton="pButton" type="button" icon="ui-icon-file-download" tooltipPosition="top" pTooltip="{{'Download' | translate}}" *ngIf="converToUppercase(item.docType.type) ==='FORM' " (click)="downloadSignedDocument(item.docId) "></button>

                                </div>
                                <div class="ui-g-2 ui-g-nopad">
                                    <button class="ui-g-nopad removeClass" pButton="pButton" type="button" icon="ui-icon-visibility" tooltipPosition="top" pTooltip="{{'View' | translate}}" (click)="formView(item.docType.type, item.docId , item.format , item.docType.name, item) "></button>
                                </div>
                                <div class="ui-g-2 ui-g-nopad" *ngIf="readworkitem === 'readworkitem' ? true : false">
                                    <button class="ui-g-nopad removeClass" pButton="pButton" type="button" icon="ui-icon-insert-link" tooltipPosition="top" pTooltip="{{'Set this as primary document' | translate}}" (click)="setThisPrimary(item) "></button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel class=" ui-g-nopad global-sales" header="{{'History' | translate }} " leftIcon="ui-icon-refresh">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="tableData">
                                {{ 'Activity Type' | translate }}
                            </th>
                            <th class="tableData">
                                {{ 'Action by' | translate }}
                            </th>

                            <th class="tableData">
                                {{ 'Action' | translate }}
                            </th>
                            <th class="tableData">
                                {{ 'Action On' | translate }}
                            </th>
                            <th class="tableData">
                                {{ 'Pending with' | translate }}
                            </th>
                            <th class="tableData">
                                {{ 'Description' | translate }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let history of activityhistory ">
                            <td class="tableData">
                                {{history.activityType}}
                            </td>
                            <td class="tableData">
                                {{history.userName}}
                            </td>

                            <td class="tableData">
                                {{history.action}}
                            </td>
                            <td class="tableData">
                                {{history.actionOn}}
                            </td>
                            <td class="tableData">
                                {{history.pendingWith}}
                            </td>
                            <td class="tableData">
                                {{history.details}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </p-tabPanel>
            <!-- <p-tabPanel class="ui-g-nopad global-sales " header="{{'Document Property' | translate }} " leftIcon="ui-icon-refresh" *ngIf="docPropsShow === true ">
                    <app-doc-property [documentId]="documentId" [type]="'document'" (documentAnnotate)="documentAnnotationDocument($event)"></app-doc-property>
                </p-tabPanel> -->
            <p-tabPanel [header]="doc.docTitle" [leftIcon]="doc.icon" *ngFor="let doc of docProps; let i = index" [closable]="true" (onChange)="tabClosed($event)">
                <app-document-annotation *ngIf="doc.type === 'document' && !onlyTabAnnotations" [docId]="doc.id" [activityId]="typeId" [documentType]="annotationDocumentType" [currentPage]="1" [annotationType]="annotationType" [viewType]="'document'" (pageChangeEmit)="pageChangeEmitted($event)"
                    (documentTypeChangeEmit)="documentTypeChangeEmitted($event)" [showPropBack]="'true'" [timeStamp]="timestamp" (showProps)="showPropsTab($event)" [showSignatureOptions]="activityinfo.primaryFormat"></app-document-annotation>

                <app-doc-property *ngIf="doc.type === 'document' && onlyTabAnnotations" [documentId]="doc.id" [type]="'document'" (documentAnnotate)="documentAnnotationDocument($event, 'Document')" [reloadComponent]="timestamp" (showPrintIs)="printPrimaryDocument($event)"
                    (showPerticularAnnotation)="showAnnotation($event)"></app-doc-property>

                <app-dynamic-form *ngIf="doc.type === 'form'" [dynamicFormJSON]="doc.formObject" [createformtitle]="doc.title" (formJSONOutput)="formDynamicSubmit($event)" [activitytype]="'ACTIVITY'" (formCancel)="cancelForm($event)" [readOnly]="'true'"></app-dynamic-form>
            </p-tabPanel>
            <p-tabPanel class="ui-g-nopad global-sales " [header]="createformtitle" leftIcon="ui-icon-refresh " *ngIf="createformtabshow === true ">
                <app-dynamic-form [dynamicFormJSON]="formObject" [createformtitle]="createformtitle" (formJSONOutput)="formDynamicSubmit($event)" [activitytype]="'ACTIVITY'" (formCancel)="cancelForm($event)"></app-dynamic-form>
            </p-tabPanel>
            <!-- <p-tabPanel class="ui-g-nopad global-sales " [header]="createformtitle" leftIcon="fa-info-circle" *ngIf="readonlyformtabshow === true ">
                    <app-dynamic-form [dynamicFormJSON]="formObject" [createformtitle]="createformtitle" (formJSONOutput)="formDynamicSubmit($event)" [activitytype]="'ACTIVITY'" (formCancel)="cancelForm($event)" [readOnly]="'true'"></app-dynamic-form>
                </p-tabPanel> -->
            <p-tabPanel class="ui-g-nopad global-sales " header="{{'Print preview' | translate }} " *ngIf="printPreviewTab" leftIcon="ui-icon-pageview">
                <iframe width="100%" height="580" [attr.src]="pdfUrl" type="application/pdf"></iframe>
            </p-tabPanel>
            <p-tabPanel class="ui-g-nopad global-sales " header="{{'Repository Search' | translate }} " *ngIf="generic" leftIcon="ui-icon-pageview">
                <p-tabView>
                    <p-tabPanel header="Recent Documents" leftIcon="ui-icon-check" style="max-height: 400px;overflow-y: scroll">
                        <app-recent-documents [sysDate]="systemDate" (fileList)="documentSearchList($event)"></app-recent-documents>
                    </p-tabPanel>
                    <p-tabPanel header="Repository Documents" leftIcon="ui-icon-check">
                        <app-document-search (fileList)="documentSearchList($event)"></app-document-search>
                    </p-tabPanel>
                </p-tabView>
                <div class="ui-md ui-sm">
                    <div class=" ui-g-12 ui-lg-12 ui-sm-12  text-center ui-md ui-sm">
                        <div class="ui-g-12 ui-lg ui-sm text-center">
                            <div class="ui-lg-4 ui-g-12 ui-sm-4"></div>
                            <div class="ui-lg-3  ui-g-12 ui-sm-3">
                                <button type="button" pButton="pButton" icon="fa-close" (click)="closeGeneric()" label="{{'Close' | translate }}"></button>
                            </div>
                            <div class="ui-lg-3  ui-g-12 ui-sm-3">
                                <button *ngIf="documentsSelected.length >= 1" type="button" pButton="pButton" icon="ui-icon-attach-file" (click)="attachRepDoc(); " label="{{'Attach' | translate }}"></button>
                            </div>
                            <div class="ui-lg-2  ui-g-12 ui-sm-2">
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel class="ui-g-nopad global-sales ui-g-nopad" header="{{'Document View' | translate }} " *ngIf="annotationPreviewTab" leftIcon="ui-icon-pageview">


                <app-document-annotation [docId]="annotationDocId" [activityId]="typeId" [documentType]="annotationDocumentType" [currentPage]="AnnotationCurrentPage" [annotationType]="annotationType" [viewType]="activityScreen" (pageChangeEmit)="pageChangeEmitted($event)"
                    (documentTypeChangeEmit)="documentTypeChangeEmitted($event)" (completeActivityEmit)="activiveFormSubmit(activitytype.nextScreen)" [timeStamp]="timestamp" [showSignatureOptions]="activityinfo.primaryFormat"></app-document-annotation>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
<!-- </p-panel> -->

<ngx-smart-modal #tempelateRenderModel identifier="tempelateRenderModel">
    <h3>{{ templateName | translate }}</h3>
    <form [formGroup]="tempelateRender" (ngSubmit)="activityComplete($event)">
        <div class="global-sales ">
            <div class="ui-g ui-lg-12 ui-sm-12">
                <div class="ui-g-12 ui-lg-12 ui-sm-12" *ngFor="let prop of responseSelectProps;let k = index">
                    <div class="ui-lg-2 ui-sm-2 ui-g-2">
                        <label>{{prop.label | translate}}
                                                                                                                                <sup class="redstar" *ngIf="prop.req === 'TRUE' ? true : false">*</sup>
                                                                                                                            </label>
                    </div>
                    <div class="ui-lg-8 ui-sm-8 ui-md-8 ui-g-8">
                        <input type="text" *ngIf="prop.uitype.uitype === 'TEXT' " [formControlName]="prop.name" [id]="prop.name" [name]="prop.name" placeholder="{{'Enter' | translate}} {{prop.label | translate}} " class="md-inputfield" [attr.maxlength]="prop.length" pInputText="pInputText">
                        <input type="text" pKeyFilter="int" [name]="prop.name" [id]="prop.name" [formControlName]="prop.name" *ngIf="prop.uitype.uitype === 'NUMBER' " placeholder="{{'Enter' | translate}} {{prop.label | translate}}" class="form-control" [attr.maxlength]="prop.length"
                            pInputText="pInputText">
                        <div *ngIf="prop.uitype.uitype === 'TEXTAREA'">
                            <!-- <textarea [rows]="3" [cols]="30" pInputTextarea [id]="prop.name"
                                                                                                                                        [innerHTML]="prop.value[0].value" disabled autoResize="autoResize"></textarea>
                                                                                                                                        -->
                            <!-- <quill-editor [id]="prop.name"
                                                                                                                                        [formControlName]="prop.name"></quill-editor> -->
                            <textarea pInputTextarea="pInputTextarea" type="text" [id]="prop.name" [formControlName]="prop.name" rows="8" placeholder="{{'Enter' | translate}} {{prop.label | translate}}"></textarea>

                            <!-- <p-editor [style]="{'height':'250px'}" [id]="prop.name"
                                                                                                                                        [formControlName]="prop.name"></p-editor> -->
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'TIME'">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-calendar [id]="prop.name" showTime="true" [timeOnly]="true" [formControlName]="prop.name" placeholder="{{'Select' | translate}} {{prop.label | translate}}"></p-calendar>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'TIME'">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-calendar [id]="prop.name" showTime="true" [timeOnly]="true" [formControlName]="prop.name" placeholder="{{'Select' | translate}} {{prop.label | translate}}"></p-calendar>
                                </div>
                            </div>
                        </div>

                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DATE' ">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-calendar [showIcon]="true" [name]="prop.name" placeholder="Date" *ngIf="ddmmyy" dateFormat="dd/mm/yy" [id]="prop.name" [formControlName]="prop.name"></p-calendar>

                                    <p-calendar [showIcon]="true" [name]="prop.name" placeholder="Date" *ngIf="!ddmmyy" dateFormat="mm/dd/yy" [id]="prop.name" [formControlName]="prop.name"></p-calendar>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'LOOKUP'">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-dropdown [options]="prop.lookupOptions" [formControlName]="prop.name" [autoWidth]="false" [id]="prop.name" (onChange)="dbLookupDropdown($event, k )"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DBLOOKUP'">
                            <div class=" ui-grid-row ">

                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'STEXTTA'">
                            <div class=" ui-grid-row ">

                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'MTEXTTA'">
                            <div class=" ui-grid-row ">

                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'CHECKBOX'">
                            <div class=" ui-grid-row ">
                                <div class="ui-grid-col-12 ">

                                    <p-checkbox [name]="prop.name" [id]="prop.name" *ngIf="prop.value.length > 0" [disabled]="tempelateRender.controls[prop.name].disabled === true ? true : false" [(ngModel)]="prop.value[0].value" [ngModelOptions]="{standalone: true}" binary="true" [style]="{'float': 'right'}"></p-checkbox>
                                    <p-checkbox [name]="prop.name" [id]="prop.name" *ngIf="prop.value.length === 0" [formControlName]="prop.name" [style]="{'float': 'left'}"></p-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-lg-2 ui-g-2"></div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                <button type="Submit" pButton="pButton" icon="ui-icon-save" [disabled]="!tempelateRender.valid" label="{{'Submit' | translate }}"></button>
                <button type="button" pButton="pButton" icon="ui-icon-cancel" (click)="tempelateRenderModel.close()" label="{{'Close' | translate }}"></button>
            </div>
        </p-footer>
    </form>
</ngx-smart-modal>


<ngx-smart-modal #updatePrimaryDocumentModel identifier="updatePrimaryDocumentModel">
    <h3>{{'Check-in' | translate }}</h3>
    <div class="global-sales ">
        <div class="ui-g-12">
            <div id="docClass" class="ui-g-3 ui-md-3 ui-sm-3">{{ 'Upload document' | translate }}</div>
            <div id="docclass" class="ui-g-7 ui-md-7 ui-sm-7">
                <input type="file" ng2FileSelect="ng2FileSelect" [uploader]="updatePrimaryDocument" (change)="clickedFile()" />
            </div>
            <div id="docclass" class="ui-g-2 ui-md-2 ui-sm-2">
                <button pButton="pButton" type="button" icon="ui-icon-print" (click)="updateScanImage('update')" tooltipPosition="top" pTooltip="{{'Scan Document' | translate}}"></button>

            </div>
        </div>
        <div class="dashboard" *ngIf="showUpdateScanned">
            <div class="global-sales">
                <table>
                    <thead>
                        <th>{{ 'Name' | translate }}</th>
                        <th>{{ 'Type' | translate }}</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let value of updatePrimaryDocument.queue">
                            <td>
                                {{value.file.name}}
                            </td>
                            <td>
                                {{value.file.type}}
                            </td>
                            <td>
                                <button pButton="pButton" type="button" icon="fa-close" (click)="value.remove()"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
            <button type="button" class="wrapper" pButton="pButton" icon="ui-icon-update" (click)="checkInSubmit($event); updatePrimaryDocumentModel.close()" label="{{'Update' | translate }}"></button>
            <button type="button" class="wrapper" pButton="pButton" icon="fa-close" (click)="updatePrimaryDocumentModel.close()" label="{{'Close' | translate }}"></button>
        </div>
    </p-footer>
</ngx-smart-modal>


<ngx-smart-modal #annotationListActivityModel identifier="annotationListActivityModel">
    <h3>{{ 'Annotation list' | translate }}</h3>
    <div class="dashboard">
        <div class="global-sales">
            <table class="ui-g-12">
                <thead>
                    <tr>
                        <td></td>
                        <td>
                            {{ 'User Name' | translate }}
                        </td>
                        <td>
                            {{ 'Comment' | translate }}
                        </td>
                        <td>
                            {{ 'Type' | translate }}
                        </td>
                        <td>
                            {{ 'Page Number' | translate }}
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer showRemove" *ngFor="let annotation of listOfDcumentAnnotation;let i = index;">
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListActivityModel.close()">
                            {{ i+ 1 }}
                        </td>
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListActivityModel.close()">
                            {{annotation.userName}}
                        </td>
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListActivityModel.close()">
                            {{annotation.comment}}
                        </td>
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListActivityModel.close()">
                            {{annotation.type}}
                        </td>
                        <td (click)="documnetAnnoation(annotation.pageNo , annotation.type, $event); annotationListActivityModel.close()">
                            {{annotation.pageNo}}
                        </td>
                        <td>
                            <button type="button" class="removeClass" pButton="pButton" icon="ui-icon-visibility" (click)=" annotationListActivityModel.close();documnetAnnoation(annotation.pageNo , annotation.type , $event);"></button>
                            <button type="button" class="removeClass" pButton="pButton" icon="ui-icon-delete" (click)="deleteAnnoation(annotation.id)" *ngIf="annotation.userName === us.getCurrentUser().fulName || us.getCurrentUser().isAdmin === 'Y'"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #hashTwainModel identifier="hashTwainModel" (onClose)="websocketNotOpen = false">
    <h3>{{ 'Hash Twain' | translate }}</h3>
    <div class="modal-body ">
        We request you to download Hash Twain Software,
        <a href="assets/HashTwain/HashTwain Setup.msi ">
                     Click here to download</a>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #documentAddWithProps identifier="documentAddWithProps">
    <h3>{{ 'Add Document' | translate }}</h3>
    <div class=" ui-g-12 ui-md-12 ui-sm-12">
        <form [formGroup]="documentAdd" (ngSubmit)="documentSubmit($event)">
            <!-- <div class="ui-g">
                    <div id="docClass" class="ui-g-4 ui-md-4 ui-sm-12">{{ 'DocClass' | translate}} </div>
                    <div id="docclass" class="ui-g-8 ui-md-8 ui-sm-12">
                        {{docClassName}}</div>
                </div> -->
            <div class="ui-g-12 ui-md-12 ui-sm-12 ui-g-nopad">
                <div class="ui-g-12">
                    <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                    <div class="ui-g-3 ui-md-3 ui-sm-12">
                        {{ 'DocClass' | translate}}
                    </div>
                    <div class="ui-g-7 ui-md-7 ui-sm-12">
                        <div class="ui-g-6">
                            {{docClassName}}
                        </div>
                        <div class="ui-g-6">
                            <input #checkInFileUploder type="file" name="fileupload" (change)="fileChanegd($event)">
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <br>
            <div class="ui-g-12" *ngFor="let classProp of  documentClassProp">
                <div class="ui-g-12 ui-md-12 ui-sm-12 ui-g-nopad">
                    <div class="ui-g-12" *ngIf="classProp.dtype !== 'OBJECT'">
                        <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                        <div class="ui-g-3 ui-md-3 ui-sm-12">
                            {{classProp.name}} <label class="redStar" *ngIf="classProp.req ==='true'">*</label>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'STRING'">
                            <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.lookups === undefined" type="text" placeholder="Enter {{classProp.desc}}">
                            <!-- <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName === 'documenttitle' && classProp.lookups === undefined" type="text" [value]="attachmentfileName" placeholder="Enter {{classProp.desc}}"> -->
                            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups !== undefined">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-dropdown class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" [options]="classProp.lookups" [autoWidth]="false" placeholder="Select {{classProp.symName}}"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'DATE'">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-calendar [showIcon]="true" id="{{classProp.symName}}" placeholder="Date" [formControlName]="classProp.symName" *ngIf="ddmmyy" dateFormat="dd/mm/yy"></p-calendar>
                                        <p-calendar [showIcon]="true" id="{{classProp.symName}}" placeholder="Date" [formControlName]="classProp.symName" *ngIf="!ddmmyy" dateFormat="mm/dd/yy"></p-calendar>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'LONG'">
                            <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === ''">
                            <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                        </div>
                    </div>
                    <br *ngIf="classProp.dtype !=='OBJECT' ">
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                    <button pButton type="button" label="{{'Clear' | translate }}" (click)="documentAdd.reset()"></button>
                    <button pButton type="submit" [disabled]="!documentAdd.valid" label="{{'Add' | translate }}"></button>

                </div>
            </p-footer>
        </form>
    </div>
</ngx-smart-modal>

<!-- <ngx-smart-modal #commentsModel identifier="commentsModel">
        <h3>{{ 'Comment' | translate }}</h3>
        <p> {{selectedComments}}</p>
    </ngx-smart-modal> -->

<ngx-smart-modal #documentAddScanWithProps identifier="documentAddScanWithProps">
    <h3>{{ 'Add Document' | translate }}</h3>
    <div class=" ui-g-12 ui-md-12 ui-sm-12">
        <form [formGroup]="documentAdd" (ngSubmit)="documentSubmit($event)">
            <div class="ui-g">
                <div id="docClass" class="ui-g-4 ui-md-4 ui-sm-12">{{ 'DocClass' | translate}} </div>
                <div id="docclass" class="ui-g-8 ui-md-8 ui-sm-12">
                    {{docClassName}}</div>
                <button pButton type="button" icon="ui-icon-print" (click)="scanImageWithProp();" tooltipPosition="top" pTooltip="{{'Scan Document' | translate}}"></button>
            </div>
            <br>
            <!-- <input #addDocument type="file" name="fileupload" (change)="fileChanegd($event)"> -->
            <br>
            <div class="ui-g-12" *ngFor="let classProp of  documentClassProp">
                <div class="ui-g-12 ui-md-12 ui-sm-12 ui-g-nopad">
                    <div class="ui-g-12" *ngIf="classProp.dtype !== 'OBJECT'">
                        <div class="ui-g-1 ui-md-1 ui-sm-12"></div>
                        <div class="ui-g-3 ui-md-3 ui-sm-12">
                            {{classProp.name}} <label class="redStar" *ngIf="classProp.req ==='true'">*</label>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'STRING'">
                            <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups === undefined" type="text" placeholder="Enter {{classProp.desc}}">
                            <input class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" pInputText *ngIf="classProp.symName === 'documenttitle' && classProp.lookups === undefined" type="text" [value]="attachmentfileName" placeholder="Enter {{classProp.desc}}">
                            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="classProp.symName !== 'documenttitle' && classProp.lookups !== undefined">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-dropdown class="ui-g-12" id="{{classProp.symName}}" [formControlName]="classProp.symName" [options]="classProp.lookups" [autoWidth]="false" placeholder="Select {{classProp.symName}}"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'DATE'">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-calendar [showIcon]="true" id="{{classProp.symName}}" placeholder="Date" [formControlName]="classProp.symName" *ngIf="ddmmyy" dateFormat="dd/mm/yy"></p-calendar>
                                        <p-calendar [showIcon]="true" id="{{classProp.symName}}" placeholder="Date" [formControlName]="classProp.symName" *ngIf="!ddmmyy" dateFormat="mm/dd/yy"></p-calendar>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === 'LONG'">
                            <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-sm-12" *ngIf="classProp.dtype === ''">
                            <input class="ui-g-12" id="{{classProp.symName}}" pInputText type="number" [formControlName]="classProp.symName" placeholder="Enter {{classProp.name}} ">
                        </div>
                    </div>
                    <br *ngIf="classProp.dtype !=='OBJECT' ">
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix float-right">
                    <button pButton type="button" label="{{'Clear' | translate }}" (click)="documentAdd.reset()"></button>
                    <button pButton type="submit" [disabled]="!documentAdd.valid" label="{{'Add' | translate }}"></button>
                </div>
            </p-footer>
        </form>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #formDocumentModel identifier="formDocumentModel">
    <h3>{{ 'Attached Document' | translate }}</h3>
    <app-doc-viewer [type]="'correspondence'" [docId]="formDocumentId" [timestamp]="timestamp"></app-doc-viewer>
</ngx-smart-modal>