.text-center {
    text-align: center;
}

.paddingLeft {
    padding-left: 0;
}

label {
    font-weight: bold;
}

.todoBorder {
    border: 1px solid #ccc;
    padding: 5px;
}

.redstar {
    color: red;
}

.instructionCss {
    background: linear-gradient(to right, #fce4ed, #ffe8cc);
}

.textarea {
    border: 1px solid #00bcff;
}

.pointer {
    cursor: pointer;
}

input.upload {
    position: absolute;
    z-index: 999;
    margin-left: -43%;
    margin-top: 10%;
    opacity: 0;
}

.ui-inputtext {
    width: 100% !important;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* table */

table {
    width: 100% !important;
    text-align: left !important;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* #customers tr:hover {
    background-color: #ddd;
} */

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}


/* Spinner CSS */

.lds-roller {
    display: inline-block;
    height: 64px;
    left: 48%;
    top: 47%;
    margin-left: 50%;
    margin-right: 50%;
    position: inherit;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #455a64;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.splash-screen {
    width: 100%;
    min-height: 100%;
    position: absolute;
}

.greencheck {
    color: #61af48 !important;
}


/* Notification Bulllon */

.notify-container {
    position: relative;
    display: inline-block;
}

.notify-bubble {
    position: absolute;
    top: -8px;
    right: -7px;
    padding: 2px 5px 2px 6px;
    background-color: red;
    color: white;
    font-size: 0.85em;
    z-index: 999;
    border-radius: 50%;
    box-shadow: 1px 1px 1px gray;
}

.btn {
    background: #ccc;
    &:hover {
        background: darken(silver, 10%);
    }
    &:active,
    &:focus,
    &:focus:active {
        outline: none;
        box-shadow: none;
    }
}

.redStar {
    color: red;
}

.utlPosLeft {
    position: absolute;
    z-index: 1000;
    right: 2%;
    font-weight: bold;
    margin-top: 10px;
}

.urlPosRight {
    position: absolute;
    z-index: 1000;
    right: 16%;
    font-weight: bold;
    margin-top: 10px;
}

.topGap {
    padding-top: 10px !important;
}