<div class="ui-g ui-g-12">
    <p-tree [value]="files" [style]="{'width': '500px'}" #expandingTree selectionMode="single" [(selection)]="selectedNode" (selectionChange)="onNodeClicked($event)"></p-tree>
</div>